<?php if (count($list) > 1) : ?>
<?php
    $orientation = $this->getOption('orientation', 'horizontal');
    if ($fullWidth) {
        $width = '100';
        $widthUnit = '%';
    } else {
        $widthUnit = 'px';
    }
?>

<script type="text/javascript">
<?php
if ($orientation == 'horizontal') {

    $css = <<< CSS
.simply-scroll-list {
    overflow: visible;
}
.simply-scroll-{$id} {
    width: {$width}{$widthUnit};
    height: {$height}px;
}

.simply-scroll-{$id} .simply-scroll-clip {
    width: {$width}{$widthUnit};
    height: {$height}px;
}
CSS;

    $vert = '';

} else {

    $css = <<< CSS
.simply-scroll-{$id}.vert { /* wider than clip to position buttons to side */
    width: {$width}{$widthUnit};
    height: {$height}px;
}

.simply-scroll-{$id}.vert .simply-scroll-clip {
    width: {$width}{$widthUnit};
    height: {$height}px;
}
CSS;

    $vert = ' vert';
}

$css = Mage::helper('core')->jsonEncode('<style type="text/css">' . $css . '</style>');

?>
jqAdvSlider('head').append(<?php echo $css; ?>);
</script>

<script type="text/javascript">
(function($) {
    $(function() {
        $("#slider_<?php echo $id; ?>").simplyScroll({
            customClass: 'simply-scroll-<?php echo $id; ?> simply-scroll<?php echo $vert?>',
            orientation: '<?php echo $orientation; ?>',
            direction: '<?php echo $this->getOption('scroll_direction', 'forwards'); ?>',
            pauseOnHover: <?php echo $this->getOption('pause_on_hover', 1); ?>,
            auto: 1,
            autoMode: '<?php echo $this->getOption('auto_scroll_mode', 'loop'); ?>',
            frameRate: <?php echo $this->getOption('auto_scroll_frame_rate', 24); ?>,
            speed: 1,
            pauseButton: false
        });
    });
})(jqAdvSlider);
</script>

<ul id="slider_<?php echo $id; ?>">
<?php if ($orientation == 'horizontal') : ?>
<?php foreach ($list as $item) : ?>
    <?php if ($item['isImage']) : ?>
    <?php
        $alt            = $this->getSlideOption($item, 'image_alt', $item['title']);
        $imageWidth     = round($item['imageWidthOrigin'] * $height / $item['imageHeightOrigin']);
        $imageUrl       = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $imageWidth, $height);
        list($imageWidth, $imageHeight) = Mage::helper('advancedslider')->getImageDimensions($imageUrl);
    ?>
    <li class="samanta-image" style="height: <?php echo $height; ?>px; width: <?php echo $imageWidth; ?>px;">
        <?php if ($item['link'] && $item['linkTarget']) : ?><a class="slide_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"><?php endif; ?>
        <img title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>" width="<?php echo $imageWidth; ?>" height="<?php echo $imageHeight; ?>" />
        <?php if ($item['link'] && $item['linkTarget']) : ?></a><?php endif; ?>
    </li>
    <?php endif; ?>
    <?php if ($item['isHtml']) : ?>
    <li style="height: <?php echo $height; ?>px; width: auto;">
        <div class="samanta-html wp_block_html" style="height: <?php echo $height; ?>px; width: auto;">
            <?php echo $item['html']; ?>
            <?php if ($item['link'] && $item['linkTarget']) : ?><a class="wp_block_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"></a><?php endif; ?>
        </div>
    </li>
    <?php endif; ?>
<?php endforeach; ?>

<?php else : ?>

<?php foreach ($list as $item) : ?>
    <?php if ($item['isImage']) : ?>
    <?php
        $alt            = $this->getSlideOption($item, 'image_alt', $item['title']);
        $imageHeight    = round($item['imageHeightOrigin'] * $width / $item['imageWidthOrigin']);
        $imageUrl       = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $width, $imageHeight);
        list($imageWidth, $imageHeight) = Mage::helper('advancedslider')->getImageDimensions($imageUrl);
    ?>
    <li class="samanta-image" style="height: <?php echo $imageHeight; ?>px; width: <?php echo $width; ?>px;">
        <?php if ($item['link'] && $item['linkTarget']) : ?><a class="slide_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"><?php endif; ?>
        <img title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>" width="<?php echo $imageWidth; ?>" height="<?php echo $imageHeight; ?>" />
        <?php if ($item['link'] && $item['linkTarget']) : ?></a><?php endif; ?>
    </li>
    <?php endif; ?>
    <?php if ($item['isHtml']) : ?>
    <li style="height: auto; width: <?php echo $width . $widthUnit; ?>;">
        <div class="samanta-html wp_block_html" style="height: auto; width: <?php echo $width . $widthUnit; ?>;">
            <?php echo $item['html']; ?>
            <?php if ($item['link'] && $item['linkTarget']) : ?><a class="wp_block_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"></a><?php endif; ?>
        </div>
    </li>
    <?php endif; ?>
<?php endforeach; ?>
<?php endif; ?>
</ul>
<?php endif; ?>
