<?php
    $imgHeight      = $this->getOption('image_height', $height);
    $fixedHeight    = $this->getOption('content_height', 0);
    $wrapHeight     = $fixedHeight ? $height . 'px' : 'auto';
    if ($fullWidth) {
        $width = '100';
        $widthUnit = '%';
    } else {
        $widthUnit = 'px';
    }
?>
<div class="tabs_block tab_<?php echo $id; ?>" style="width: <?php echo $width . $widthUnit; ?>; height: <?php echo $wrapHeight; ?>; overflow: hidden;">
    <div id="slider_<?php echo $id; ?>_tabs" class="tabs_ul">
        <ul class="tabs_trisha tabs_<?php echo $id; ?>">
        <?php foreach ($list as $slideId => $item) : ?>
            <li><a href="#fragment-<?php echo $id . '_' . $slideId; ?>"><?php echo $item['title']; ?></a></li>
        <?php endforeach; ?>
        </ul>
    </div>
    <div class="content-wrap">
    <?php foreach ($list as $slideId => $item) : ?>
        <?php if ($item['isImage']) : ?>
            <?php if ($item['link'] && $item['linkTarget']) : ?>
            <a class="slide_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>">
            <?php endif; ?>
            <?php
                $iW         = ($fullWidth ? $item['imageWidth'] : $width);
                $iH         = ($fullWidth ? $item['imageHeight'] : $imgHeight);
                $imageUrl   = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $iW, $iH);
                $alt        = $this->getSlideOption($item, 'image_alt', $item['title']);
            ?>
            <img id="fragment-<?php echo $id . '_' . $slideId; ?>" class="tabs_info" title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>" width="<?php echo $iW; ?>" height="<?php echo $iH; ?>" />
            <?php if ($item['link'] && $item['linkTarget']) : ?>
            </a>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($item['isHtml']) : ?>
            <div id="fragment-<?php echo $id . '_' . $slideId; ?>" class="tabs_info">
                <div class="wp_block_html">
                    <?php echo $item['html']; ?>
                    <?php if ($item['link'] && $item['linkTarget']) : ?>
                    <a class="wp_block_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"></a>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
    </div>
    <?php if (count($list) > 1) : ?>
    <script type="text/javascript">
        jqAdvSlider(document).ready(function() {
            jqAdvSlider("#slider_<?php echo $id; ?>_tabs").tabs({
                fxFade: true,
                fxSpeed: '<?php echo $this->getOption('switch_speed', 'fast'); ?>',
                selected: '1'
            });

            decorateGeneric($$('ul.tabs_<?php echo $id; ?> li'), ['odd','even','first','last']);
        });
    </script>
    <?php endif; ?>
</div>
