<?php 

$route = Mage::app()->getRequest()->getRouteName(); 

$media_cols = array("md" => 6,
                    "sm" => 12,
                    "xs" => 12);

$product_cols = array("md" => 6,
                    "sm" => 12,
                    "xs" => 12);
/*If quickview popup are openning don't change column number of media block and product information block*/
if($route == "tempcp") {
    $media_cols = array("md" => 5,
                    "sm" => 5,
                    "xs" => 5);

    $product_cols = array("md" => 7,
                    "sm" => 7,
                    "xs" => 7);
}
?>

<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct();
// helper for html5 audio
$audiohelper = Mage::helper('html5audio');
$wrapper = 'product-shop';
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <div class="row">
                 <div class="col-lg-5 col-md-<?php echo $media_cols['md'];?> col-sm-<?php echo $media_cols['sm'];?> col-xs-<?php echo $media_cols['xs'];?> product-img-box">
                    <?php echo $this->getChildHtml('media') ?>
                </div>
                <div class="col-lg-7 col-md-<?php echo $product_cols['md'];?> col-sm-<?php echo $product_cols['sm'];?> col-xs-<?php echo $product_cols['xs'];?> product-shop">
                    <div class="product-name">
                        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    </div>
                    <!-- 
                    //********************************************************************************************
                    //* 2015-09-28 11:15 WWM begin
                    //* Move the getReviewsSummary to after the Author information in the template
                    //********************************************************************************************
                    <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                    <!-- 
                    //********************************************************************************************
                    //* 2015-09-28 11:15 WWM End
                    //* Move the getReviewsSummary to after the Author information in the template
                    //********************************************************************************************
                    -->
                    <?php echo $this->getTierPriceHtml() ?>
                    
                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getChildHtml('extrahint') ?>
                    
                    <?php if ($this->canEmailToFriend()): ?>
                        <p class="email-friend"><span class="p-icons"><img src="<?php echo $this->getSkinUrl('images/email.png');?>" alt="<?php echo $this->__('In stock') ?>" /></span><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                    <?php endif; ?>
                    
                    
                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif;?>
                    
                     <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                    <?php endif;?>
                    
		    <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>                                
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                    <?php endif; ?>
                    
                    <!-- 2015-04-09 13:00 WWM Begin -->
                    <?php if ($this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>                                
                                
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
        
                    <?php endif; ?>
                                        
                    <!-- 2015-04-09 13:00 WWM End -->
                    <?php  if($themeConfig->get("enable_social", 0)){  ?>
                    <div class="share">
                        <!-- AddThis Button END -->                 
                        <div class="addthis_default_style"><a class="addthis_button_compact"><?php echo $this->__("Share: "); ?></a> <a class="addthis_button_email"></a><a class="addthis_button_print"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a></div>
                        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js"></script> 
                        <!-- AddThis Button BEGIN -->
                        <div style="clear:both"></div>
                    </div>
                    <?php } ?>

                    <?php if ($_product->getShortDescription()):?>
                        <div class="short-description">
			    <h2>
			    <!--
			    //********************************************************************************************************
			    //* 2015-06-25 11:19 WWM Begin 
			    //* Add Now Accepting PayPal block to the template 
			    //********************************************************************************************************
			     -->		
			     <?php
					$nccustom_recurring = 0;
					$nccustom_pp = 0;

					if($_product->getIsRecurring())
					{
						$nccustom_recurring = 1;
					}

					$nccustom_pp_atr = $_product->getData('partialpayment_option_selected') + 0;
					if ( $nccustom_pp_atr > 0 )
					{
						$nccustom_pp = 1;
					}

					if ( ( $nccustom_recurring == 0 ) and ( $nccustom_pp == 0 ))
					{
						?>
						<p><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('accepting_paypal')->toHtml(); ?></p>
						<?php
					}
				?>
			    <!--
			    //********************************************************************************************************
			    //* 2015-06-25 11:19 WWM End 
			    //* Add Now Accepting PayPal block to the template 
			    //********************************************************************************************************
			     -->
			     
				<?php
				    $nccustom_contents = (string) trim($_product->getContents());
				    if (strlen($nccustom_contents)) {
				?>
				
					<!--<?php //Add player if product has playlist id ?>
                			<?php if ($playlistId = $_product->getPlaylistId()): ?>
                			<table style="border:1px solid #ffffff;border-collapse:collapse;"><tr><td style="width:3%;border:none;">
                			<?php echo Mage::helper('html5audio/player_interface')->getPlayer($playlistId, $wrapper, true, 0); ?>
                			</td><td style=border:none;"><p style="margin-top:-4px;font-size:18px; font-weight:bold; color:#860d0d;">PLAY AUDIO SAMPLE</p></td></tr></table>
                			<?php endif; ?>-->
				
				<?php
					echo "<span class=\"short-description\" itemprop=\"nc_contents\">";
					//echo $_product->getContents();
					echo $nccustom_contents;
					echo "</span>";

				    } else {
					echo "<span class=\"short-description\" itemprop=\"nc_contents\">";
					echo $this->__('Quick Overview');
					echo "</span>";
				    } 
				?>
			    </h2>								
                            <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                        </div>
                    <?php endif;?>
		
		    <?php echo $this->getChildHtml('simplifiedsocialshareproduct') ?>                                

                    <?php echo $this->getChildHtml('other');?>

                    <!--<?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif;?>
                    
                     <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                    <?php endif;?>-->
                </div>
        </div>

      
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
    <?php echo $this->getChildHtml('info_tabs') ?>
    <div class="tabs-group product-collateral">
        <div class="row">
            <div id="tabs" class="htabs col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <?php
         $tmp_html = "";
        ?>
    <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html){
            $tmp_html .= "<div id=\"tab-{$alias}\" class=\"tab-content box-{$alias}\">";
            $tmp_html .= $html;
            $tmp_html .= '<br class="clear clr"/>';
            $tmp_html .= "</div>";
            if ($title = $this->getChildData($alias, 'title')){
                echo '<a href="#tab-'.$alias.'">'.$this->escapeHtml($title).'</a>';
            }else{
                echo '<a href="#tab-'.$alias.'">'.$this->escapeHtml(ucfirst($alias)).'</a>';
            }
         };?>
    <?php
        $route = Mage::app()->getRequest()->getRouteName();
        $product_additional_data = "";
    ?>
        <?php if($route != "review" && $route !="tempcp") { ?>
             <?php if($product_additional_data = $this->getChildHtml('product_additional_data')): ?>
                 <a href="#tab-tags"><?php echo Mage::helper('ves_tempcp')->__("Product Tags");?></a>
                   <?php $product_additional_data = '<div id="tab-tags" class="tab-content">'.$product_additional_data.'<br class="clear clr"/></div>'; ?>
                <?php endif; ?>
        <?php } ?>

        <?php 
                $product_customtab = "";
                if($themeConfig->get("enable_product_customtab", 0)){ 
                    echo '<a href="#tab-custom">'.$themeConfig->get("product_customtab_name","").'</a>';
                    $product_customtab = "<div id=\"tab-custom\" class=\"tab-content box-custom\">";
                    $product_customtab .= $themeConfig->get("product_customtab_content","",true);
                    $product_customtab .= '<br class="clear clr"/>';
                    $product_customtab .= '</div>';
                } ?>
            <?php if($route != "review" && $route !="tempcp") { ?>
            <a href="#tab-reviews"><?php echo Mage::helper('ves_tempcp')->__("Reviews");?></a>
            <?php } ?>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <?php echo $tmp_html; ?>
            <?php echo $product_additional_data; ?>
            <?php echo $product_customtab; ?>
            <?php if($route != "review" && $route !="tempcp") { ?>
                <div id="tab-reviews" class="tab-content">
                    <?php echo $this->getChildHtml("review_tab"); ?>
                </div>
            </div>
        </div>
        <?php } else { ?>

        <?php echo $this->getChildHtml('product_additional_data'); ?>
        <?php } ?>
    </div>
     <?php echo $this->getChildHtml('upsell_products') ?>
</div>
<script type="text/javascript">
jQuery('#tabs a').tabs();
</script> 