.banner_box{
	position: absolute;
	top: 0px;
	left: 0px;
}

.slider_box{
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.arrow_left, .arrow_right{
	width: 20px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}
.arrow_left{
	left: 0px;
	background-image: url('../images/arrow_left_normal.png');
	margin-left: 5px;
}
.arrow_left_active{
	background-image: url('../images/arrow_left_active.png');
}
.arrow_left_last{
	background-image: url('../images/arrow_left_last.png');
}
.arrow_right{
	right: 0px;
	background-image: url('../images/arrow_right_normal.png');
	margin-right: 5px;
}
.arrow_right_active{
	background-image: url('../images/arrow_right_active.png');
}
.arrow_right_last{
	background-image: url('../images/arrow_right_last.png');
}

.titles_box{
	position: relative;
	height: 22px;
	color: #cccccc;
	font-size: 12px;
	margin: -10px auto;
	margin-bottom: 0;
}
.titles_elements{
	width: 3000px;
	height: 22px;
	z-index: 12;
}
.titles_elements_box{
	position: absolute;
	height: 22px;
	z-index: 10;
	overflow: hidden;
}
.titles_backgr{
	position: absolute;
	left: 11px;
	right: 11px;
	height: 20px;
	background-image: url('../images/titles_backgr.png');
	background-repeat: repeat-x;
}
.titles_left_backgr, .titles_right_backgr{
	position: absolute;
	top: 0px;
	width: 11px;
	height: 20px;
	z-index: 8;
}
.titles_left_backgr{
	left: 0px;
	background-image: url('../images/titles_left_backgr.png');
}
.titles_right_backgr{
	right: 0px;
	background-image: url('../images/titles_right_backgr.png');
}
.title_name{
	margin-right: 18px;
	float: right;
	cursor: pointer;
	z-index: 15;
}
.title_name_black{
	color: #000000;
}
.select_title{
	height: 24px;
	top: -2px;
	position: absolute;
	background-image: url('../images/select_backgr.png');
	z-index: 9;
}
.select_left_backgr, .select_right_backgr{
	position: absolute;
	top: 0;
	width: 7px;
	height: 24px;
}
.select_left_backgr{
	left: -2px;
	background-image: url('../images/select_left_backgr.png');
}
.select_right_backgr{
	right: -2px;
	background-image: url('../images/select_right_backgr.png');
}

.nums_box{
	position: relative;
	height: 27px;
	font-size: 12px;
	margin: -3px auto;
	margin-bottom: 0;
	overflow: hidden;
}
.nums_backgr{
	position: absolute;
	left: 4px;
	right: 4px;
	height: 27px;
	background-image: url('../images/num_backgr.png');
	background-repeat: repeat-x;
}
.nums_left_backgr, .nums_right_backgr{
	position: absolute;
	top: 0px;
	width: 4px;
	height: 27px;
	z-index: 10;
}
.nums_left_backgr{
	left: 0px;
	background-image: url('../images/num_left_backgr.png');
}
.nums_right_backgr{
	right: 0px;
	background-image: url('../images/num_right_backgr.png');
}
.nums_elements{
	width: 3000px;
	height: 27px;
}
.num_img{
	width: 25px;
	height: 25px;
	margin-right: 3px;
	z-index: 10;
	float: right;
	cursor: pointer;
}