.num_norm_1{
	background-image: url('../images/buttons/1_norm.png');
}
.num_active_1{
	background-image: url('../images/buttons/1_active.png');
}
.num_norm_2{
	background-image: url('../images/buttons/2_norm.png');
}
.num_active_2{
	background-image: url('../images/buttons/2_active.png');
}
.num_norm_3{
	background-image: url('../images/buttons/3_norm.png');
}
.num_active_3{
	background-image: url('../images/buttons/3_active.png');
}
.num_norm_4{
	background-image: url('../images/buttons/4_norm.png');
}
.num_active_4{
	background-image: url('../images/buttons/4_active.png');
}
.num_norm_5{
	background-image: url('../images/buttons/5_norm.png');
}
.num_active_5{
	background-image: url('../images/buttons/5_active.png');
}
.num_norm_6{
	background-image: url('../images/buttons/6_norm.png');
}
.num_active_6{
	background-image: url('../images/buttons/6_active.png');
}
.num_norm_7{
	background-image: url('../images/buttons/7_norm.png');
}
.num_active_7{
	background-image: url('../images/buttons/7_active.png');
}
.num_norm_8{
	background-image: url('../images/buttons/8_norm.png');
}
.num_active_8{
	background-image: url('../images/buttons/8_active.png');
}
.num_norm_9{
	background-image: url('../images/buttons/9_norm.png');
}
.num_active_9{
	background-image: url('../images/buttons/9_active.png');
}
.num_norm_10{
	background-image: url('../images/buttons/10_norm.png');
}
.num_active_10{
	background-image: url('../images/buttons/10_active.png');
}
.num_norm_11{
	background-image: url('../images/buttons/11_norm.png');
}
.num_active_11{
	background-image: url('../images/buttons/11_active.png');
}
.num_norm_12{
	background-image: url('../images/buttons/12_norm.png');
}
.num_active_12{
	background-image: url('../images/buttons/12_active.png');
}
.num_norm_13{
	background-image: url('../images/buttons/13_norm.png');
}
.num_active_13{
	background-image: url('../images/buttons/13_active.png');
}
.num_norm_14{
	background-image: url('../images/buttons/14_norm.png');
}
.num_active_14{
	background-image: url('../images/buttons/14_active.png');
}
.num_norm_15{
	background-image: url('../images/buttons/15_norm.png');
}
.num_active_15{
	background-image: url('../images/buttons/15_active.png');
}