<?php
/**
 * MageRevolution_PackageProductType extension
 * @category   MageRevolution
 * @package    MageRevolution_PackageProductType
 * @copyright  copyright novusweb llc
 * @author     Christopher Silvey <webmaster@beckindesigns.com> http://www.beckindesigns.com/
 * @co author  Bret Williams <bret.williams@novusweb.com> http://www.novusweb.com/
 */
?>

<?php
$collection = $this->getItems();
$_product = $this->getProduct();
?>
<?php if($_product->getTypeId() == MageRevolution_PackageProductType_Model_Product_Type_Package::TYPE_CODE): ?>
    <?php if ($this->displayProductStockStatus()): ?>
        <?php if ($_product->isAvailable()): ?>
            <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
        <?php else: ?>
            <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
        <?php endif; ?>
    <?php endif; ?>
    <?php echo $this->getChildHtml('product_type_data_extra') ?>
    <?php echo $this->getPriceHtml($_product) ?>
<?php endif; ?>
<?php if($this->isGridEnabled()): ?>
    <?php if($collection):  ?>
        <div class="grouped-items-table-wrapper">
            <table class="data-table grouped-items-table package-items-table" id="super-product-table package-product-table">
                <colgroup>
                    <col width="1">
                    <col width="1">
                </colgroup>
                <tbody>
                <?php $i=0; foreach($collection as $_item): ?>
                    <?php $packageData = $_item->getPackageQty() ?>
                    <?php if ($_item->isSaleable()): ?>
                        <input type="hidden" name="associated[<?php echo $i ?>]" value="<?php echo $_item->getId() ?>" />
                        <?php foreach($packageData as $qty): ?>
                            <?php if($qty['product_id'] == $_item->getId()): ?>
                                <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
                                <tr>

                                    <td class='image'>
                                        <img class="thumbnail"
                                             src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(105, 80); ?>"
                                             alt="<?php echo $this->escapeHtml($_item->getName()) ?>"
                                             title="<?php echo $this->escapeHtml($_item->getName()); ?>" />
                                    </td>

                                    <?php if ($this->getCanShowProductPrice($_item)): ?>
                                        <?php if ($this->getCanShowProductPrice($_item)): ?>
                                            <?php //echo $this->getPriceHtml($_item, true); ?>
                                            <?php //echo $this->getTierPriceHtml($_item) ?>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                    <td class="name a-right last"><span class="qty"><?php echo $qty['package_qty']. ' ';?></span> <?php echo $this->escapeHtml($_item->getName()); ?></td>

                                </tr>
                            <?php endif ?>
                        <?php endforeach ?>
                    <?php endif; ?>
                    <?php $i++; endforeach ?>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">decorateTable('super-product-table')</script>
    <?php endif; ?>
<?php endif; ?>

<?php echo $this->getChildHtml('addtocart') ?>