<?php
/**
 * WMD_Html5audio Design File
 *
 * WMD Web-Manufaktur/Digiswiss 
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that you find at http://wmdextensions.com/WMD-License-Community.txt
 *
 * @category  WMD
 * @package   WMD_Html5audio
 * @author    Dominik Wyss <info@wmdextensions.ch>
 * @copyright 2013 Dominik Wyss | WMD Extensions (http://wmdextensions.com)
 * @link      http://wmdextensions.com
 * @license   http://wmdextensions.com/WMD-License-Community.txt
 */ 
 
    $playlistId = $this->getPlaylistId();
    $prepend = $this->getPrepend(); 
    $audiohelper = Mage::helper('html5audio');
    
?>  
<?php if ($audiohelper->addPlayerInstance($playlistId, $prepend)): ?>
<div class="player-link">
</script> 
    <a href="javascript:;" onclick="launchPlayer(<?php echo $this->getNInstance() ?>);">
        <?php echo $this->getPlaylistTitle(); ?>
    </a>
</div>
<?php endif; ?> 


