/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: Blue Monday
 *
 * Copyright (c) 2010 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Luke McDonald (lukemcdonald.com)
 * Skin Design: Orman Clark (premiumpixels.com)
 * Original: http://dl.dropbox.com/u/2557221/online/demos/jplayer-black-and-yellow/index.html 
 * Edited: Dominik Wyss (wmdextensions.com) 
 * Skin Version: 1.0 (anthracite.mini jPlayer 2.2.0)
 * Date: 27th November 2012
 */

div.jp-audio {
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	color: #fff;
	text-shadow:1px 1px #000;
	line-height: 1.6;
}

div.jp-audio {
	width: 232px;
}

div.jp-audio .jp-type-single {
	width: 188px;
}

div.jp-interface {
	position: relative;
	width: 100%;
	background: rgb(58,59,60);
	background: url(jplayer-anthracite-mini.png) 0 -246px;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(34,34,34)),
	    color-stop(1, rgb(58,59,60))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(34,34,34) 0%,
	    rgb(58,59,60) 100%
	);
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.jp-audio div.jp-type-single div.jp-interface,
div.jp-audio div.jp-type-playlist div.jp-interface {
	height: 21px;
}

div.jp-interface ul.jp-controls {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
div.jp-interface ul.jp-controls li {
	display: inline;
}
div.jp-interface ul.jp-controls a {
	position: absolute;
	overflow: hidden;
	text-indent: -9999px;
}

a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-previous,
a.jp-next  {
	width: 22px;
	height: 20px;
	z-index: 1;
	outline: none;
}
div.jp-audio div.jp-type-single a.jp-play,
div.jp-audio div.jp-type-single a.jp-pause,
div.jp-audio div.jp-type-playlist a.jp-play,
div.jp-audio div.jp-type-playlist a.jp-pause {
	top: 0;
	left: 0;
	border-right: 1px solid rgb(36,37,38);
}    
div.jp-audio div.jp-type-single a.jp-stop,
div.jp-audio div.jp-type-playlist a.jp-stop {
	top: 0;
	left: 22px;
	border-right: 1px solid rgb(36,37,38);
}
div.jp-audio div.jp-type-single a.jp-previous,
div.jp-audio div.jp-type-playlist a.jp-previous {
	top: 0;
	left: 186px;
	border-right: 1px solid rgb(36,37,38);
}
div.jp-audio div.jp-type-single a.jp-next,
div.jp-audio div.jp-type-playlist a.jp-next {
	top: 0;
	left: 208px;
}
 
a.jp-play {
	background: url("jplayer-anthracite-mini.png") 0 0 no-repeat;
}
a.jp-play:hover {
	background: url("jplayer-anthracite-mini.png") -34px 0 no-repeat;
}
a.jp-pause {
	background: url("jplayer-anthracite-mini.png") 0 -30px no-repeat;
	display: none;
}
a.jp-pause:hover {
	background: url("jplayer-anthracite-mini.png") -34px -30px no-repeat;
}
a.jp-stop {
	background: url("jplayer-anthracite-mini.png") 0 -60px no-repeat;
}
a.jp-stop:hover {
	background: url("jplayer-anthracite-mini.png") -34px -60px no-repeat;
}
a.jp-previous {
	background: url("jplayer-anthracite-mini.png") -2px -120px no-repeat;
}
a.jp-previous:hover {
	background: url("jplayer-anthracite-mini.png") -36px -120px no-repeat;
}
a.jp-next {
	background: url("jplayer-anthracite-mini.png") 0 -90px no-repeat;
}
a.jp-next:hover {
	background: url("jplayer-anthracite-mini.png") -34px -90px no-repeat;
}

div.jp-progress-container {
	position: absolute;
	top: 0;
	left: 44px;
	width: 125px;
	height: 6px;
	padding: 7px 7px;
	border-left: 1px solid rgb(50,51,52);
	border-right: 1px solid rgb(36,37,38);
}
div.jp-progress {
	position: absolute;
	overflow:hidden;
}
div.jp-audio div.jp-type-single div.jp-progress,
div.jp-audio div.jp-type-playlist div.jp-progress {
	width: 123px;
	height: 7px;
	padding: 1px;
	background: url("jplayer-anthracite-mini.png") 0 -218px repeat-x ;
}

div.jp-seek-bar {
	width: 0px;
	height: 5px;
	cursor: pointer;
	background: url("jplayer-anthracite-mini.png") 0 -190px repeat-x;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

div.jp-play-bar {
	width: 0px;
	height: 5px;
	background: url("jplayer-anthracite-mini.png") 0 -159px repeat-x ;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

/* The seeking class is added/removed inside jPlayer
div.jp-seeking-bg {
	background: url("pbar-ani.gif");
}
*/

/*
div.jp-volume-bar-container {
	position: absolute;
	top: 0;
	left: 281px;
	width: 40px;
	height: 6px;
	padding: 12px 10px;
	border-left: 1px solid rgb(50,51,52);
}
div.jp-volume-bar {
	position: relative;
	overflow: hidden;
	background: url("jplayer-anthracite-mini.png") 0 -192px repeat-x;
	width: 40px;
	height: 9px;
	cursor: pointer;
}
div.jp-audio div.jp-type-single div.jp-volume-bar,
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
	top: 0;
	left: 20px;
}

div.jp-volume-bar-value {
	width: 0px;
	height: 5px;
	margin: 1px;
	background: url("jplayer-anthracite-mini.png") 0 -133px repeat-x;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

a.jp-mute,
a.jp-unmute {
	width: 17px;
	height: 13px;
	z-index: 1;
	outline: none;
}
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute, 
div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
	top: 9px;
	left: 290px;
}

a.jp-mute {
	background: url("jplayer-anthracite-mini.png") -10px -68px no-repeat;
}
a.jp-mute:hover {
	background: url("jplayer-anthracite-mini.png") -43px -68px no-repeat;
}
a.jp-unmute {
	background: url("jplayer-anthracite-mini.png") -10px -98px no-repeat;
	display: none;
}
a.jp-unmute:hover {
	background: url("jplayer-anthracite-mini.png") -43px -98px no-repeat;
}
*/
div.jp-jplayer {
	width:0px;
	height:0px;
}

div.jp-jplayer {
	background-color: #000000;
}

div.jp-playlist {
  display:none;
}