/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
/* Layout ================================================================================ */
.wrapper {}
#page {
	margin: 0 auto;
}
.page-print { 
	background:#fff; padding:25px 30px; text-align:left; 
	.print-head{ @include clearfix();}
	.buttons-set{ margin-top: 20px;}
}
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container { }
.main {}
body{
    &.layout-boxed-md{
        background: url("#{$image-theme-path-base}pattern/pattern14.png");
        #page{  max-width: $container-desktop; @include box-shadow(0 0 5px #888); background: $white;}
    }
    &.layout-boxed-lg{
        background: url("#{$image-theme-path-base}pattern/pattern14.png");
        #page{  max-width: $container-lg-desktop; @include box-shadow(0 0 5px #888);background: $white; }

    }
    &.fullwidth{ }
    
 } 
 /*
 * TOPBAR 
 */

#topbar {
	background-color: $topbar-bg;	
	border-style: solid;
	border-width: 0 0 1px;
	border-color: #DCDCDC;
	line-height: $topbar-line-height;
	color: $toplinks-color;
	z-index: 99;
	@include clearfix();
	a { 
		color: $toplinks-color;
		&:hover{ color: $toplinks-color-hover;}
	}	
	.form-language {}
	.links { 		
		li {	
			margin: 0 10px 0 15px;
			font-size: $font-size-base - 2;
		}
	}
	span,a { 
		margin:0; 		
		text-align:right; 
		font-size: $font-size-base - 2;
		a { 
			color: $base-link-color; 
		}
	}

	.language{ 
		padding-top: 13px; padding-left: 12px;
		> div{ padding-right: 12px;}
	}
	.caret{
		background: url(#{$image-theme-path-base}caret.png) center no-repeat transparent;
		border: none;
		width: 8px; height: 8px; margin-left: 4px; margin-top: -1px;
	}

	.form-search{
		label{ display: none;}
		position:relative;
		margin-top: 8px;
		margin-right: 6px;
		#search{ 
			border: 1px solid $border-color;
			@include border-radius(0);
			height: 28px; width: 170px;
			padding-right: 20px;
			padding-left: 5px;
			color: #666;
			font-size: 12px;

		}
		.button{
			background: url(#{$image-theme-path-base}btn-search.png) center no-repeat transparent;
			text-indent: 9999em;
			overflow: hidden;
			width: 20px;
			height: 28px;
			border: none;
			position: absolute;
			top: 0;
			right: 0;

		}
	}
	
	
}
/* Cart top */
.cart-inner {
	margin-top: 35px;
	.title{ display: block; line-height: 1em; font-size: $font-size-base; color: $base-color; text-transform: uppercase; font-weight: 600;}
	.fa{ 
		background: $theme-color-default;
		color: #FFFFFF;
	    height: 38px;
	    line-height: 38px;
	    text-align: center;
	    width: 38px;	   
		font-size: 16px;
		float: left;
	}
	h4{ 
		font-size: 12px; text-transform: uppercase; float: right;
		margin-left: 10px;
		a{ color: #8c8c8c;}
	}
	a{ text-transform: none;}
}
 /*
 * HEADER 
 */
 #header-main {
 	background-color: $header-main-bg;
	.header-wrap{
		min-height: $header-main-height;
		.logo{
			display: block; line-height: $header-main-height; float: left;
			@include rtl-float-left();
		}
	}
 }
 
 .header-wrap{ padding: $header-main-padding;}
/**LOGO**/
.logo { 
	strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; } 
}

/* Search */
.top-search {
	position: relative;
	margin-top: 35px;
	float: left; 
	.form-search {
		label { display: none;}
		input.input-text { height: 40px; width: 410px; border: 1px solid $border-color; font-size: $font-size-base - 2; color: #cfcfcf; padding: 5px 8px;}
		button.button { 
			background: none;
			border: none;
			color: $theme-color-default;
			padding: 6px 10px;
			position: absolute;
			top: 0; right: 0;
			@include rtl-right(0);
		}
		.search-autocomplete { 
			left: 0 !important;
			top: 100% !important;
			z-index: 999;
			ul {
				border:1px solid #5c7989; background-color:#f9f5f0; 
				li { 
					text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; 
					.amount { 
						float:right; font-weight:bold; 
					}
					&.odd { 
						background-color:#fffefb; 
					}
					&.selected { background-color:#f7e8dd; }
				}
			} 
		}
	}	
}

.top-container { 
	clear:both;
	padding:5px 10px 0 12px; 
	text-align:right; 
	a { 
		font-size:11px; 
		color:#ebbc58; 
	}
} 
/*
 * NAVIGATION
 */
 #ves-mainnav {
 	
 }
 .navbar{ min-height: 0;}
 .navbar-inverse{
 	border-color: $navbar-border-color;
 }
/*
 * SLIDESHOW 
 */
 .ves-slideshow {}
/*
 * SHOWCASE 
 */
 .ves-showcase {
	margin-bottom: 38px;
	.block{
		.block-content{ background: none;}
	}
 }
/*
 * PROMOTION 
 */
 .ves-promotion {}
/*
 * MAIN CONTENT
 */ 
 #columns {}
 #columns .container {}
/*
 * MASSBOTTOM
 */
 .ves-massbottom {}
 
/* BreadCrumbs */
.breadcrumbs { 
	font-size: 12px;
	line-height: 1em; 
	margin:0 0 18px; 
	li { display:inline; }
	strong{ font-weight: normal;}
}

/* FOOTER*/

/* Footer ================================================================================ */
#footer {}
.footer-container {}
.footer {}
.footer .store-switcher { 
}
.footer a { 
	&:hover {
	} 
}
.footer .bugs { 
	a { 
		&:hover { 
		}
	}
}
.footer address { 
	a { 
		&:hover { } 
	} 
}
.footer-bottom ul { 
	display:inline; 
	&.links { 
		display:block; 
	}
	li { 
		display:inline; 
		margin: 0 5px; 
		&.last { 
		}
	}
}
.footer-container .bottom-container { 
	margin:0 0 5px; 
}

/*FOOTER TOP*/

/*FOOTER CENTER*/
/* ======================================================================================= */

/* POWER BY */
#powered{ border-top: 1px solid $border-color; background: #fcfcfc;}
.copyright{  
	padding: 25px 0 35px; line-height: 20px;
	a{ color: $theme-color-primary;}
}
.btn-danger{ 
	background-color: $theme-color-primary; border-color: $theme-color-primary;
	&:hover,&:active,&:focus{
		background-color: $theme-color-primary; border-color: $theme-color-primary;
	}
}

.rtl .f-left{ float: right !important;}
.rtl .f-right{ float: left !important;}

.quantity-number.pull-left > label{
	display: block;
    float: left;
    line-height: 30px;
	padding-right: 5px;
}
.rtl .quantity-number{ margin-left: 0;}
.rtl .add-to-cart .quantity-wrapper{ margin-right: 0; margin-left: 10px; border-width: 1px 0 1px 1px;}
.rtl .quantity-number > label{
	display: block;
    float: right;
    line-height: 30px;
	padding-right: 0;
	padding-left: 5px;
}
/* back top top */

.scrollup{
    width: 40px;
    height: 40px;
    position: fixed;
    background: $theme-color-default;
    color: $white!important;
    bottom: 80px;
    @include rtl-right(20px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    border-radius: 50%;
    text-decoration: none!important;
    z-index: 999999;
    .fa{display: block; font-weight: bold;}
}
