/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
 .paneltool{
		position: fixed;
		top: 05px;
		transition:all 0.6s;
		left: -322px;
		border:solid 1px #CCC;
		  -webkit-box-shadow: 1px -1px 3px #888888;
          box-shadow: 1px -1px 3px #888888;
          z-index: 9999;
	}
	.paneltool.active{
		left: 0px;
		transition:all 0.6s;
	}
	.paneltool.active .panelbutton{
		color: red
	}
	.paneltool.themetool{
		top: 70px
	}
	.paneltool .panelcontent{
		background: #FFF; 
		width: 320px;
	}
	.paneltool .panelcontent > div{
		padding: 15px;
	}
	.panelbutton{
		border:solid 1px #CCC;
		 background: #FFF; 
	    padding: 9px 11px;
	    position: absolute;
	    right: -35px;
	    top: 10px;
	    border-left: none;
	    cursor: hand; cursor: pointer;	
	     -webkit-box-shadow: 2px -1px 2px #888888;
          box-shadow: 2px -1px 2px #888888;
	}
	.editortool .panelbutton{
		top: 230px
	}

#ves-paneltool.panel-open .panel-inner {
	right:0
}
#ves-paneltool h4 {
	 margin-bottom: 10px;
}
#ves-paneltool .accordion-group{
	margin-bottom: 5px;
}

#ves-paneltool form > *{
	float: left;
	width: 100%;
}

#ves-paneltool form .group-input{
	margin-right: 5px;
}

#ves-paneltool select{
	padding: 5px;
}

.box-patterns div{
	display:block ;
	width:38px;
	height:38px;
	float:left;
	cursor:hand;
	cursor:pointer;
	border:solid 1px #f3f3f3;
	margin:6px;
	border:1px solid #ccc;	
}
.box-patterns div.active{
	border:solid 1px red;
}
#ves-paneltool .nav-tabs > li:before,
#ves-paneltool .nav-tabs > li:after{
	display: none;
}

#customize-form{
	position: relative;
}
#main-preview {
   bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 300px;
    transition-duration: 0.2s;
    transition-property: left, right, top, bottom, width, margin;
}
#main-preview iframe { 
    height: 100%;    
    width: 100%; 
}
.colorpicker{
	z-index: 99999;
}
#ves-customize{
	width: 300px;
	height: 100%;
	position:absolute;
	top: 0;
	left:0px; 
	z-index: 3;
	box-shadow: 0 1px 3px #999;
	transition-duration: 0.2s;
    transition-property: left, right, top, bottom, width, margin;
  	background: none repeat scroll 0 0 #F5F5F5;
    border-right: 1px solid rgba(0, 0, 0, 0.2);  
}

#ves-customize .wrapper{

	padding: 12px; 
}
#customize-body input[type="text"], #customize-body select{
    border: 1px solid #E2E2E2;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 11px;
    margin: 0 5px 0 0;
    padding: 2px 3px;
    width: 65px;
}
#customize-body select{
	color:#888;
}

#customize-body .accordion-group label{
	color:#888;
	font-size: 11px;
	font-weight: normal
}

#customize-body .panel-heading{
	padding:5px 6px;
	font-weight:bold;
	font-size:11px;
}
.form-group  {
	margin-right: 6px;
}
.accordion-group label, .form-group label{
	display: block;
	font-size: 11px;

}
.accordion-group label{
	float: left;
	min-width: 100px;	
	margin-right:10px;
	margin-top: 5px;
}
#ves-customize .btn{
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
}
#ves-customize .btn-show{
	position: absolute;
	top: 39px;
	padding:6px 18px;
	background:#CCC;
	right:11px;
	z-index: 99;
	transition:all 1.2s;
	cursor: hand;
	cursor: pointer;

}
#customize-body .nav-tabs{
	border-bottom: 1px solid #d7d7d7;
}
 #customize-body .nav-tabs a{
	border:none;
}
#customize-body .nav-tabs a{
	font-weight: bold;
	font-size: 11px;
	padding:6px 12px;
	
}
 #customize-body .nav-tabs .active a{
 	background: #7DB641;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF
 }
 .accordion-heading .accordion-toggle{
 	font-size: 11px;
 }
#customize-body .form-group{
	margin-bottom: 6px;
	clear: both;
}

.clear-bg{
	padding: 3px 6px;
	margin-left: 5px;
}

/* .tab-content > .tab-pane, .pill-content > .pill-pane {
    background: none repeat scroll 0 0 #FFFFFF;    
    padding: 13px;
} */

.bi-wrapper > div{
	float: left;
	width: 20px;
	height: 20px;
	margin: 3px 4px;
	border: solid 1px #999;
	cursor:hand; cursor:pointer;
}
.bi-wrapper > div.active{
	border-color:red;
}
.btn-small {
	 border-radius: 0;
	 background-color: #7DB641 ;
	 color: #fff;
	 padding: 3px 6px;
}
.btn-small:hover {
	background-color: #C83A3A;
	 color: #fff;
}

.editortool .label-customize{
	position: absolute;
	right:-155px;
	top: 250px;	
	width: 115px;
	height: 74px;
	padding: 0;
	background-image:url(#{$image-theme-path-base}label_customize.png);
	background-repeat: no-repeat;
	background-position: 0 0;
    display: none;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border: 0;
}
.editortool .label-customize:hover{
	background-position: 0 -111px;
}
.paneltool.active .label-customize{
	display: none;	
}
.paneltool .panelcontent {
    text-align: left;
}