ul.tabs_trisha {
    margin: 0px 0 0 0;
    overflow: hidden;
    zoom: 1;
    width: 100%;
    overflow: hidden;
    border-bottom: 0;
}
ul.tabs_trisha li {
    border-right: 0;
    border-left: 0;
    margin-right: 2px;
}
div.tabs_ul li.last {
    border-right: none;
}
.ui-tabs-hide {
    display: none;
}
.ui-tabs-nav:after {
    display: block;
    clear: both;
    content: " ";
}
* html .ui-tabs-nav {
    display: inline-block;
}
*:first-child+html .ui-tabs-nav {
    display: inline-block;
}
div.tabs_block {
   font-size: 12px;
    line-height: 1.5;
    border-collapse:collapse;
    z-index: 0;
    margin-bottom: 1%;
}
div.tabs_ul li a:link, div.tabs_ul li a:visited {
    display: block;
    font-family:  Arial, sans-serif;
    line-height: 15px;
    font-size: 15px;
    font-weight: normal;
    float: left;
    text-align: center;
    padding: 5px 10px 5px 10px;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

div.tabs_ul li.ui-tabs-selected a:link, div.tabs_ul li.ui-tabs-selected a:visited {
    font-weight: normal;
}
div.tabs_info {
    height: 100%;
    padding: 15px 10px 10px 10px;
    clear: both;
    overflow: hidden;
}
@media all and (min-width:800px) {
div.tabs_ul li a:link, div.tabs_ul li a:visited {
    position: relative;
    border-radius: 2px 2px 0px 0px;
}
div.tabs_ul li.ui-tabs-selected a:link, div.tabs_ul li.ui-tabs-selected a:visited {
    position: relative;
    z-index: 999;
}
div.tabs_ul li a:hover, div.tabs_ul li a:active {
    position: relative;
    z-index: 999;
}
div.tabs_info {
    border: none;
}

div.content-wrap {
    position: relative;
    margin-top: -1px !important;
    z-index: 0;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #cccccc;
}
}
@media all and (max-width:799px) {
div.tabs_ul li a:link, div.tabs_ul li a:visited, div.tabs_ul li a:link, div.tabs_ul li a:hover, div.tabs_ul li.ui-tabs-selected a:link {
    width: 99%;
}
}
.tab_content {
    padding: 0px 15px 0px 15px;
}
img.tabs_info {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.ui-tabs-hide {
    display: none;
}
.ui-tabs-nav:after {
    display: block;
    clear: both;
    content: " ";
}
* html .ui-tabs-nav {
    display: inline-block;
}
*:first-child+html .ui-tabs-nav {
    display: inline-block;
}
/*product-grid*/
.home-tabs.products-grid {
    padding-left: 2%;
}
.home-tabs.products-grid li.item {
    padding: 0 1% 0 0;
    width: 11%;
    text-align: center;
}
.home-tabs.products-grid li.item .product-image {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.home-tabs.products-grid li.item .product-image img {
    border: 1px solid #dadada;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.home-tabs.products-grid li.item .product-image:hover img {
    border: 1px solid #c1c1c1;
}
.home-tabs {
    background: none !important;
    border: 0 !important;
}
.home-tabs h2.product-name, .home-tabs .product-name a {
    font-size: 11px !important;
    font-family: Arial;
    line-height: 100%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.home-tabs .product-name a:link, .home-tabs .product-name a:visited {
    color: #000;
}
@media all and (min-width:800px) {
    div.tabs_ul li a:link, div.tabs_ul li a:visited {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #cccccc;
    }

    div.tabs_ul li.ui-tabs-selected a:link, div.tabs_ul li.ui-tabs-selected a:visited {
        background-color: #ffffff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ffffff;
    }

    div.tabs_ul li a:hover, div.tabs_ul li a:active {
        background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #fff;
    }

    .tabs li a:hover {
        background-color: #ffffff;
    }

    .tabs li.active a:hover {
        background-color: #F4f4f4;
    }
}

@media all and (max-width:799px) {

    div.tabs_ul li a:hover, div.tabs_ul li.ui-tabs-selected a:link, #login-link a, .pager .pages {
        background: #f5f5f5;
    }
}