<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Abtesting
 */
?>
<?php $configurableType = Mage::getSingleton('catalog/product_type_configurable'); ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Attributes to test')?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset" id="attributes_fieldset">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list" id="attributes-grid" style="display: none;">
                <thead>
                <tr>
                    <th><?php echo $this->__('Attribute')?></th>
                    <th><?php echo $this->__('Title')?></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="value">
                        <div id="attributes-select">
                            <select
                                data-placeholder="<?php echo $this->__('Choose a Attribute...')?>"
                                class="required-entry" name="attribute[{index}][id]"
                                onchange="amabtesting_set_title(this)"
                                >
                                <?php
                                /**
                                 * @var Mage_Catalog_Model_Resource_Eav_Attribute $attribute
                                 */
                                ?>
                                <?php foreach ($this->getAttributes() as $attribute): ?>
                                    <?php if ($configurableType->canUseAttribute($attribute)) continue ?>
                                    <option value="<?php echo $attribute->getAttributeId()?>" data-title="<?php echo $attribute->getFrontendLabel(); ?>">
                                        <?php echo $attribute->getFrontendLabel(); ?>(<?php echo $attribute->getAttributeCode(); ?>)
                                    </option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </td>
                    <td class="value">
                        <input type="text" name="attribute[{index}][title]" class="required-entry input-text" />
                    </td>
                    <td class="value">
                        <?php echo $this->getLayout()->createBlock('adminhtml/widget_button')->setData(array(
                            'label'     => $this->__('Remove'),
                            'onclick'   => "$(this).up('tr').remove(); if ($$('#attributes-grid tbody tr').length == 0) $('attributes-grid').hide();",
                            'class'     => 'delete',
                        ))->toHtml()?>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" class="validate-attributes-unique" />

            <?php echo $this->getLayout()->createBlock('adminhtml/widget_button')->setData(array(
                'label'     => $this->__('Add'),
                'id'        => 'add_attribute',
                'class'     => 'add validate-attributes-exists',
            ))->toHtml()?>

        </div>
    </div>
</div>

<script type="text/javascript">
    var attribute_tr = $$('#attributes-grid tbody tr')[0];
    var amabtesting_attribute_proto = attribute_tr.outerHTML;
    var attribute_index = 0;

    attribute_tr.remove();
    $('add_attribute').observe('click', function(){
        var newRow = amabtesting_attribute_proto.replace(
            /\{index\}/g, ++attribute_index
        );

        var grid = $('attributes-grid');
        grid.down('tbody').insert(newRow);
        grid.show();

        amabtesting_set_title(grid.down('tr:last').down('select'));
    });

    function amabtesting_set_title(select)
    {
        var title = select.down('option:selected').readAttribute('data-title');
        select.up('tr').down('input[type=text]').value = title;
    }

    Validation.add(
        'validate-attributes-exists',
        '<?php echo $this->__('Please add at least one product attribute')?>',
        function(val, button){
            var rows = button.up('.fieldset').down('table tbody').select('tr').length;
            return rows > 0;
        }
    );

    Validation.add(
        'validate-attributes-unique',
        '<?php echo $this->__('Attribute can be selected only once')?>',
        function(val, button){
            var values = [];
            var result = true;

            button.up('.fieldset').select('select').each(function(select){
                var value = select.value;

                if (values.indexOf(value) != -1)
                    result = false;

                values.push(value);
            });

            return result;
        }
    );
</script>