$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/red/';

/*------------------ User ------------------*/
$theme-color-primary   					: #fb5a29;
$theme-color-default					: #fb5a29;
$body-background 						: #fff;
$base-color								: #2e3a47;
$base-link-color						: $theme-color-default;
$border-color 							: #e4e5e7;
$theme-color-secondary					: #e42020;

/* Toplinks */
$topbar-bg								: #f5f5f5; 
$toplinks-color							: #8c8c8c;
$toplinks-color-hover					: $theme-color-default;

/* Header */
$header-main-bg							: transparent; 
$nav-background 						: transparent;

/* NAV */
$nav-lv1-color							: #fff;
$nav-lv1-color-hover					: $theme-color-default;
$nav-bg									: $base-color;

/* Heading */
$h_color								: #999;
$h_active-color							: #fff;

/* Product */
$p_name-color							: $base-color;
$p_name-color-hv						: $base-color;
$p_price-color							: $theme-color-secondary;
$p_special-price-color					: $theme-color-secondary;
$p_old-price-color						: #999;
$p_bottom-border-color					: #00577a;

/* Setting */
$topbar-border-color					: $theme-color-default transparent $border-color;
$navbar-border-color					: #27313c;
$navbar-inverse-bg						: $base-color;

/* Sidebar */
$block-title-bg							: $base-color;							

/* Font Design */
$font-base-web                              : HelveticaNeueMedium;
/*------------------ End User ------------------*/

