/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/*Navigation default*/
 #ves-mainnav {	
	
 }
.navbar-inverse{
	background: none;
}

.nav-container { 
	background: $nav-bg; 
}
#nav { 
	@include clearfix();	
	li{
		position:relative; 		
		&.over{
			z-index:998;
			> a{
				color: $nav-lv1-color-hover;
			}
		}
		&.active{
			> a{
				color: $nav-lv1-color-hover; 
			}
		}
		ul{
			span {white-space:normal;}
		}
		ul,
		div{
			&.shown-sub{
				left:0; z-index:999;
			}
		}
		.shown-sub{
			ul.shown-sub,
			li div.shown-sub { left:90%; }
		}
	}
	> li{
		display: inline-block;
		vertical-align: middle;		
	}
	> li.parent > a{
		background: url(#{$image-theme-path-base}caret.png) 93% center no-repeat;
	}
	ul{
		li{ text-align: left;}
		a{ color: $menu-lvnd-color; text-transform: none; }
		ul{ left:90%; top:-25px !important;}
		.over ul{ top: 0 !important}
	}
	a{
		
		font-size: $menu-lvtop-font-size;
		display:block; 
		line-height:$menu-lvtop-line-height; 
		text-decoration:none; 
		float:left; 
		padding:14px 20px; 
		color: $nav-lv1-color;
		text-transform: uppercase;
		//&:hover{
		//	color: $nav-lv1-color-hover;
		//}
	}
	span{
		display:block; cursor:pointer; white-space:nowrap;
	}
	ul{
		left: 0;
	    position: absolute;
	    top: 90px;
	    width: 15em;
	    z-index: 0;
	    visibility: hidden;
	    opacity: 0;
	    background:$menu-lvnd-bg ;
	    padding: 5px 0;
	    @include transition(all 200ms ease-in-out);
		@include box-shadow(0 0 5px 0 rgba(0,0,0,.24));
		li{
			float:none; margin:0; background:$menu-lvnd-bg ;	
			&.parent{
				a{
					
				}
				li{
					a{
						background-image: none;
					}
				}
			}
			&.active{
				float:none; margin:0; padding-bottom:1px; background:$menu-lvnd-bg ;
				> a{
					color:$menu-lvnd-color-hover;
				}
			}
			&.last{
				padding-bottom:0;
				li{
				 	span { padding:3px 15px 4px 15px; }
				} 
			}
			a{
				font-size: 13px;				
				line-height: 30px;
				font-weight:normal !important;
				background:$menu-lvnd-bg;

				//color:$menu-lvnd-color !important;
				//&:hover { background:$menu-lvnd-bg-hover;color:$menu-lvnd-color-hover !important; }
			}
			&:hover{
				>a{
					background:$menu-lvnd-bg-hover;
					color:$menu-lvnd-color-hover;
				}
			}
		}
		a{
			&,
			&:hover{
				float:none; padding:0; background:none;
			}
		}
		ul,
		div{
			top:5px;
		}
		span{
			padding:$menu-lvnd-padding; 
		}
	}
	.over{
		> ul{ visibility: visible; opacity: 1; top: 100%;}
	}
	div{
		position:absolute; width:15em; top:$menu-height; left:-10000px; 
		ul{
			position:static; width:auto; border:none;
		}
	}
}

/* Megamenu */

#ves-mainnav{ 
	.ves-megamenu{border-top:3px solid #e5e5e5}
	.navbar-inverse{ margin :0; border-style: solid;}
	.navbar-nav{
		float: none; display: inline-block;
		line-height: 0;
		> li{ 
			float: left;
			@include rtl-float-left();
			&.dropdown{ 	
				> a > .caret{
					width: 5px;
					height: 5px;
					background: url(#{$image-theme-path-base}caret.png) center no-repeat;
					border: none;
    				margin-top: 1px;
					margin-right: 0px;
					margin-left: 10px;
					@include rtl-margin-left(10px);
					display: none;
				}
				
			}
			&:hover,
			&.active{
				> a{
					background: none;
					color: $nav-lv1-color-hover;
					&:after{
						background: $theme-color-default;
						width: 98%;
					}
				}
			}
			&:hover{
				> .dropdown-menu{
					opacity: 1;
					visibility: visible;
					top: 100%;
				}
				
			}
			> a{ 
				
				font-size: $menu-lvtop-font-size;
				display:block; 
				line-height:$menu-lvtop-line-height; 
				text-decoration:none; 
				float:left; 
				padding:14px 16px; 
				color: $nav-lv1-color;
				text-transform: uppercase;
				//font-family: "latoblack",sans-serif
				font-weight: bold;
				position: relative;
				&:after{
					content: "";position: absolute;top:-3px;left: 0px; right: 0px;
					 height: 3px; width: 3px; margin: 0 auto;
					 background: none;
					 @include transition(all 0.4s ease-out 0s);

				}
			}
			&.parent {
					> a{
						position: relative;
						&:before{
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;	
							border-top: 4px solid #222;
							position: absolute;
							bottom: 46%;
							right: 5px;	
							content:''; width: 0px; height: 0px;
							//@include scale(0);
					}
					
				}
				&:hover{
					a:before{
						//@include scale(1);
						//@include transition(all 200ms ease-in-out);
						border-top: 4px solid $nav-lv1-color-hover;
					}
				}
		}
			
			.dropdown-menu{ 
				background: #fff; 
				text-align: left; 
				min-width: 16em; 
				padding: 28px 25px 30px; 
				line-height: 1.45; 
				color: $menu-dropdow-color;
				top: 90px;
	    		z-index: 0;
	    		visibility: hidden;
	    		opacity: 0;
	    		display: block;
				border: none;
				@include rtl-left(0);
				
	    		//@include transition(all 200ms ease-in-out);
				a{								
					font-size: 13px;					    
					line-height: 30px;
					color: $menu-dropdow-color;
					&:hover{						
						color: $menu-dropdow-color-hv;
					}					
					display: block;
					line-height: 30px;
					line-height: 30px;
				}
				.name a{ line-height: 1.35em;}
				.dropdown-menu-inner{ 
					padding: 0;
					.dropdown-submenu { position: relative;}
					a{}

				}
			}
			&.full-width{
				position: static;
				.dropdown-menu{ width: 100% !important;}
			}
			&.m-left{
				position: static;
				.dropdown-menu{ left: 0; right: auto;}
			}
			&.m-right{
				position: static;
				.dropdown-menu{ left: auto; right: 0;}
			}
			.dropdown-submenu{
				> a{					
					> span{
						text-transform: uppercase;
						color: #fff;						
						padding-bottom:6px;
						display: block;
					}
				}
			}
			.mega-col-inner{
				div.menu-title{
					text-transform: uppercase;
					font-weight: bold;
					padding-bottom: 13px;
				}
			}
		}
		.menu-icon{ background: none !important}
	} 
	.dropdown-menu-inner{
		a{ color: #999;}
	}
	.navbar-inverse{ 
		float: none;
		.navbar-collapse{
			padding: 0; height: 46px !important;
			text-align: center;
		}
	}
	.navbar-inverse{ margin: 0; border-width: 0px;}
	.navbar-inverse .navbar{ border: none !important; margin: 0;}
	.widget-product-list {
		.product-block {
			margin:10px 0px;
				.image{
					float: left; margin-right: 10px; margin-bottom: 0px !important;
					img{ float: none; width: auto; height: auto; margin: 0;}
				}
				.price{padding: 0px;}
				.price-box .price{  font-family: $font-family-base !important; font-size: 15px !important;}
				.cart{ button.button{@include border-radius(0px); float: left;
					&:hover{border-color: $theme-color-default}
				}}
			}
	}
	.widget-inner{
		li{ color: #8c8c8c; line-height: 18px; font-size: 12px;}
		.title{ font-weight: 600; font-size: 12px; color: $base-color; padding: 4px 0 6px;}
	}	
}
.menu-offcanvas-inner{
	.widget-product-list {
		.product-block {
			margin:10px 0px;
			.image{
				float: left; margin-right: 10px; margin-bottom: 0px !important;
				img{ float: none; width: auto; height: auto; margin: 0;}
			}
			.price{padding: 0px;}
			.price-box .price{  font-family: $font-family-base !important; font-size: 15px !important;}
			.cart{ button.button{@include border-radius(0px); float: left;
				&:hover{border-color: $theme-color-default}
				}
			}
		}
	}
}