$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/hitech/';

/*------------------ User ------------------*/
$theme-color-primary   					: #708dca;
$theme-color-default					: #708dca;
$body-background 						: #fff;
$base-color								: #2e3a47;
$base-link-color						: $theme-color-default;
$border-color 							: #e4e5e7;
$theme-color-secondary					: #40a972;

/* Toplinks */
$topbar-bg								: #111111; 
$toplinks-color							: #999999;
$toplinks-color-hover					: $theme-color-default;

/* Header */
$header-main-bg							: transparent; 
$nav-background 						: transparent;

/* NAV */
$nav-lv1-color							: #222;
$nav-lv1-color-hover					: $theme-color-default;
$nav-bg									: $base-color;

/* Heading */
$h_color								: #999;
$h_active-color							: #fff;

/* Product */
$p_name-color							: $base-color;
$p_name-color-hv						: $base-color;
$p_price-color							: $theme-color-secondary;
$p_special-price-color					: $theme-color-secondary;
$p_old-price-color						: #999;
$p_bottom-border-color					: #aa2800;

/* Setting */
$topbar-border-color					: $theme-color-default transparent $border-color;
$navbar-border-color					: #27313c;
$navbar-inverse-bg						: $base-color;

/* Sidebar */
$block-title-bg							: $base-color;							

/* Font Design */
$font-base-web                              : "museo_sans300",sans-serif;

/*------------------ End User ------------------*/
$font-size-base:          12px ; 
$font-family-base:        "museo_sans300",sans-serif;
$font-family-primary: "museo_sans900",sans-serif;
$font-family-title:  "latoblack",sans-serif;
