<form id="category_chooser_form">
    <div class="content-header">
        <h3 class="icon-head head-adminhtml"><?php echo $this->__('Select Categories');?></h3>
        <p class="form-buttons">
            <button title="<?php echo $this->__('Reset');?>" type="button" class="scalable" onclick="WpCategoryChooserWidget.reset();" style=""><span><?php echo $this->__('Reset');?></span></button>
            <button title="<?php echo $this->__('Confirm And Close');?>" type="button" class="scalable save" onclick="WpCategoryChooserWidget.updateList();" style=""><span><?php echo $this->__('Confirm And Close');?></span></button>
        </p>
    </div>
    <div class="entry-edit">
        <script type="text/javascript"> //<![CDATA[
            var tree;
        //]]></script>
        <div class="categories-tree-actions">
            <a onclick="tree.collapseAll(); return false;" href="javascript:void(0);"><?php echo $this->__('Collapse All') ?></a>
            <span class="separator">|</span>
            <a onclick="tree.expandAll(); return false;" href="javascript:void(0);"><?php echo $this->__('Expand All') ?></a>
            <span class="separator">|</span>
            <a onclick="tree.unselectAll(); return false;" href="javascript:void(0);"><?php echo $this->__('Unselect All') ?></a>
        </div>
        <?php echo $this->getChildHtml('categories'); ?>
    </div>
</form>
