<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Display on Date/Time');?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <?php echo $this->getChildHtml('activity_options'); ?>
        </div>
    </div>
</div>
