<form id="caption_creator_form">
    <div class="content-header">
        <h3 class="icon-head head-adminhtml"><?php echo $this->__('Caption Creator');?></h3>
        <p class="form-buttons">
            <button title="<?php echo $this->__('Reset To Default');?>" type="button" class="scalable" onclick="WpCaptionCreatorPlugin.clear();" style=""><span><?php echo $this->__('Reset To Default');?></span></button>
            <button title="<?php echo $this->__('Insert Caption Code');?>" type="button" class="scalable save" onclick="WpCaptionCreatorPlugin.insertCaption();" style=""><span><?php echo $this->__('Insert Caption Code');?></span></button>
        </p>
    </div>
    <div class="entry-edit">
        <?php echo $this->getChildHtml('options'); ?>
    </div>
</form>
