<?php $_divId = 'tree' . $this->getId() ?>
<input type="hidden" id="categories_chooser" value="<?php echo $this->getSelectedCategoriesIds(); ?>"/>
<div id="<?php echo $_divId ?>" class="tree"></div>

<script type="text/javascript">
//<![CDATA[

Ext.tree.TreePanel.Enhanced = function(el, config)
{
    Ext.tree.TreePanel.Enhanced.superclass.constructor.call(this, el, config);
};

Ext.extend(Ext.tree.TreePanel.Enhanced, Ext.tree.TreePanel, {

    loadTree : function(config, firstLoad)
    {
        var parameters = config['parameters'];
        var data = config['data'];

        if ((typeof parameters['root_visible']) != 'undefined') {
            this.rootVisible = parameters['root_visible']*1;
        }

        var root = new Ext.tree.TreeNode(parameters);

        this.nodeHash = {};
        this.setRootNode(root);

        if (firstLoad) {
            <?php if ($this->getNodeClickListener()): ?>
                this.addListener('click', <?php echo $this->getNodeClickListener() ?>.createDelegate(this));
            <?php endif; ?>
        }

        this.loader.buildCategoryTree(root, data);
        this.el.dom.innerHTML = '';
        // render the tree
        this.render();
    },

    unselectAll: function()
    {
        startNode = this.getRootNode();
        var f = function () {
            if (this.attributes.checked) {
                this.attributes.checked = false;
                this.getUI().toggleCheck(false);
            }
        };
        startNode.cascade(f);
    },

    reset: function(resetState)
    {
        resetState = resetState.split(',');
        startNode = this.getRootNode();
        var f = function () {
            if (resetState.include(this.id) && !this.attributes.checked) {
                this.attributes.checked = true;
                this.getUI().toggleCheck(true);
            }
        };
        startNode.cascade(f);
    }
});

Ext.onReady(function()
{
    var emptyNodeAdded = true;

    var categoryLoader = new Ext.tree.TreeLoader({
       dataUrl: '<?php echo $this->getLoadTreeUrl() ?>'
    });

    categoryLoader.buildCategoryTree = function(parent, config)
    {
        if (!config) return null;


        if (parent && config && config.length){
            for (var i = 0; i < config.length; i++) {
                var node;
                config[i].uiProvider = Ext.tree.CheckboxNodeUI;
                var _node = Object.clone(config[i]);

                // Add empty node to reset category filter
                if(!emptyNodeAdded) {
                    var empty = Object.clone(_node);
                    empty.text = '<?php echo $this->__('None') ?>';
                    empty.children = [];
                    empty.id = 'none';
                    empty.path = '1/none';
                    empty.cls = 'leaf';
                    parent.appendChild(new Ext.tree.TreeNode(empty));
                    emptyNodeAdded = true;
                }

                if (_node.children && !_node.children.length) {
                    delete(_node.children);
                    node = new Ext.tree.AsyncTreeNode(_node);
                } else {
                    node = new Ext.tree.TreeNode(config[i]);
                }
                parent.appendChild(node);
                node.loader = node.getOwnerTree().loader;
                node.loader = node.getOwnerTree().loader;
                if (_node.children) {
                    this.buildCategoryTree(node, _node.children);
                }
            }
        }
    };

    categoryLoader.createNode = function(config) {
        var node;
        config.uiProvider = Ext.tree.CheckboxNodeUI;
        var _node = Object.clone(config);
        if (config.children && !config.children.length) {
            delete(config.children);
            node = new Ext.tree.AsyncTreeNode(config);
        } else {
            node = new Ext.tree.TreeNode(config);
        }
        return node;
    };

    categoryLoader.buildHash = function(node)
    {
        var hash = {};

        hash = this.toArray(node.attributes);

        if (node.childNodes.length>0 || (node.loaded==false && node.loading==false)) {
            hash['children'] = new Array;

            for (var i = 0, len = node.childNodes.length; i < len; i++) {
                if (!hash['children']) {
                    hash['children'] = new Array;
                }
                hash['children'].push(this.buildHash(node.childNodes[i]));
            }
        }

        return hash;
    };

    categoryLoader.toArray = function(attributes) {
        var data = {};
        for (var key in attributes) {
            var value = attributes[key];
            data[key] = value;
        }

        return data;
    };

    categoryLoader.on("beforeload", function(treeLoader, node) {
        treeLoader.baseParams.id = node.attributes.id;
    });

    tree = new Ext.tree.TreePanel.Enhanced('<?php echo $_divId ?>', {
        animate:          false,
        loader:           categoryLoader,
        enableDD:         false,
        containerScroll:  true,
        rootVisible:      '<?php echo $this->getRoot()->getIsVisible() ?>',
        useAjax:          true,
        currentNodeId:    <?php echo (int) $this->getCategoryId() ?>,
        addNodeTo:        false
    });


    tree.on('check', function(node) {
        $('<?php echo $_divId; ?>').fire('node:changed', {node:node});
    }, tree);

    // set the root node
    var parameters = {
        text:        'Psw',
        draggable:   false,
        id:          <?php echo (int) $this->getRoot()->getId() ?>,
        expanded:    <?php echo (int) $this->getIsWasExpanded() ?>,
        category_id: <?php echo (int) $this->getCategoryId() ?>
    };

    tree.loadTree({parameters:parameters, data:<?php echo $this->getTreeJson() ?>},true);
});

Event.observe(document, 'node:changed', function(event){
    var node = event.memo.node;
    var categories = $('categories_chooser');
    var value = categories.value.strip();
    if (node.attributes.checked) {
        if (value) ids = value.split(',');
        else ids = [];
        if (-1 == ids.indexOf(node.id)) {
            ids.push(node.id);
            categories.value = ids.join(',');
        }
    } else {
        ids = value.split(',');
        while (-1 != ids.indexOf(node.id)) {
            ids.splice(ids.indexOf(node.id), 1);
            categories.value = ids.join(',');
        }
    }
});
//]]>
</script>
