<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Abtesting
 */
?>
<?php
$counter = 0;
$test = $this->getTest();
$variations = $test->getVariations();
$control = $variations->getFirstItem();
$canBeEstimated = $test->canBeEstimated();
$canApplyToProduct = $this->canApplyToProduct();
?>

<?php if ($canBeEstimated):?>

    <?php if ($test->getStatus() != Amasty_Abtesting_Model_Test::STATUS_COMPLETE):?>
        <?php
            $completion = $test->getTotalVisitors() / $test->estimateVisitors();
            $timeElapsed = Mage::getModel('core/date')->gmtTimestamp() - strtotime($test->getStartedAt());
            $estimatedDuration = $timeElapsed / $completion;
            $estimatedCompletionTime = strtotime($test->getStartedAt()) + $estimatedDuration;

            $format = Mage::app()->getLocale()->getDateFormat();
        ?>
        <div class="entry-edit amabtesting-estimate">
            <div class="entry-edit-head"><h4><?php echo $this->__('Estimation')?></h4></div>
            <fieldset class="np">
                <div class="grid np">
                    <table cellspacing="0" style="border:0;">
                        <colgroup>
                            <col>
                            <col width="100">
                        </colgroup>
                        <tbody>
                        <tr class="even">
                            <td><?php echo $this->__('Approximate visitors count required for test completion')?></td>
                            <td class="a-right"><?php echo $test->estimateVisitors()?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->__('Total visitors')?></td>
                            <td class="a-right"><?php echo $test->getTotalVisitors()?></td>
                        </tr>
                        <tr class="even">
                            <td><?php echo $this->__('Test completion')?></td>
                            <td class="a-right"><?php echo sprintf("%.2f%%", $completion * 100)?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->__('Test started at')?></td>
                            <td class="a-right"><?php echo Mage::app()->getLocale()->date($test->getStartedAt(), Varien_Date::DATE_INTERNAL_FORMAT)->toString($format)?></td>
                        </tr>
                        <tr class="even">
                            <td><?php echo $this->__('Estimated completion date')?></td>
                            <td class="a-right"><?php echo Mage::app()->getLocale()->date($estimatedCompletionTime)->toString($format)?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    <?php endif?>
<?php else: ?>
    <ul class="messages">
        <li class="notice-msg">
            <?php echo $this->__(
                'Experiment needs to be running at least 4 days to be able to estimate significance of variations and test completion date.'
            ); ?>
        </li>
    </ul>
<?php endif?>

<table class="amabtesting-grid">
    <thead>
    <tr>
        <th></th>
        <th><?php echo $this->__('Variation') ?></th>
        <th><?php echo $this->__('Experiment Visits') ?></th>
        <th><?php echo $this->__('Conversions') ?></th>
        <th><?php echo $this->__('Conversion Rate') ?></th>
        <?php if ($canBeEstimated):?>
            <th><?php echo $this->__('Change') ?></th>
            <th><?php echo $this->__('Confidence') ?></th>
            <?php if ($canApplyToProduct):?>
                <th></th>
            <?php endif?>
        <?php endif ?>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($variations as $variation): ?>
        <?php
        $counter++;
        $class = '';
        if ($canBeEstimated && $counter > 1) {
            $result = $control->getResult($variation);
            $significant = $result[1] > .95;
            $good = $result[0] > 0;

            if ($significant) {
                $class = ' significant';
            }
            $class .= $good ? ' good' : ' bad';
        }
        ?>
    <tr class="<?php echo $class?>">
        <td></td>
        <td>
            <?php echo $this->__('Variation')?> <?php echo $counter?>
            <?php if ($variation->getName()):?> (<?php echo $variation->getName()?>)<?php endif ?>
        </td>
        <td><?php echo $variation->getVisits()?></td>
        <td><?php echo $variation->getConversions()?></td>
        <td>
            <?php if ($variation->getVisits() > 0): ?>
                <?php echo sprintf("%.2f", $variation->getConversions() / $variation->getVisits() * 100)?>%
            <?php else:?>
                <?php echo $this->__('N/A')?>
            <?php endif?>
        </td>
        <?php if ($canBeEstimated):?>
            <td>
                <?php echo($counter == 1 ? '—' : sprintf("%.2f%%", $result[0] * 100)); ?>
            </td>
            <td>
                <?php if ($counter == 1):?>
                    —
                <?php else:?>
                    <?php echo sprintf("%.2f%%", $result[1]*100) ?>
                <?php endif?>
            </td>
            <?php if ($canApplyToProduct):?>
                <td>
                    <?php if ($counter == 1 || ($good && $significant)):?>
                    <a class="copy-link" href="<?php echo $this->getUrl(
                        'adminhtml/amabtesting/copy', array('variation' => $variation->getId())
                    )?>"><?php echo $this->__('Copy data to product')?></a>
                    <?php endif ?>
                </td>
            <?php endif?>
        <?php endif ?>
    </tr>
    <?php endforeach ?>
    </tbody>
</table>

<script type="text/javascript">
    $$('.amabtesting-grid .copy-link').each(function(e){
        e.observe('click', function(e) {
            e.stop();

            if (confirm("<?php echo $this->__('Do you really want to copy variation data to product? This action can not be undone.')?>")) {
                window.location.href = $(this).readAttribute('href');
            }
        });
    });
</script>