.dialog{display:block;position:absolute;}
.dialog table.table_window{border-collapse:collapse;border-spacing:0;width:100%;margin:0px;padding:0px;}
.dialog table.table_window td , .dialog table.table_window th{padding:0;}
.dialog .title_window{-moz-user-select:none;}
.overlay_mac_os_x{background-color:#85BBEF;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;}
.mac_os_x_nw{width:24px;height:30px;}
.mac_os_x_n{height:30px;}
.mac_os_x_ne{width:31px;height:30px;}
.mac_os_x_w{width:16px;}
.mac_os_x_e{width:16px;}
.mac_os_x_sw{width:31px;height:40px;}
.mac_os_x_s{height:40px;}
.mac_os_x_se, .mac_os_x_sizer{width:31px;height:40px;}
.mac_os_x_sizer{cursor:se-resize;}
.mac_os_x_close{width:19px;height:19px;position:absolute;top:12px;left:25px;cursor:pointer;z-index:1000;}
.mac_os_x_minimize{width:19px;height:19px;position:absolute;top:12px;left:45px;cursor:pointer;z-index:1000;}
.mac_os_x_maximize{width:19px;height:19px;position:absolute;top:12px;left:65px;cursor:pointer;z-index:1000;}
.mac_os_x_title{float:left;height:14px;font-family:Tahoma, Arial, sans-serif;font-size:12px;text-align:center;margin-top:8px;width:100%;color:#000;}
.mac_os_x_content{overflow:hidden;color:#222;font-family:Tahoma, Arial, sans-serif;font-size:10px;background:none;}
.mac_os_x_s .status_bar{padding-bottom:24px;}