<style type="text/css">

/* FONTS ================================================================================= */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans);

body { margin: 0 auto; }
#toogas_content { 
	position: relative;
	width:550px; 
	height:350px; 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulblue/background.png'); ?>) no-repeat 0 0;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center
}
#toogas_content .top { padding: 36px 0 0 0px; margin: 0; }
#toogas_content .top >h3 { 
	color:#fff; 
	line-height: 30px; 
	font-size: 30px;
	font-weight: bold; 
	margin: 0;
}
#toogas_content .top > p { 
	font-size: 18px; 
	color: #fff;
	line-height: 20px;
	margin:0 0 0 25px; 
	padding: 0 50px; 
}
#toogas_content .left {  width: 100%; position: relative; padding: 30px 0px 0px 0px; } 
#toogas_content .left label { 
	font-size: 16px; 
	color: #005b7f;
	text-transform: uppercase; 
}
#toogas_newsletter { 
	background: url("<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulblue/bkg_email.png'); ?>") 0 0 no-repeat;
	color: #005b7f; 
	font-size: 14px;
	width: 150px;
	height: 30px;
	margin: 28px 0 0 0px;
	padding: 0 30px 0 5px;
	border: 0;	
}
#toogas_content .left .content_btn { }
#toogas_content .left .content_submit {
	margin: 18px 0px 0px 0px;
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulblue/bkg_submit.png'); ?>) no-repeat 50% 0;
	height: 37px;
	cursor: pointer; 
}
#toogas_content .left .content_submit span input { 
	color: #fff; 
	font-size: 13px; 
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 33px; 
}
#toogas_content .left .content_submit span { 
	text-align: center;
}
#toogas_content .left .content_submit input{ 
	background: none; 
    height: 37px;
    width: 194px; 
	cursor: pointer; 
	border: 0px; 
}
#toogas_content .left .content_submit:hover{ 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulblue/bkg_submit_hover.png'); ?>) no-repeat 50% 0; 
}

</style>

<div id="toogas_content">
	<div class="top">
		<h3><?php echo $this->htmlEscape($this->obtainHeaderTitle()) ?></h3>
		<p><?php echo $this->htmlEscape($this->obtainHeaderText()) ?></p>
	</div>

	<div class="left">
		<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-toogasfeaturedpopup">
		<label for="email"><?php echo $this->htmlEscape($this->obtainText()) ?></label>
	    <div>
	        <div class="content_input">
	        	<input type="text" name="email" id="toogas_newsletter" class="required-entry validate-email" placeholder="<?php echo $this->htmlEscape($this->obtainInputText()) ?>" value="" />
	     	</div>
	     	<div class="content_btn">
	     		<div class="content_submit">
		    		<span><input type="submit" value="<?php echo $this->htmlEscape($this->obtainButton()) ?>" /></span>
	    		</div>
	    	</div>
	    </div>
	</form>
	</div>		
</div>