$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/dark/';

/*------------------ User ------------------*/
$theme-color-default					: #7bbd42;
$body-background 						: #333;
$base-color								: #999;
$base-link-color						: #999;
$border-color 							: #4d423b;

/* NAV */
$nav-lv1-color							: #fff;
$nav-lv1-color-hover					: #fff;


/* Heading */
$h_color								: #666;
$h_active-color							: #fff;

/* Product */
$p_name-color							: #fff;
$p_name-color-hv						: #fff;
$p_price-color							: $theme-color-default;
$p_special-price-color					: #fff;
$p_old-price-color						: #896b5a;

/* Setting */
$topbar-border-color						: $theme-color-default transparent $border-color;
$navbar-border-color						: $border-color transparent $theme-color-default;

$p_bottom-border-color					: #71AC3E;

/*------------------ End User ------------------*/

