<?php
/**
 * WMD_Html5audio Design File
 *
 * WMD Web-Manufaktur/Digiswiss 
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that you find at http://wmdextensions.com/WMD-License-Community.txt
 *
 * @category  WMD
 * @package   WMD_Html5audio
 * @author    Dominik Wyss <info@wmdextensions.ch>
 * @copyright 2013 Dominik Wyss | WMD Extensions (http://wmdextensions.com)
 * @link      http://wmdextensions.com
 * @license   http://wmdextensions.com/WMD-License-Community.txt
 */ 
    $playlistId = $this->getPlaylistId();     
    $samples = $this->getSamples();
    $audiohelper = Mage::helper('html5audio');
    $iPlayer = 0;
?>  
<?php foreach($samples as $_sampleId => $value): ?>
    <?php $prepend = 'buttonlist_' . $iPlayer; ?>
    <?php if ($audiohelper->addButtonPlayerInstance($_sampleId, $prepend)): ?>
    <div id="jquery_jplayer_<?php echo $prepend.$_sampleId; ?>" class="jp-jplayer"></div>
    		
    <div id="jp_container_<?php echo $prepend.$_sampleId; ?>" class="jp-audio">
    	<div class="jp-type-single">
    		<div id="jp_interface_<?php echo $prepend.$_sampleId; ?>" class="jp-interface">
    			<ul class="jp-controls">
    				<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
    				<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>  
    				<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
    			</ul>
    			<div class="jp-progress-container">
    				<div class="jp-progress">
    					<div class="jp-seek-bar">
    						<div class="jp-play-bar"></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="jp-playlist">
    			<ul>
    				<li></li>
    			</ul>
    		</div> 
    		<div class="jp-no-solution">
    			<span>Update Required</span>
    			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    		</div>
    	</div>
    </div>
    <div class="tracktitle"><?php echo $audiohelper->getTitleFromId($_sampleId); ?></div>
    <?php $iPlayer++; ?>
    <?php endif; ?> 
<?php endforeach; ?> 

<script>
//<![CDATA[                                      
  jQuery(document).ready(function(){
      <?php echo Mage::helper('html5audio')->returnAllButtonPlayersJs(); ?>                                                       
  }); 
//]]>    
</script>