<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_File
 */
?>
<?php
    /**
     * @var Amasty_File_Model_File $item
     */
    $item = $this->getItem();
    $storeId = $this->getStoreId();

    /**
     * @var array $customerGroups
     */
    $customerGroups = Mage::getModel('amfile/backend_source_customergroup')->toOptionArray();

    $yesNo = Mage::getModel('adminhtml/system_config_source_yesno')->toOptionArray();
?>

<div class="box option-box">
    <button type="button" class="form-button delete" title="Remove" /><span><?php echo $this->__('Delete File'); ?></span></button>

    <input type="hidden" name="files[<?php echo $item->getId(); ?>][delete]" value="" class="delete-input" />

    <table class="form-list file-form">
        <thead>
        <tr>
            <th><?php echo $this->__('Title'); ?></th>
            <th><?php echo $this->__('File Name'); ?></th>
            <th>
                <label>
                    <input type="radio" name="files[<?php echo $item->getId(); ?>][use]" value="url" <?php if ($item->getFileLink()) echo 'checked';?> />
                    <?php echo $this->__('File Url'); ?>
                </label>
            </th>
            <th>
                <label>
                    <input type="radio" name="files[<?php echo $item->getId(); ?>][use]" value="file" <?php if (!$item->getFileLink()) echo 'checked';?>/>
                    <?php echo $this->__('Upload File'); ?>
                </label>
            </th>
            <th>
                <label for="am-attachment-customer-group-<?php echo $item->getId();?>">
                    <span><?php echo $this->__('Customer Group');?></span>
                </label>
            </th>
            <th>
                <label for="am-attachment-show-ordered-<?php echo $item->getId();?>">
                    <span><?php echo $this->__('Show only if a Product has been Ordered');?></span>
                </label>
            </th>
            <th><?php echo $this->__('Sort Order'); ?></th>
            <th><?php echo $this->__('Visible'); ?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" class="input-text" name="files[<?php echo $item->getId(); ?>][title]" value="<?php echo $item->getLabel() ?>"
                    <?php if ($item->getUseDefaultLabel())
                        echo 'disabled';
                    ?>
                    />
                <?php if ($storeId != 0): ?>
                    <label>
                        <input type="checkbox" class="default-value" name="files[<?php echo $item->getId(); ?>][default_title]" value=1
                            <?php if ($item->getUseDefaultLabel())
                                echo 'checked';
                            ?>
                            />
                        <?php echo $this->__('Use Default Value'); ?>
                    </label>
                <?php endif; ?>
            </td>
            <td>
                <input type="text" class="input-text file_url" name="files[<?php echo $item->getId(); ?>][file_name]" value="<?php echo $item->getFileName() ?>" />
                <?php if ($item->getFileUrl()): ?>
                    <a class='file' href="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/amfile_file/download', array('file_id' => $item->getId()))?>"><?php echo $item->title()?></a>
                <?php endif?>
            </td>
            <td>
                <input type="text" class="input-text file_url" name="files[<?php echo $item->getId(); ?>][file_link]" value="<?php echo $item->getFileLink()?>" />
            </td>
            <td>
                <input type="file" title="File" name="files[<?php echo $item->getId(); ?>][file]">
                <div class="drop" style="display: none">Click or drop files here</div>
            </td>
            <td>
                <select id="am-attachment-customer-group-<?php echo $item->getId();?>"
                        multiple="multiple" name="files[<?php echo $item->getId()?>][form_customer_groups][]"
                    <?php echo ($item->getDefaultCustomerGroup() && $storeId != 0) ? 'disabled' : '';?>>
                    <?php foreach ($customerGroups as $group):?>
                        <option value="<?php echo $group['value'];?>"
                                <?php echo in_array($group['value'], $item->getCustomerGroups()) ? 'selected' : ''?>
                            >
                            <?php echo $group['label'];?>
                        </option>
                    <?php endforeach;?>
                </select>
                <p class="note"><span class="comment">Press CTRL+mouse to select multiple values</span></p>
                <?php if ($storeId != 0): ?>
                    <label>
                        <input type="checkbox" class="default-value" name="files[<?php echo $item->getId(); ?>][default_customer_group]" value=1
                            <?php echo ($item->getDefaultCustomerGroup()) ? 'checked' : '';?>/>
                        <?php echo $this->__('Use Default Value'); ?>
                    </label>
                <?php endif;?>
            </td>
            <td>
                <select id="am-attachment-show-ordered-<?php echo $item->getId();?>"
                        name="files[<?php echo $item->getId()?>][show_ordered]"
                        <?php echo ($storeId != 0 && $item->getDefaultShowOrdered()) ? 'disabled' : '';?>>

                    <?php foreach ($yesNo as $k => $v):?>
                        <option value='<?php echo $v['value']?>'
                                <?php echo (
                                    ($item->getShowOrdered() !== null && $item->getShowOrdered() == $v['value'])
                                        || ($item->getShowOrdered() === null && $v['value'] == Mage::getStoreConfig('amfile/block/show_ordered')))
                                    ? 'selected' : ''?>>
                            <?php echo $this->__($v['label'])?>
                        </option>";
                    <?php endforeach;?>
                    <?php unset($v);?>
                </select>
                <?php if ($storeId != 0): ?>
                    <label>
                        <input type="checkbox" class="default-value" name="files[<?php echo $item->getId(); ?>][default_show_ordered]" value=1
                            <?php echo ($item->getDefaultShowOrdered()) ? 'checked' : '';?>/>
                        <?php echo $this->__('Use Default Value'); ?>
                    </label>
                <?php endif;?>
            </td>
            <td>
                <input type="text" class="input-text" name="files[<?php echo $item->getId(); ?>][position]" value="<?php echo $item->getPosition()?>" />
            </td>
            <td>
                <select name="files[<?php echo $item->getId(); ?>][visible]" <?php
                if ($item->getUseDefaultVisible())
                    echo 'disabled';
                ?>>
                    <?php foreach ($yesNo as $v):?>
                        <option value='<?php echo $v['value']?>' <?php echo $item->getVisible() == $v['value'] ? 'selected' : '';?>>
                            <?php echo $this->__($v['label']);?>
                        </option>";
                    <?php endforeach; ?>
                </select>
                <?php if ($storeId != 0): ?>
                    <label>
                        <input type="checkbox" class="default-value" name="files[<?php echo $item->getId(); ?>][default_visible]" value=1
                            <?php if ($item->getUseDefaultVisible())
                                echo 'checked';
                            ?>
                            />
                        <?php echo $this->__('Use Default Value'); ?>
                    </label>
                <?php endif; ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>
