.itoris_pagecontentslider_box {
	border: 1px solid #f2f2f2;
}
.itoris_pagecontentslider_slides_box {
	background-color: #000000;
	color: #ffffff;
}
.itoris_pagecontentslider_titles_box {
	background-color: #464646;
	color: #000000;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #f2f2f2;
	color: #d50000;
}
.itoris_pagecontentslider_title {
	border: 1px solid #000000;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme3-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme3-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme3-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme3-l.png);
}