.itoris_pagecontentslider_box {
	border: 1px solid #1a1a87;
}
.itoris_pagecontentslider_slides_box {
	background-color: #fff6d5;
}
.itoris_pagecontentslider_titles_box {
	background-color: #e8e4c1;
	color: #4c60b4;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #1a1a87;
	color: #dbe81c;
}
.itoris_pagecontentslider_title {
	border: 1px solid #fff6d5;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme9-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme9-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme9-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme9-l.png);
}