.itoris_pagecontentslider_box {
	border: 1px solid #999999;
}
.itoris_pagecontentslider_titles_box {
	background-color: #2c2c2c;
	color: #999999;
}
.itoris_pagecontentslider_slides_box {
	background-color: #333333;
	color: #ffffff;
}
.itoris_pagecontentslider_title {
	border: 1px solid #333333;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #999999;
	color: #333333;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme2-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme2-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme2-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme2-l.png);
}