.itoris_pagecontentslider_box {
	border: 1px solid #411422;
}
.itoris_pagecontentslider_slides_box {
	background-color: #d4ddd8;
}
.itoris_pagecontentslider_titles_box {
	background-color: #b77e8d;
	color: #411422;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #411422;
	color: #be3d64;
}
.itoris_pagecontentslider_title {
	border: 1px solid #d4ddd8;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme5-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme5-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme5-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme5-l.png);
}