.itoris_pagecontentslider_box {
	border: 1px solid #cd4343;
}
.itoris_pagecontentslider_slides_box {
	background-color: #8faaad;
}
.itoris_pagecontentslider_titles_box {
	background-color: #dbd5d1;
	color: #799497;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #cd4343;
	color: #dbd5d1;
}
.itoris_pagecontentslider_title {
	border: 1px solid #8faaad;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme10-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme10-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme10-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme10-l.png);
}