.itoris_pagecontentslider_box {
	border: 1px solid #273940;
}
.itoris_pagecontentslider_slides_box {
	background-color: #f2f1e4;
}
.itoris_pagecontentslider_titles_box {
	background-color: #733232;
	color: #bfa288;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #273940;
	color: #dbd5d1;
}
.itoris_pagecontentslider_title {
	border: 1px solid #f2f1e4;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme11-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme11-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme11-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme11-l.png);
}