.itoris_pagecontentslider_box {
	border: 1px solid #cf9644;
}
.itoris_pagecontentslider_slides_box {
	background-color: #fffbf6;
}
.itoris_pagecontentslider_titles_box {
	background-color: #717e65;
	color: #fffbf6;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #cf9644;
	color: #59664c;
}
.itoris_pagecontentslider_title {
	border: 1px solid #fffbf6;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme12-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme12-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme12-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme12-l.png);
}