.itoris_pagecontentslider_box {
	border: 1px solid #400059;
}
.itoris_pagecontentslider_slides_box {
	background-color: #fff4e6;
}
.itoris_pagecontentslider_titles_box {
	background-color: #829300;
	color: #e9ffb8;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #400059;
	color: #fff4e6;
}
.itoris_pagecontentslider_title {
	border: 1px solid #fff4e6;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme8-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme8-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme8-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme8-l.png);
}