.itoris_pagecontentslider_box {
	border: 1px solid #e6e6e6;
}
.itoris_pagecontentslider_titles_box {
	background-color: #f0f0f0;
	color: #666666;
}
.itoris_pagecontentslider_slides_box {
	background-color: #ffffff;
	color: #333333;
}
.itoris_pagecontentslider_title {
	border: 1px solid #ffffff;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #e6e6e6;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme1-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme1-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme1-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme1-l.png);
}
