.itoris_pagecontentslider_box {
	border: 1px solid #336600;
}
.itoris_pagecontentslider_slides_box {
	background-color: #cccccc;
}
.itoris_pagecontentslider_titles_box {
	background-color: #003300;
	color: #6e8954;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #336600;
	color: #ffffff;
}
.itoris_pagecontentslider_title {
	border: 1px solid #cccccc;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme4-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme4-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme4-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme4-l.png);
}