.itoris_pagecontentslider_box {
	border: 1px solid #ab91be;
}
.itoris_pagecontentslider_slides_box {
	background-color: #dedbeb;
}
.itoris_pagecontentslider_titles_box {
	background-color: #f5f4f2;
	color: #866e98;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #ab91be;
	color: #f5f4f2;
}
.itoris_pagecontentslider_title {
	border: 1px solid #dedbeb;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme14-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme14-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme14-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme14-l.png);
}