.itoris_pagecontentslider_box {
	border: 1px solid #468399;
}
.itoris_pagecontentslider_slides_box {
	background-color: #e2f2ed;
}
.itoris_pagecontentslider_titles_box {
	background-color: #cc617b;
	color: #315e6e;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #468399;
	color: #e2f2ed;
}
.itoris_pagecontentslider_title {
	border: 1px solid #e2f2ed;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme15-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme15-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme15-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme15-l.png);
}