.itoris_pagecontentslider_box {
	border: 1px solid #8c0a17;
}
.itoris_pagecontentslider_slides_box {
	background-color: #e0d7a9;
}
.itoris_pagecontentslider_titles_box {
	background-color: #210d12;
	color: #4d2022;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #8c0a17;
	color: #e0d7a9;
}
.itoris_pagecontentslider_title {
	border: 1px solid #e0d7a9;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme6-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme6-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme6-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme6-l.png);
}