.itoris_pagecontentslider_box {
	border: 1px solid #96ccd9;
}
.itoris_pagecontentslider_slides_box {
	background-color: #f2f2f2;
}
.itoris_pagecontentslider_titles_box {
	background-color: #024959;
	color: #96ccd9;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #96ccd9;
	color: #000000;
}
.itoris_pagecontentslider_title {
	border: 1px solid #f2f2f2;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme7-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme7-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme7-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme7-l.png);
}