.itoris_pagecontentslider_box {
	border: 1px solid #f2a20c;
}
.itoris_pagecontentslider_slides_box {
	background-color: #4f5e8c;
}
.itoris_pagecontentslider_titles_box {
	background-color: #f2790f;
	color: #3a4462;
}
.itoris_pagecontentslider_title:hover, .itoris_pagecontentslider_title_active {
	background-color: #f2a20c;
	color: #400101;
}
.itoris_pagecontentslider_title {
	border: 1px solid #4f5e8c;
	border-top: none;
	border-left: none;
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_t {
	background-image: url(images/theme13-t.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_r {
	background-image: url(images/theme13-r.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_b {
	background-image: url(images/theme13-b.png);
}
.itoris_pagecontentslider_title_active.itoris_pagecontentslider_title_l {
	background-image: url(images/theme13-l.png);
}