<style type="text/css">

/* FONTS ================================================================================= */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Droid+Sans);

body { margin: 0 auto; }
#content { 
	position: relative;
	width:550px; 
	height:350px; 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulyellow/background.png'); ?>) no-repeat 0 0;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center
}
#content .top { padding: 36px 0 0 0px; margin: 0; }
#content .top >h3 { 
	color:#d6a526; 
	line-height: 30px; 
	font-size: 35px;
	font-weight: bold; 
	margin: 0;
	text-align: left;
	padding: 0 0 0 20px;
}
#content .top > p { 
	font-size: 25px; 
	color: #d6a526;
	line-height: 22px;
	margin:0; 
	padding: 0 130px 0 20px;
	font-stretch: condensed;
    font-weight:300;
    text-align: left; 
}
#content .left {  
	width: 72%; 
	position: relative; 
	padding: 30px 0px 0px 20px; 
	text-align: left;
} 
#content .left label { 
	font-size: 16px; 
	color: #aaa7a6;
	text-transform: uppercase; 
	font-weight: bold;
}
#toogas_newsletter { 
	background: url("<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulyellow/bkg_email.png'); ?>") 0 0 no-repeat;
	color: #aaa7a6; 
	font-size: 14px;
	width: 230px;
	height: 38px;
	margin: 22px 0 0 0px;
	padding: 0 40px 0 15px;
	border: 0;	
}
#content .left .content_btn { text-align: left;}
#content .left .content_submit {
	margin: 22px 0px 0px 0px;
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulyellow/bkg_submit.png'); ?>) no-repeat 50% 0;
	height: 34px;
	width: 275px;
	cursor: pointer; 
	float: left;
}
#content .left .content_submit span input { 
	color: #3d3033; 
	font-size: 13px; 
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 33px; 
	display: block;
}
#content .left .content_submit input{ 
	background: none; 
	/*text-indent: -999px;*/
	height: 34px;
	width: 275px;	  
	cursor: pointer; 
	border: 0px; 
}
#content .left .content_submit:hover{ 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulyellow/bkg_submit_hover.png'); ?>) no-repeat 50% 0; 
}

</style>
<div id="content">
	<div class="top">
		<h3><?php echo $this->htmlEscape($this->obtainHeaderTitle()) ?></h3>
		<p><?php echo $this->htmlEscape($this->obtainHeaderText()) ?></p>
	</div>

	<div class="left">
		<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-toogasfeaturedpopup">
		<label for="email"><?php echo $this->htmlEscape($this->obtainText()) ?></label>
	    <div>
	        <div class="content_input">
	        	<input type="text" name="email" id="toogas_newsletter" class="required-entry validate-email" placeholder="<?php echo $this->htmlEscape($this->obtainInputText()) ?>" value="" />
	     	</div>
	     	<div class="content_btn">
	     		<div class="content_submit">
		    		<span><input type="submit" value="<?php echo $this->htmlEscape($this->obtainButton()) ?>" /></span>
	    		</div>
	    	</div>
	    </div>
	</form>
	</div>		
</div>