/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
.box {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    
}
.custom-block{margin-bottom: 30px; a{width: 100%;}}
.custom-block,.custom-banner{	
	a{
		position: relative;
		display: inline-block;
		&:before{
			content:"";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include transition(all 300ms ease-in-out);
		}
		&:hover{
			&:before{
				@include box-shadow(0 0 0 30px rgba(0, 0, 0, 0.03) inset);
				
			}
		}
	}	
}
.custom-block-2{
	a{
		&:hover{
			&:before{
				@include box-shadow(0 0 0 21px rgba(255, 255, 255, 0.2) inset);
				
			}
		}
	}
}


.custom-img a img{ 
	border: 1px solid #E9E9E9;
	@include box-sizing(content-box);
 }
.custom-img .box{ margin-bottom: 15px;} 
.custom-abs{ 
	border: 1px solid $border-color; 
	//background: #f5f5f5; 
	overflow: hidden;
	.row > div{ 
		border-right: 1px solid $border-color;
		@include rtl-border-right(1px solid $border-color);
		padding: 35px 10px 35px 25px;
		@include rtl-padding (35px, 10px, 35px, 18px);  								
		&:last-child{ 
			
			@include rtl-padding(35px, 25px, 35px, 25px); 
			@include rtl-border-right(1px solid #E4E5E7);
		}
	}
	.fa{ 
		font-size: 48px; color: #222; 
		float: left; 
		padding-right: 15px;
		@include rtl-padding(0 ,15px ,0 , 0);
		@include rtl-float-left();

	}
	h2{ font-size: 14px; color: #222;font-weight: bold; a{color: #222; } }
	span{ font-size: 12px; color: #222;}
	div div{
		
		&:hover{
			a,.fa{ color: $theme-color-primary; @include transitionall(all 300ms ease-in-out);}
		}
	}
}
.custom-abs h3,
.custom-footer-links h3{
	color: $base-color;
    font-size: $font-size-base;
    font-weight: normal;
    padding: 0 0 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.social {
	span{ display:none;}
	li{ float: left; margin: 0 4px; @include rtl-float-left();}
	.fa{
		color: #635565;
    	font-size: 20px;
	}
	a .fa{
	    color: #635565;
	    display: inline-block;
	    font-size: 20px;
	    height: 35px;
	    line-height: 35px;
	    width: 35px;
		text-align: center;
		@include transition(all 200ms ease-in-out);
		&:hover{ color: #fff;}
		background: #fff;
		@include border-radius(50%);
		
		&.fa-facebook:hover{ background: #346DA6;}
		&.fa-twitter:hover{ background: #4C91D7;}
		&.fa-rss:hover{ background: #F05423;}
		&.fa-youtube:hover{ background: #b61f26;}
		&.fa-skype:hover{ background: #00adf2;}
	}
}
.time li{ 
	@include clearfix();
	background: url(#{$image-theme-path-base}dot.png) left 16px repeat-x;
	
	line-height: 24px;
	span{ 
		background: $body-background;
		&.f-left{ padding-right: 5px;}
		&.f-right{ padding-left: 5px;}
	}
}
.custom-footer-links{
	font-size: 13px; color: $base-color; line-height: 24px;
	h3{
		position: relative;
		color: #000; padding-bottom: 5px; margin-bottom: 20px;
		&:after{
			content: ""; height: 3px; width: 35px;
			position: absolute;bottom: 0px; @include rtl-left(0px);
			background: $theme-color-default;
		}
	}
	strong{ color: $h_active-color;}
	p{ line-height: 18px; margin: 2px 0 0;}
	
	.contacts{
		li{ margin-bottom: 10px;}
		span.fa{
			margin-right: 12px;
			@include rtl-margin-right(12px);
			width: 26px;
			height: 26px;
			line-height: 26px;
			color: #fff;
			@include border-radius(50%);
			background: #8c8c8c;
			text-align: center;
			
		}
	} 
}
.custom-links{
	a{ 
		line-height: 24px; padding-left: 7px; color: $base-color;
		@include rtl-padding(0, 0, 0, 7px);
		@include transitionall(all 150ms ease-in-out);	
	}
	li{ 
		padding-bottom: 5px;
		@include transitionall(all 250ms ease-in-out);		
		&:hover{
			a,.fa{
				color: $theme-color-primary;
			}
		}
	}
	.fa{ 
		color: #8C8C8C;
    	font-size: 4px;
    	vertical-align: middle;
	}
}
.ct-p{
	margin-top: 15px;
	line-height: 32px;
	.fa{ 
		@include border-radius(50%);
		border: 3px solid $h_active-color;
	    color: $h_active-color;
	    font-size: 19px;
	    height: 35px;
	    line-height: 30px;
	    text-align: center;
	    width: 35px;
	    margin-right: 3px;
	}	
	strong{
	    font-size: 18px;
	    font-weight: normal;		
	}
}

/* New letter */
.module_content{
	@include clearfix();
	margin-bottom: 26px;	
}
.module_aboutus,
.module_custom-footer-links{ margin-bottom: 28px;}
.module_custombanner{ margin:0px; 
	a{ 
		&:before,&:after{display: none;}
		img{border: none;}
	}
}
.module_newletter{ margin-bottom: 0px;padding: 30px 0px;}

.action_button{
	li{
		width: auto; margin:20px 10px 0; clear: none; 
		a.button{
			color: $h_active-color; 			
			background: $base-color;
			border: 1px solid #28313c;
			font-size: 12px;				
			text-transform: uppercase;
			line-height: 28px;				
			text-align: center;
			padding: 0 16px;
			display: block;
			float: right;
			margin-bottom: 5px;
			@include border-radius(3px);
			&:hover{ background: $theme-color-primary; border-color: $p_bottom-border-color;}
		}
	}
}

.font-theme-color{color: $theme-color-default}


#ves-mainnav .navbar-nav > li > a,
h1, h2, h3, h4, h5, h6{
	font-family: $font-family-primary;
}




.product-block{
	.product-info{
	 	text-align: center;
	 	.product-name a{font-size: 13px; font-weight: normal;}
	}
	.actions .add-to-links li,.product-colorbox a,
	.actions button.btn-cart{@include border-radius(0px);float: none;display: inline-block;}
	.actions .add-to-links{float: none;display: inline-block;visibility: visible;
	    	opacity: 1;
			@include scale(1);}
}
.special-price .price,
.price-box .price{
	font-weight: normal;
	color: #ee4848;
}
.old-price .price{color: #999}

.image .onsale, .image .new-icon{

}