<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_File
 */
?>
<div class="drop" style="display: none"><span>Click or drop files here</span></div>