<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Islider
 * @version    2.0.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var $this AW_Islider_Block_Representations_Default_Block
 * @var AW_Islider_Model_Slider $slider
 */

if (($slider = $this->getSlider()) && count($this->getSlides())) : ?>
<div class="awislider" id="<?php echo $this->getUniqueBlockId() ?>" style="<?php echo $this->getStyleString()?>">
    <ul class="slides">
        <?php foreach($this->getSlides() as $slide) : ?>
            <li id="<?php echo $this->getUniqueBlockId() . '_' . $slide->getId()?>">
                <?php echo $this->prepareContent($slide); ?>
            </li>
        <?php endforeach ?>
    </ul>
</div>
<script type="text/javascript">
    var options = {
        prevText: '',
        nextText: '',
        animationSpeed: <?php echo $this->getTransitionSpeed() ? $this->getTransitionSpeed() : '1.0'; ?>,
        slideSpeed: '<?php echo $slider->getAnimationSpeed() ?>',
        initDelay: '<?php echo $slider->getData('first_timeout') ?>',
        animationType: '<?php echo $slider->getSwitchEffect() ?>',
        autohideNavigation: '<?php echo $slider->getNavAutohide() ?>',
        width: '<?php echo $slider->getWidth() ?>',
        height: '<?php echo $slider->getHeight() ?>',
        namespace: 'awis-',
        videoSlideClass: '.<?php echo AW_Islider_Block_Representations_Default_Block::DEFAULT_IFRAME_CLASS ?>'
    };

    new awiSlider('<?php echo $this->getUniqueBlockId() ?>', options);
</script>
<?php endif ?>
