<style type="text/css">

/* FONTS ================================================================================= */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans);

body { margin: 0 auto; }
#toogas_content { 
	position: relative;
	width:550px; 
	height:350px; 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulpink/background.png'); ?>) no-repeat 0 0;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
#toogas_content .top { padding: 18px 0 0 35px; margin: 0; }
#toogas_content .top >h3 { color:#fff; line-height: 20px; margin: 3px 0px 0px 24px;}
#toogas_content .top > p { 
	font-size: 18px; 
	color: #fff;
	line-height: 18px;
	margin:0 0 0 25px; 
	width: 480px;
}
#toogas_content .left {  width: 45%; position: relative; float: left; padding: 105px 0px 0px 35px; } 
#toogas_content .left label { 
	font-size: 14px; 
	color: #dc3069; 
}
#toogas_newsletter { 
	background: url("<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulpink/bkg_email.png'); ?>") 0 0 no-repeat;
	color: #dc3069; 
	font-size: 14px;
	width: 154px;
	height: 34px;
	margin: 9px 0 0 0px;
	padding: 0 5px 0 28px;
	border: 0;
	border-radius: 5px;
	
}
#toogas_content .left .content_submit {
	margin: 10px 0px 0px 0px;
	float: left;
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulpink/bkg_submit.png'); ?>) no-repeat 0 0;
	width: 188px;
	height: 42px;
	cursor: pointer; 
}
#toogas_content .left .content_submit span input { 
	color: #fff; 
	font-size: 14px; 
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px; 
	display: block;
}
#toogas_content .left .content_submit input{ 
	background: none; 
    height: 42px;
    width: 188px;	  
	cursor: pointer; 
	border: 0px; 
}
#toogas_content .left .content_submit:hover{ 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulpink/bkg_submit_hover.png'); ?>) no-repeat 0 0; 
}
#toogas_content .right { 
	width: 45%; 
	position: relative; 
	float: left; 
	margin: 65px 0 0 0; 
}
#toogas_content .right .title { 
	color: #dc3069; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 0 0 0 20px; 
}
#toogas_content .right .txt   { 
	color: #fff; 
	font-weight: normal; 
	font-size: 12px; 
	padding: 20px 0 0 20px; 
	line-height: 16px;
}
#toogas_content .right .itens { margin: 20px 0 0 20px; }
#toogas_content .right .itens  ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#toogas_content .right .itens  ul li { 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/beautifulpink/list.png'); ?>) 0 6px no-repeat;
	padding-left:25px;
	color: #dc3069;
	font-size: 12px;
	line-height: 18px;
}

</style>

<div id="toogas_content">
	<div class="top">
		<h3><?php echo $this->htmlEscape($this->obtainHeaderTitle()) ?></h3>
		<p><?php echo $this->htmlEscape($this->obtainHeaderText()) ?></p>
	</div>

	<div class="left">
		<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-toogasfeaturedpopup">
		<label for="email"><?php echo $this->htmlEscape($this->obtainText()) ?></label>
	    <div>
	        <div class="content_input">
	        	<input type="text" name="email" id="toogas_newsletter" class="required-entry validate-email" placeholder="<?php echo $this->htmlEscape($this->obtainInputText()) ?>" value="" />
	     	</div>
	     	<div class="content_submit">
		    	<span><input type="submit" value="<?php echo $this->htmlEscape($this->obtainButton()) ?>" /></span>
	    	</div>
	    </div>
	</form>
	</div>

	<div class="right">
		<div class="title"><?php echo $this->htmlEscape($this->obtainContentTitle()) ?></div>
		<div class="txt"><?php echo $this->htmlEscape($this->obtainContentText()) ?></div>
		<div class="itens">
			<ul>
				<?php if ($this->obtainInfoOne()): ?><li><?php echo $this->htmlEscape($this->obtainInfoOne()) ?></li><?php endif; ?>
				<?php if ($this->obtainInfoTwo()): ?><li><?php echo $this->htmlEscape($this->obtainInfoTwo()) ?></li><?php endif; ?>
				<?php if ($this->obtainInfoThree()): ?><li><?php echo $this->htmlEscape($this->obtainInfoThree()) ?></li><?php endif; ?>
			</ul>
		</div>

	</div>
	
</div>