<style type="text/css">
#toogas_content { 
	width:550px; 
	height:350px; 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/default/background.png'); ?>) no-repeat 0 0;
	font-family: 'Trebuchet MS', arial, sans-serif;
	margin: 0px;
	padding: 40px 0 0 65px;

}
#toogas_content p { 
	font-size: 16px; 
	color: #404040; 
	width: 420px; 
	height: 60px;  
}
#toogas_content label { 
	font-size: 20px; 
	color: #afafaf; 
}
#toogas_content div .content_input { 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/default/bkg_email.png'); ?>) no-repeat 0 0; 
	margin: 5px 0 0 0;
	float: left;
}
#toogas_content div .content_input input { 
	width: 359px; 
	height: 48px; 
	line-height: 20px; 
	font-size: 18px; 
	font-weight: normal; 
	color: #afafaf;
	padding: 0!important; 
}
#toogas_content div .content_submit {
	margin: 5px 0 0 0;
	float: left;
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/default/bkg_submit.png'); ?>) no-repeat 0 0;
	width: 65px; height: 50px;
}
#toogas_content div .content_submit input{ 
	background: none; 
	text-indent: -999px; 
	width: 65px; 
	height: 50px; 
	cursor: pointer; 
	border: 0px; 
}
#toogas_content div .content_submit:hover{ background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/default/bkg_submit_hover.png'); ?>) no-repeat 0 0; }
</style>
<div id="toogas_content">
<p><?php echo $this->htmlEscape($this->obtainText()) ?></p>
<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-toogasfeaturedpopup">
	<label for="email">Email:</label>
    <div>
        <div class="content_input">
        	<input type="text" name="email" id="newsletter" placeholder="<?php echo $this->htmlEscape($this->obtainInputText()) ?>" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
     	</div>
     	<div class="content_submit">
	    	<input type="submit" value="<?php echo $this->htmlEscape($this->obtainButton()) ?>" />
    	</div>
    </div>
</form>
</div>