<style type="text/css">

/* FONTS ================================================================================= */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Droid+Sans);

body { margin: 0 auto; }
#toogas_content { 
	position: relative;
	width:550px; 
	height:350px; 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/on/background.png'); ?>) no-repeat 0 0;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center
}
#toogas_content .top { padding: 36px 0 0 0px; margin: 0; }
#toogas_content .top >h3 { 
	color:#a7d9d4; 
	line-height: 30px; 
	font-size: 35px;
	font-weight: bold; 
	margin: 0;
	text-align: left;
	padding: 0 0 0 73px;
}
#toogas_content .top > p { 
	font-size: 25px; 
	color: #a7d9d4;
	line-height: 22px;
	margin:0; 
	padding: 0 50px;
	font-stretch: condensed;
    font-weight:300; 
}
#toogas_content .left {  width: 100%; position: relative; padding: 30px 0px 0px 0px; } 
#toogas_content .left label { 
	font-size: 16px; 
	color: #aaa7a6;
	text-transform: uppercase; 
}
#toogas_newsletter { 
	background: url("<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/on/bkg_email.png'); ?>") 0 0 no-repeat;
	color: #aaa7a6; 
	font-size: 14px;
	width: 230px;
	height: 38px;
	margin: 28px 0 0 0px;
	padding: 0 40px 0 15px;
	border: 0;	
}
#toogas_content .left .content_btn { }
#toogas_content .left .content_submit {
	margin: 18px 0px 0px 0px;
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/on/bkg_submit.png'); ?>) no-repeat 50% 0;
	height: 70px;
	cursor: pointer; 
}

#toogas_content .left .content_submit span input { 
	color: #aaa7a6; 
	font-size: 13px; 
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 33px; 
	display: block;
	margin: 8px 25px 0 0;
}
#toogas_content .left .content_submit input{ 
	background: none; 
	/*text-indent: -999px;*/
    height: 20px;
    width: 250px;	  
	cursor: pointer; 
	border: 0px;
	float: right; 
}
#toogas_content .left .content_submit:hover{ 
	background: url(<?php echo $this->getSkinUrl('images/Toogas/Featuredpopup/Widgets/on/bkg_submit_hover.png'); ?>) no-repeat 50% 0; 
}

</style>

<div id="toogas_content">
	<div class="top">
		<h3><?php echo $this->htmlEscape($this->obtainHeaderTitle()) ?></h3>
		<p><?php echo $this->htmlEscape($this->obtainHeaderText()) ?></p>
	</div>

	<div class="left">
		<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-toogasfeaturedpopup">
		<label for="email"><?php echo $this->htmlEscape($this->obtainText()) ?></label>
	    <div>
	        <div class="content_input">
	        	<input type="text" name="email" id="toogas_newsletter" class="required-entry validate-email" placeholder="<?php echo $this->htmlEscape($this->obtainInputText()) ?>" value="" />
	     	</div>
	     	<div class="content_btn">
	     		<div class="content_submit">
		    		<span><input type="submit" value="<?php echo $this->htmlEscape($this->obtainButton()) ?>" /></span>
	    		</div>
	    	</div>
	    </div>
	</form>
	</div>		
</div>