/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/* Import ================================================================================ */
//@import "compass";
@import "variables-skin";
@import "../../magento/variables-bootstrap";
@import "variables-bootstrap";

@import "../../magento/variables-magento";
@import "variables-magento";



@import "../../bootstrap_lib/mixins";
@import "../../magento/mixins";

@import "../../magento/rtl";
@import "../../magento/base";
@import "../../magento/block";
@import "../../magento/form";
@import "magento/layout";
@import "magento/magento-module";
@import "../../magento/magento-pages";
@import "magento/menu";
@import "../../magento/paneltool";
@import "../../magento/offcanvas";
@import "../../magento/product";
@import "../../magento/responsive";
@import "../../magento/typo";
@import "magento/custom";


@media screen and (max-width: $screen-md) {
	.navbar-inverse .navbar-toggle{background: #111}
	.new-letter{
		border: none;
		.row > div{
			border-right: none;
			border-bottom: 1px solid #222222;
		}
	}
	.producttabs .nav-tabs li{display: block;text-align: center;}
}
@media screen and (max-width: $screen-sm) {

}