<?php
/**
 * MageRevolution_PackageProductType extension
 * @category   MageRevolution
 * @package    MageRevolution_PackageProductType
 * @copyright  copyright novusweb llc
 * @author     Christopher Silvey <webmaster@beckindesigns.com> http://www.beckindesigns.com/
 * @co author  Bret Williams <bret.williams@novusweb.com> http://www.novusweb.com/
 */
?>
<?php $_order = $this->getOrder() ?>
<div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-tables">
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('package')->__('Product') ?></th>
                <th><span class="nobr"><?php echo Mage::helper('package')->__('Item Status') ?></span></th>
                <th><span class="nobr"><?php echo Mage::helper('package')->__('Original Price') ?></span></th>
                <th><?php echo Mage::helper('package')->__('Price') ?></th>
                <th class="a-center"><?php echo Mage::helper('package')->__('Qty') ?></th>
                <th><?php echo Mage::helper('package')->__('Subtotal') ?></th>
                <th><span class="nobr"><?php echo Mage::helper('package')->__('Tax Amount') ?></span></th>
                <th><span class="nobr"><?php echo Mage::helper('package')->__('Tax Percent') ?></span></th>
                <th><span class="nobr"><?php echo Mage::helper('package')->__('Discount Amount') ?></span></th>
                <th class="last"><span class="nobr"><?php echo Mage::helper('package')->__('Row Total') ?></span></th>
            </tr>
        </thead>
        <?php $_items = $this->getItemsCollection() ?>
        <?php $i=0;foreach ($_items as $_item):?>
            <?php if ($_item->getParentItem() && (!$this->getIsPackage($_item))) continue; else $i++;?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <?php echo $this->getItemHtml($_item) ?>
                <?php echo $this->getItemExtraInfoHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
  </div>
</div>
<br />
