.rtl {


	.carousel-controls .carousel-control{
		&.left{left:auto; right:0}
		&.right{left:0; right:auto}
	}

	#columns .container{
		> .row{
			> section,
			> aside{float: left;}
		}
	}
	#ves-dropdown li.over > ul,
	#ves-dropdown li.over > ul li.over > ul { right:120px; left:auto }
	.offcanvas-sidebars-buttons{
		.pull-left{float: left !important}
		.pull-right{float: right !important}
	}
	.zoomWindow {
		left: auto;
		right: 460px !important;
	}


	.custom-footer-links .custom-links .fa{display: none;}












}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher{
  -webkit-transform: translate3d(-280px, 0, 0)!important;
          transform: translate3d(-280px, 0, 0)!important;
}

.offcanvas-effect-3.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0)!important;
	transform: translate3d(100%, 0, 0)!important;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {

	-webkit-transform: translate3d(0, 0, 0)!important;
	transform: translate3d(0, 0, 0)!important;

}