/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
.sidebar .block .block-content{ border: 1px solid $border-color;}

.sidebar .block {
	@include clearfix();
	border: none;
	margin-bottom: $block-module-margin;
	.block-title {
		background: $base-color;
		line-height: 44px;		
		font-size: $font-size-base;
		text-transform: uppercase;	
		padding: 0 18px;	
		font-weight: 600;
		strong {
			span {
				color: $block-module-title-color;
				text-transform: uppercase;
				line-height: 28px;	
				font-weight: 700;
			}
		}
		a { text-decoration:none !important; }
	}
	.block-subtitle {}
	.block-content {
    padding:  10px;
		background: #fff;
		li.item {}
		.product-name { 
			margin-bottom: 0; 
		}
	}

	.btn-remove,
	.btn-edit { 
		float:right; margin:5px 0 0;
		@include rtl-background-position-left(center);
	}
	.actions { 
		@include clearfix();
		padding: 10px 0;
		a,button.button span span { 	
			background-color: $theme-color-primary;
			border: 1px solid $theme-color-primary;
			color: $white;  
			font-size: 12px;
			text-transform: uppercase;
		 	padding: 0 10px;
			height: 26px;
			@include border-radius(3px);
			line-height: 26px;
			display: inline-block;
			&:hover{
				text-decoration: underline; 
			}
		}
		button.button { 
			border: none;
			display: block; float: left; margin-right: 5px;
			padding: 0;
			span span{ background: none; border: none; display: block; line-height: 28px;}
			&:hover{
				span span{ text-decoration: underline; }
			}
		}
	}
	.empty { margin:0; padding:5px 9px; }

	li{
		input.radio{ margin-top: 1px;} 
		padding: 5px 0;
		&.odd { 
		
		}
		&.even { 
		
		}
		&:first-child {
			 border-top: none;
		}
	}
}
 

/* Mini Products List */
.mini-products-list {
	font-size: 12px;
	line-height: $theme-line-height - 12;
	li {
		overflow: hidden;
	}
	.product-image { 
		float:left; margin-right: 15px;
		@include rtl-float-left();

		@include rtl-margin-right(15px);
	}
	.product-details { 
		color: #000;
		overflow: hidden;
		.product-name,.nobr small{ 
			word-wrap:break-word; 
		}
		.nobr { 
			white-space:normal !important; 
		}
	}
}

/* Block: Cart */
.block-cart {
	@include transition(all 300ms ease-in-out);
	background: #fff;
	.summary { padding:10px 0; position:relative; z-index:1; text-align: right;}
	.amount { 
		margin:0; 
		a { font-weight:bold; }
	}
	.amount{ padding-bottom: 10px;}
	.subtotal {
		text-align:right; 
		.price { font-weight:bold; }
		.label{ color: inherit; display: inline-block; text-align: right;}

	}
	.actions { 
		padding: 0;
		button.button,.view-cart{ 
			background: #000;
			border: none;
			color: #FFF !important;
			display: block;
			float: right;
			height: auto;
			line-height: 10px;
			padding: 10px 15px;
			margin: 0 0 0 5px;
			text-transform: uppercase;
			font-size: 12px;
			&:hover{
				color:#999 !important;
			}
		}
		@include clearfix();
		.paypal-logo { 
			float:left; width:100%; margin:3px 0 0; text-align:right; 
			.paypal-or { 
				clear:both; display:block; padding:0 55px 8px 0; 
			}
		}
	}
}

/* Block: Layered Navigation */
.sidebar .block-layered-nav{ 
	.block-title {}
	.block-subtitle { display: none;}
	.block-content {}
	dt { text-transform:uppercase; font-size: $font-size-base; line-height: 20px; padding: 5px 0 5px 15px; }
	dd { 
		&.last { background:none; }
		a{ color: $base-color;}
		li{ 
			line-height: 20px; padding: 7px 0 7px 40px;
			background: url(#{$image-theme-path-base}arrow-li.png) 30px 14px no-repeat;
		}
	}
	li { 
			border: none;
		}
	.currently {
		li{
			span{ display: inline-block; color: #111;}
		}
	}	
	.actions { 
		 a {} 
	}
}


/* Block: Poll */
.block-poll { 
	color:#777;
	li { 
		clear: both; 
		line-height: $theme-line-height - 2;
	}
	#poll-answers{
		li{
			clear: both;
			.answer{ 
				float: left; 
				padding:  0 5px 0 0;
				@include rtl-padding(0, 5px, 0, 0);
				@include rtl-float-left();
			}
		}
	}
}
/* Block: Orders and Returns */
.block-gr-search {
	li { 
		padding:3px 9px; 
	}
	button.button span { 
		border-color:#406a83; background:#618499; 
	}
}

/* Block: Tags */
.block-tags {
	.block-title strong {}
	.block-content {
		padding: 10px;
		.tags-list {
			li {
				border: none;
			}
		}
		a { 
		}
	}
	.actions { 
		text-align:right; 
		a { 
			float:none; 
		}
	}
}
/* Block reorder */
.block-reorder li input {
	margin-right:  12px;
}
/* Block: Banner */
.block-banner {
	.block-content { 
		text-align:center; 
	}
}
.paypal-logo {
	margin-bottom: 15px;
}
.form-list li{
	padding: 5px 0;
	overflow: hidden;
}
.form-list .input-box{ width: 98%;} 
.form-list .wide{
    width: 50%;
}
.form-list .field {
    float: left;
    width: 50%;
}
/* Block related */
.sidebar .mini-products-list {
	.product{
		padding: 25px 15px; 
		border-top: 1px solid $border-color; 
		
		@include clearfix();
		.product-name a{
			font-size: 14px;
			display: block;
			margin: 0 0 8px;
		}
		.ratings{
			margin: 0 0 8px;
			.amount{ display: none;}
			.rating-box{ float: none;}
		}
		.price-box{ margin: 0 0 8px;}
	}
	.products-grid{ 
		border: none;		
	}
	.equal, .equal > div{ display: block;}

}
.checkbox.related-checkbox {
    float: right;
}

/* Block account */
.block-account{
	.block-content{ padding: 15px 20px 10px;}
}

.buttons-set{	
	@include clearfix();
}

.buttons-set2{
	.button.button{ margin-left: 10px;}
}
