/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
.box {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    
}

.custom-block,.custom-banner{	
	a{
		position: relative;
		display: block;
		&:before{
			content:"";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include transition(all 300ms ease-in-out);
		}
		&:hover{
			&:before{
				@include box-shadow(0 0 0 30px rgba(0, 0, 0, 0.03) inset);
				
			}
		}
	}	
}
.custom-img a img{ 
	border: 1px solid #E9E9E9;
	@include box-sizing(content-box);
 }
.custom-img .box{ margin-bottom: 15px;} 
.custom-abs{ 
	border: 1px solid $border-color; 
	background: #f5f5f5; 
	overflow: hidden;
	.row > div{ 
		border-right: 1px solid $border-color;
		@include rtl-border-right(1px solid $border-color);
		padding: 35px 10px 35px 25px;
		@include rtl-padding (35px, 10px, 35px, 25px);  								
		&:last-child{ 
			
			@include rtl-padding(35px, 25px, 35px, 25px); 
			@include rtl-border-right(1px solid #E4E5E7);
		}
	}
	.fa{ 
		font-size: 60px; color: $base-color; 
		float: left; 
		padding-right: 15px;
		@include rtl-padding(0 ,15px ,0 , 0);
		@include rtl-float-left();

	}
	h2{ font-size: 18px; color: $base-color;}
	span{ font-size: $font-size-base; color: #8c8c8c;}
	div div{
		
		&:hover{
			a,.fa{ color: $theme-color-primary; @include transitionall(all 300ms ease-in-out);}
		}
	}
}
.custom-abs h3,
.custom-footer-links h3{
	color: $base-color;
    font-size: $font-size-base;
    font-weight: normal;
    padding: 0 0 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.social {
	span{ display:none;}
	li{ float: left; margin: 0 4px; @include rtl-float-left();}
	.fa{
		color: #635565;
    	font-size: 20px;
	}
	a .fa{
	    color: #635565;
	    display: inline-block;
	    font-size: 20px;
	    height: 35px;
	    line-height: 35px;
	    width: 35px;
		text-align: center;
		@include transition(all 200ms ease-in-out);
		&:hover{ color: #fff;}
		background: #fff;
		@include border-radius(50%);
		
		&.fa-facebook:hover{ background: #346DA6;}
		&.fa-twitter:hover{ background: #4C91D7;}
		&.fa-rss:hover{ background: #F05423;}
		&.fa-youtube:hover{ background: #b61f26;}
		&.fa-skype:hover{ background: #00adf2;}
	}
}
.time li{ 
	@include clearfix();
	background: url(#{$image-theme-path-base}dot.png) left 16px repeat-x;
	
	line-height: 24px;
	span{ 
		background: $body-background;
		&.f-left{ padding-right: 5px;}
		&.f-right{ padding-left: 5px;}
	}
}
.custom-footer-links{
	font-size: 13px; color: $base-color; line-height: 24px;
	h3{}
	strong{ color: $h_active-color;}
	p{ line-height: 18px; margin: 2px 0 0;}
	
	.contacts{
		li{ margin-bottom: 10px;}
		span.fa{
			margin-right: 12px;
			@include rtl-margin-right(12px);
			width: 26px;
			height: 26px;
			line-height: 26px;
			color: #fff;
			@include border-radius(50%);
			background: #8c8c8c;
			text-align: center;
			
		}
	} 
}
.custom-links{
	a{ 
		line-height: 24px; padding-left: 7px; color: $base-color;
		@include rtl-padding(0, 0, 0, 7px);
		@include transitionall(all 150ms ease-in-out);	
	}
	li{ 
		padding-bottom: 5px;
		@include transitionall(all 250ms ease-in-out);		
		&:hover{
			a,.fa{
				color: $theme-color-primary;
			}
		}
	}
	.fa{ 
		color: #8C8C8C;
    	font-size: 4px;
    	vertical-align: middle;
	}
}
.ct-p{
	margin-top: 15px;
	line-height: 32px;
	.fa{ 
		@include border-radius(50%);
		border: 3px solid $h_active-color;
	    color: $h_active-color;
	    font-size: 19px;
	    height: 35px;
	    line-height: 30px;
	    text-align: center;
	    width: 35px;
	    margin-right: 3px;
	}	
	strong{
	    font-size: 18px;
	    font-weight: normal;		
	}
}

/* New letter */
.module_content{
	@include clearfix();
	margin-bottom: 26px;	
}
.module_aboutus,
.module_custom-footer-links{ margin-bottom: 28px;}
.module_custombanner{ margin-bottom: 8px;}
.module_newletter{ margin-bottom: 35px;}

.std {
	.content-form {
		.row {
			margin-bottom: 5px;
			.form-title {
				color: $theme-color-primary;
				font-weight: bold;
				font-size: 18px;
				line-height: 18px;
			}
		}
	}
}

.insider-button {
  color: #333;
  margin-bottom: 5px;
  padding: 0 16px;
  background: $theme-color-secondary;
  box-shadow: 0 0 3px rgba(0, 0, 0, .75);
  text-align: center;
  text-transform: uppercase;
  @include border-radius(3px);
  font-size: 12px;
  @include filter-gradient($yellow, $orange, vertical);
  @include background-image(linear-gradient(top, $yellow 0%, $orange 100%));
  line-height: 28px;
  &:hover {
    background: $theme-color-default;
    color: #fff;
  }
}