/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/* Forms */
form {
  display: inline;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

/* Table */
table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
  width: 100%;
}

caption, th, td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

/* Global Styles ========================================================================= */
/* Form Elements */
input, select, textarea, button {
  font-size: $font-size-base;
  color: $input-color;
  background-color: $input-bg;
  border: 1px solid $input-border;
  border-radius: $border-radius-small;
  padding-left: 10px;
  padding-right: 10px;
}

input[type=text], input[type=password], input[type=tel], input[type=number], input[type=email] {
  padding: 10px 0;
  width: 100%;
  height: 40px;
  @include border-radius(5px);
  border: 1px solid $border-color;
  background: #eee;
  color: #333;
  text-indent: 15px;
  font-size: 12px;
}

.button, input {
}

.button, input.button {
  border: none;
}

select, textarea {
  padding: 5px;
  width: 100%;
}

select, select.form-control {
  height: 42px;
}

input.qty, input[title="Qty"] {
  display: inline;
  text-align: left;
  width: 65px;
  height: 30px;
  color: #3e4141;
  font-size: 16px;

}

input[type="radio"], input[type="checkbox"] {
  float: left;
  margin: 0 3px 0 0;
  border: none;
  @include rtl-float-left();
  @include rtl-margin(0, 3px, 0, 0);

}

label {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: $gray;
}

.label {
  display: table-cell;
}

/* Data Table */
table {
  width: 100%;
  border: 1px solid $border-color;
  .odd {
  }
  .even {
    background: #eeeded;
  }
  td.last, th.last {
    border-right: 0;
  }
  tr.last th, tr.last td {
    border-bottom: 0 !important;
    border-color: $border-color;
  }
  th {
    padding: 3px 8px;
    font-weight: bold;
    border-right: 1px solid #d6d4d4
  }
  td {
    padding: 3px 8px;
  }

  tbody {
    th, td {
      border-bottom: 1px solid #d9dde3;
      border-right: 1px solid #d9dde3;
    }
  }
  /* Bundle products tables */
  tbody.odd tr {
    background: #f8f7f5 !important;
  }
  tbody.even tr {
    background: #f6f6f6 !important;
  }
  tbody.odd tr td,
  tbody.even tr td {
    border-bottom: 0;
  }
  tbody.odd tr.border td,
  tbody.even tr.border td {
    border-bottom: 1px solid #d9dde3;
  }

  tbody td .option-label {
    font-weight: bold;
    font-style: italic;
  }
  tbody td .option-value {
    padding-left: 10px;
  }

}

.table thead > tr > th {
  border-color: $border-color;
}

.data-table {
  width: 100%;
  th, td {
    padding: 10px;
  }
  thead {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid $border-color;
    th {
      font-weight: bold;
      vertical-align: bottom;
      &.wrap {
        white-space: normal;
      }
    }
  }
  tr.odd td, tr.odd th {
    border-right: 1px solid $border-color;
    color: #333;
    border-color: $border-color;
  }
  tr.odd td.last {

  }
  tr.odd.last {
    border-bottom: 1px solid $border-color;
  }
  tr.even td, tr.even th {
    border-right: 1px solid $border-color;
    color: #333;
  }
  tr.even td.last {

  }
  tr.even {
    background-color: #fff;
  }
  tbody {
    tr.product-shop-row:hover {
      background-color: #fff;
    }
    &.odd td {
      border-width: 0 1px;
    }
    &.odd tr.last {
      border-bottom: 1px solid $border-color;
    }
    &.even {
      background-color: #fff;
    }
    &.even td {
      border-width: 0 1px;
    }
  }
  th .tax-flag {
    font-weight: normal;
  }
  .cell-label {
    display: none;
  }
}

.validation-advice {
  color: #ee001c;
  font-size: 12px;
  margin: 3px 0;
}