/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
/* Layout ================================================================================ */
.wrapper {
}

#page {
  margin: 0 auto;
}

.page-print {
  padding: 25px 30px;
  background: #fff;
  text-align: left;
  .print-head {
    @include clearfix();
  }
  .buttons-set {
    margin-top: 20px;
  }
}

.page-empty {
  padding: 20px;
  background: #fff;
  text-align: left;
}

.page-popup {
  padding: 25px 30px;
  background: #fff;
  text-align: left;
}

.main-container {
}

.main {
}

body {
  background: url("#{$image-theme-path-base}pattern/pattern-cj.png");
  &.layout-boxed-md {
    background: url("#{$image-theme-path-base}pattern/pattern14.png");
    #page {
      max-width: $container-desktop;
      @include box-shadow(0 0 5px #888);
      background: $white;
    }
  }
  &.layout-boxed-lg {
    background: url("#{$image-theme-path-base}pattern/pattern14.png");
    #page {
      max-width: $container-lg-desktop;
      @include box-shadow(0 0 5px #888);
      background: $white;
    }

  }
  &.fullwidth {
  }

}

/*
* TOPBAR
*/

#topbar {
  z-index: 99;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #dcdcdc;
  background-color: $topbar-bg;
  color: $toplinks-color;
  line-height: $topbar-line-height;
  @include clearfix();
  a {
    color: $toplinks-color;
    &:hover {
      color: $toplinks-color-hover;
    }
  }
  .form-language {
  }
  .links {
    li {
      margin: 0 10px 0 15px;
      font-size: $font-size-base - 2;
    }
  }
  span, a {
    margin: 0;
    text-align: right;
    font-size: $font-size-base - 2;
    a {
      color: $base-link-color;
    }
  }

  .language {
    padding-top: 13px;
    padding-left: 12px;
    > div {
      padding-right: 12px;
    }
  }
  .caret {
    margin-top: -1px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
    border: none;
    background: url(#{$image-theme-path-base}caret.png) center no-repeat transparent;
  }
}

/* top search */
#search-container {
  .input-group {
    width: 100%;
  }
  .form-search {
    position: relative;
    margin-top: 34px;
    margin-right: 6px;
    @media (max-width: $screen-sm) {
      margin-top: 4px;
    }
    label {
      display: none;
    }
    #search {
      @include border-radius(0);
      border: 1px solid $border-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .button {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      margin: 0 0 2px;
      padding: 0;
      width: 42px;
      height: 100%;
      border: none;
      background: transparent;
      box-shadow: none;
      color: $theme-color-default;
      text-align: center;
      font-size: 1.4em;
    }
  }
}

/* Cart top */
.cart-inner {
  margin-top: 35px;
  .title {
    display: block;
    color: $base-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: 1em;
  }
  .fa {
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background: $theme-color-secondary;
    @include filter-gradient($yellow, $orange, vertical);
    @include background-image(linear-gradient(top, $yellow 0%, $orange 100%));
    box-shadow: 0 0 3px rgba(0, 0, 0, .75);
    color: #012e55;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
  }
  h4 {
    float: right;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    a {
      color: #8c8c8c;
    }
  }
  a {
    text-transform: none;
  }
}

/*
* HEADER
*/
#header-main {
  background-color: $header-main-bg;
  .header-wrap {
    min-height: $header-main-height;
    .logo {
      display: block;
      float: left;
      line-height: $header-main-height;
      @include rtl-float-left();
    }
  }

}

.header-wrap {
  padding: $header-main-padding;
}

/**LOGO**/
.logo {
  strong {
    position: absolute;
    top: -999em;
    left: -999em;
    overflow: hidden;
    width: 0;
    height: 0;
    text-indent: -999em;
    font-size: 0;
    line-height: 0;
  }
}

/* Search */
.top-search {
  position: relative;
  float: left;
  margin-top: 35px;
  .form-search {
    label {
      display: none;
    }
    input.input-text {
      padding: 5px 8px;
      width: 410px;
      height: 40px;
      border: 1px solid $border-color;
      color: #cfcfcf;
      font-size: $font-size-base - 2;
    }
    button.button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 10px;
      border: none;
      background: none;
      color: $theme-color-default;
      @include rtl-right(0);
    }
    .search-autocomplete {
      top: 100% !important;
      left: 0 !important;
      z-index: 999;
      ul {
        border: 1px solid #5c7989;
        background-color: #f9f5f0;
        li {
          padding: 2px 8px 1px 8px;
          border-bottom: 1px solid #f4eee7;
          text-align: left;
          cursor: pointer;
          .amount {
            float: right;
            font-weight: bold;
          }
          &.odd {
            background-color: #fffefb;
          }
          &.selected {
            background-color: #f7e8dd;
          }
        }
      }
    }
  }
}

.top-container {
  clear: both;
  padding: 5px 10px 0 12px;
  text-align: right;
  a {
    color: #ebbc58;
    font-size: 11px;
  }
}

/*
 * NAVIGATION
 */
#ves-mainnav {
  @media (max-width: $screen-sm) {
    margin-top: 10px;
  }
}

.navbar {
  min-height: 0;
}

.navbar-inverse {
  border-color: $navbar-border-color;
}

/*
 * SLIDESHOW 
 */
.ves-slideshow {
}

/*
 * SHOWCASE 
 */
.ves-showcase {
  margin-bottom: 38px;
  .block {
    .block-content {
      background: none;
    }
  }
}

.container .welcome-msg {
  text-align: left;
  @media (max-width: $screen-sm) {
    line-height: 14px;
    margin-top: 5px;
  }
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/*
 * PROMOTION 
 */
.ves-promotion {
}

/*
 * MAIN CONTENT
 */
#columns {
}

#columns .container {
}

.promotional-container {
  margin-bottom: 20px;
  padding: 4% 5%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, .75);
  .promotional-video-container {
    padding: 0 5% 0 0;
    @media (max-width: $screen-md) {
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .promotional-video {
      margin-right: 30px;
      padding: 5% 5%;
      border-radius: 10px;
      background: #003c64;
      box-shadow: 0 0 3px rgba(0, 0, 0, .75);
      color: #fff;
      text-align: center;
      @media (max-width: $screen-md) {
        margin-right: 0;
      }
      .promo-title {
        font-size: 22px;
      }
      .video {
        padding: 4% 15% 1%;
        iframe {
          display: block !important;
          min-height: 230px;
          width: 100%;
          border: 1px solid #fff;
        }
      }
    }
  }
  .promotional-form-container {
    .form-content {
      blockquote {
        margin: 0;
        padding: 0;
        border-left: 0;
        color: #444;
        font-style: italic;
        font-size: 24px;
        line-height: 26px;
      }
      .signup {
        margin-top: 20px;
        color: $bluedark;
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
        span {
          color: $theme-color-default;
        }
      }
    }
    .form-container {
      margin-top: 35px;
      input {
        padding: 10px 0;
        width: 100%;
        border-radius: 5px;
        background: #ccc;
        color: #333;
        text-indent: 10px;
        &:focus {
          background: #ddd;
        }
        &.validation-failed {
          border: 1px $red solid;
        }
      }
      button {
        margin-top: 14px;
        margin-bottom: 0;
        padding: 3px 0;
        width: 100%;
        border: none;
        border-radius: 3px;
        background: $theme-color-secondary;
        box-shadow: 0 0 3px rgba(0, 0, 0, .75);
        @include filter-gradient($yellow, $orange, vertical);
        @include background-image(linear-gradient(top, $yellow 0%, $orange 100%));
        color: #333;
      }
      ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
        color: #444;
      }
      .privacy {
        margin-top: 10px;
        font-size: 12px;
        line-height: 12px;
        @media (max-width: $screen-sm) {
          clear: both;
          padding-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

/*
 * MASSBOTTOM
 */
.ves-massbottom {
}

/* BreadCrumbs */
.breadcrumbs {
  margin: 0 0 18px;
  font-size: 12px;
  line-height: 1em;
  li {
    display: inline;
  }
  strong {
    font-weight: normal;
  }
}

/* FOOTER*/

/* Footer ================================================================================ */
#footer {
}

.footer-container {
}

.footer {
}

.footer .store-switcher {
}

.footer a {
  &:hover {
  }
}

.footer .bugs {
  a {
    &:hover {
    }
  }
}

.footer address {
  a {
    &:hover {
    }
  }
}

#newsletter-form .row {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  background: $bluedark;
  color: #fff;
  button.button {
    margin: 0;
    padding: 7px 0;
    width: 100%;
  }
  .signup-text {
    margin: 4px 0 0;
    .fa {
      color: $yellow;
      font-size: 36px;
    }
    .signup-title {
      color: $yellow;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 20px;
    }
    .signup-subtitle {
      font-size: 12px;
    }
  }
  .social-media {
    @media (max-width: $screen-sm) {
      text-align: center;
    }
    .follow-text {
      margin-top: 12px;
      text-align: center;
      @media (max-width: $screen-lg) {
        margin-top: 25px;
      }
    }
    a.fa {
      margin-top: 4px;
      margin-right: 5%;
      color: #fff;
      font-size: 32px;
      &:hover {
        color: $yellow;
      }
      @media (max-width: $screen-lg) {
        margin-top: 17px;
      }
    }
  }
  @media (max-width: $screen-lg) {
    button.button, {
      margin: 10px 0;
    }
  }
}

.footer-bottom {
  margin: 40px 0;
  h4 {
    margin-bottom: 1.4em;
    color: $bluedark;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  ul {
    margin: 0 0 0 1.2em;
    li {
      margin-bottom: 10px;
      list-style-type: square;
      font-size: 13px;
      a {
        color: #333;
      }
    }
  }
  #footer-about {
    p:first-child {
      margin-bottom: 20px;
    }
  }
}

.footer-container .bottom-container {
  margin: 0 0 5px;
}

/*FOOTER TOP*/

/*FOOTER CENTER*/
/* ======================================================================================= */

/* POWER BY */
#powered {
  border-top: 1px solid $border-color;
  background: #fcfcfc;
}

.copyright {
  padding: 25px 0 35px;
  line-height: 20px;
  a {
    color: $theme-color-primary;
  }
}

.btn-danger {
  border-color: $theme-color-primary;
  background-color: $theme-color-primary;
  &:hover, &:active, &:focus {
    border-color: $theme-color-primary;
    background-color: $theme-color-primary;
  }
}

.rtl .f-left {
  float: right !important;
}

.rtl .f-right {
  float: left !important;
}

.quantity-number.pull-left > label {
  display: block;
  float: left;
  padding-right: 5px;
  line-height: 42px;
}

.rtl .quantity-number {
  margin-left: 0;
}

.rtl .add-to-cart .quantity-wrapper {
  margin-right: 0;
  margin-left: 10px;
  border-width: 1px 0 1px 1px;
}

.rtl .quantity-number > label {
  display: block;
  float: right;
  padding-right: 0;
  padding-left: 5px;
  line-height: 30px;
}

/* back top top */

.scrollup {
  position: fixed;
  bottom: 80px;
  z-index: 999999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include rtl-right(20px);
  background: $theme-color-default;
  color: $white !important;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  .fa {
    display: block;
    font-weight: bold;
  }
}
