/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
.dropdown {
  display: block !important;
}

.form-language {
  a {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
  }
}

aside {
  z-index: 9;
}

.main-column {
  z-index: 1;
}

/* Topcart */
.cart-top {
  #cart {
    position: relative;
    .content {
      color: #000;
      min-width: 325px;
      position: absolute;
      right: 0;
      @include rtl-right(0);
      top: 120%;
      z-index: 9999;
      visibility: hidden;
      opacity: 0;
      background: #fff;
      border: 1px solid $border-color;
      @include transitionall(all 300ms ease-in-out);
      .empty {
        text-align: center;
        padding: 20px 10px;
      }
      .block-subtitle {
        display: none;
      }
      .block-content {
        padding: 0;
      }
      li.item {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
      }
      .btn-edit {
        display: none;
      }
      .btn-remove {
        margin-top: 6px;
        float: right;
      }
    }
    .block-cart {
      margin: 0;
      padding: 10px;
    }
    &.active {
      .content {
        visibility: visible;
        top: 100%;
        opacity: 1;
      }
    }
    a {
      color: $toplinks-color;
    }
  }
  .quick-access .inner-toggle {
    @include rtl-right(0);
  }
}

/* swap-images */
.product-block {
  .image {

    margin-bottom: 15px !important;
    .hover-image {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      -webkit-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      -ms-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
    }
    &:hover {
      .hover-image {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.image {
  position: relative;
  .onsale, .new-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    background: $theme-color-primary;
    z-index: 1;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      content: "";
      background: $theme-color-primary;
      z-index: -1;
    }
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    z-index: 999;
    @include border-radius(50%);
    span {
      color: $product-sale-color;
      text-transform: uppercase;
      padding: 3px 0;
      font-size: 11px;
      font-weight: 600;
    }
  }
  .new-icon {
    background: $theme-color-secondary;
    z-index: 99;
    &:before {
      background: $theme-color-secondary;
      z-index: -1;
    }
    span {
      color: $product-sale-color;
    }
  }
}

/* Tree menu */
#ves-accordion {
  > li > a {
    color: $base-color;
    font-size: $font-size-base;
    line-height: 20px;
    padding: 7px 0 7px 25px;
    font-weight: bold;

  }
  li {
    padding: 0;
  }
  ul.level0 > li, ul.level1 > li {
    line-height: 20px;
    padding: 7px 0 7px 40px;

    background: url(#{$image-theme-path-base}arrow-li.png) 30px 14px no-repeat;

  }
  ul li a {
    color: $base-link-color;
  }

}

.ves-categoriesmenu {
  border: 2px solid $theme-color-default;
  .block-title {
    background: $theme-color-default;
    border: none;
    span {
      font-size: 17px !important;
      letter-spacing: 2px;
    }
  }
  .block-content {
    padding: 0px;
  }
  #ves-accordion {
    li {
      a {

        border-bottom: 1px solid $border-color;
        display: block;
        font-size: $font-size-base - 1;
        @include rtl-padding(15px, 10px, 15px, 20px);
      }
    }
  }
}

.category-left {
  .block-content {
    padding: 0px;
  }
}

/* Tabs Home */
.box.producttabs {
  margin-bottom: 28px;
}

.producttabs {
  .tab-nav {
    position: relative;
    z-index: 9;
  }
  .nav-tabs {
    text-align: center;
    border: none;
    li {
      float: left;
      @include rtl-float-left();
    }
    > li {
      margin-right: -1px;
      a {
        color: $base-color;
        text-transform: uppercase;
        line-height: 43px;
        font-weight: 600;
        padding: 0 20px;
        margin: 0;

        border-style: solid;
        border-width: 3px 1px 0 1px;
        border-color: transparent;
      }
      &.active, &:hover, &:focus, &.active:hover {
        a {
          border-width: 3px 1px 0 1px;
          border-color: $theme-color-primary $border-color;
          color: $theme-color-primary;
          background: #fff;
        }

      }
      &:hover {
        a {
          background: none;
        }
      }

    }
    display: block;
    position: relative;
  }
  .carousel-controls {
    position: absolute;
    top: -44px;
    right: 0;
    @include rtl-right(0);
    z-index: 99;
  }
  .tab-content {
    padding: 0;
  }
  .carousel-inner {
    border: 1px solid $border-color;
  }
  .products-grid {
    border: none;
  }
}

/* Carousel */
.sidebar {
  .block-productcarousel {
    .block-content {
      padding: 0;

    }
  }
}

.sidebar .block-productcarousel .mini-products-list .products-grid:first-child .product {
  border-top: none;
}

/* Carousel 2 */
.productcarousel {
  .block-title {
    h2 {
      position: relative;
      bottom: -1px;
      z-index: 99;
      display: inline-block;
      padding: 0 20px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: $theme-color-default;
      box-shadow: 0 0 3px rgba(0,0,0,.75);
      color: #fff;
      text-transform: uppercase;
      font-weight: thin;
      font-size: 14px;
      line-height: 43px;
    }
  }
  .carousel-inner {
    border: 1px solid $border-color;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.75);
    .products-grid {
      border: none;
    }
  }
}

/* Megamenu */

#ves-mainnav {
  .navbar-inverse {
    margin: 0;
    border-style: solid;
  }
  .navbar-nav {
    float: none;
    line-height: 0;
    > li {
      float: left;
      @include rtl-float-left();
      &.dropdown {
        > a > .caret {
          width: 5px;
          height: 5px;
          background: url(#{$image-theme-path-base}caret.png) center no-repeat;
          border: none;
          margin-top: 1px;
          margin-right: 0px;
          margin-left: 10px;
          @include rtl-margin-left(10px);
        }

      }
      &:hover {
        > .dropdown-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
      > a {
        font-size: $menu-lvtop-font-size;
        display: block;
        line-height: $menu-lvtop-line-height;
        text-decoration: none;
        float: left;
        padding: 14px 16px;
        color: $nav-lv1-color;
        text-transform: uppercase;
      }
      &.parent {
        a {
          background: none;
          position: relative;
          &:before {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            position: absolute;
            bottom: 0px;
            left: 30px;
            content: '';
            @include scale(0);
          }

        }
        &:hover {
          a:before {
            @include scale(1);
            @include transition(all 200ms ease-in-out);
          }
        }
      }

      .dropdown-menu {
        top: 90px;
        z-index: 0;
        display: block;
        visibility: hidden;
        min-width: 4em;
        border: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: $button-background;
        color: #fff;
        text-align: left;
        line-height: 1.45;
        opacity: 0;
        @include rtl-left(0);

        @include transition(all 200ms ease-in-out);
        a {
          display: block;
          background: $button-background;
          color: #fff;
          font-size: 12px;
          line-height: 14px;
          padding: 8px 0;
          &:hover {
            color: $theme-color-primary;
          }
          &:before {
            border: 0;
          }
        }
        .name a {
          line-height: 1.35em;
        }
        .dropdown-menu-inner {
          padding: 0;
          .dropdown-submenu {
            position: relative;
          }
          a {
          }

        }
      }
      &.full-width {
        position: static;
        .dropdown-menu {
          width: 100% !important;
        }
      }
      &.m-left {
        position: static;
        .dropdown-menu {
          left: 0;
          right: auto;
        }
      }
      &.m-right {
        position: static;
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      .dropdown-submenu {
        > a {
          > span {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 6px;
            display: block;
          }
        }
      }
      .mega-col-inner {
        div.menu-title {
          text-transform: uppercase;
          font-weight: bold;
          padding-bottom: 13px;
        }
      }
    }
    .menu-icon {
      padding-left: 30px;
      display: block;
    }
  }
  .dropdown-menu-inner {
    a {
      color: #999;
    }
  }
  .navbar-inverse {
    float: none;
    .navbar-collapse {
      padding: 0;
      text-align: center;
    }
  }
  .navbar-inverse {
    margin: 0;
    border-width: 0px;
  }
  .navbar-inverse .navbar {
    border: none !important;
    margin: 0;
  }
  .widget-product-list {
    .product-block {
      .image {
        float: left;
        margin-right: 10px;
        img {
          float: none;
          width: auto;
          height: auto;
          margin: 0;
        }
      }
      .price-box .price {
        color: #fff !important;
        font-family: $font-family-base !important;
        font-size: 15px !important;
      }
      .cart {
        display: none;
      }
    }
  }
  .widget-inner {
    li {
      color: #8c8c8c;
      line-height: 18px;
      font-size: 12px;
    }
    .title {
      font-weight: 600;
      font-size: 12px;
      color: $base-color;
      padding: 4px 0 6px;
    }
  }
}

/* custom-subscribe */
.new-letter {
  @include clearfix();
  background: #524354;
  padding: 22px;
  color: #fff;
  .custom-subscribe {
    .fa {
      font-size: 35px;
      float: left;
      @include rtl-float-left();
      padding-right: 13px;
      @include rtl-padding-right(13px);
    }
    .title {
      float: left;
      margin-right: 20px;
      h3 {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1em;
      }
      span {
        font-size: 13px;
        line-height: 1.6;
      }
    }
  }
  .social-link {
    text-align: right;
    .title_block {
      float: none;
      display: inline-block;
      font-size: $font-size-base;
      text-transform: uppercase;
      line-height: 42px;
      padding: 0 20px 0 0;
    }
    .social {
      float: right;
    }
    a {
      display: block;
    }
  }
  .subscribe-box {
    float: left;
    width: 480px;
    position: relative;
    height: 40px;
    @include border-radius(25px);
  }
}

.custom-subscribe {
  .form-subscribe-header {
    margin-bottom: 20px;
  }
  .form-control {
    border: none;
    height: 40px;
    @include border-radius(25px);
    padding-right: 110px;
    @include rtl-padding-left(110px);
  }
  .button, input.button {
  }

  #newsletter-validate-detail {
    position: relative;
    .input-box {
    }
    .actions {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      button.button {
        margin: 0;
        height: 40px;
        background: $theme-color-primary;
        @include border-radius(0 25px 25px 0);
        text-transform: uppercase;
        font-size: 13px;
        border: none;
        padding: 0;
        span span {
          padding: 0 19px;
          color: #fff;
        }
      }
    }
  }

}

/* Slideshow */
.ves-slideshow {
  margin: 0 0 18px;

  .ves-caption {
    border-style: none;
    border-width: 0;
    color: #FFF;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    text-shadow: none;
    text-transform: uppercase;

  }

  .ves-caption.normal-caption {
    font-weight: 300;
    color: #FFF;
    font-family: $font-family-base, serif;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: center;
    text-shadow: none;
    text-transform: none;
  }

  .ves-caption.big-caption {
    color: #FFF;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    background: url(#{$image-theme-path-base}bulet-slide.png) top center no-repeat;

  }
  .vescontentslider .carousel-control {
    border: none;
    @include border-radius(0);
  }
  .vescontentslider .carousel-control.left {
    .fa {
      position: relative;
      left: -2px;
    }
  }

  .vescontentslider .carousel-control.right {
    .fa {
      position: relative;
      right: -2px;
    }
  }
  .vescontentslider .carousel-control:hover {
    color: #fff;
    background: $theme-color-primary;
  }
  .vescontentslider {
    .carousel-indicators {
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      li {
        display: inline-block;
        float: none;
        width: 10px;
        height: 10px;
        border-width: 2px;
        &.active {
          background: $theme-color-primary;
          border: none;
        }
      }
    }
  }

}

/* Ves Vertical Menu */
.module_modecategory .block-content > p {
  display: none;
}

.sidebar #ves-verticalmenu {
  .block-content {
    padding: 0;
    border: none;
  }
}

#ves-verticalmenu {
  z-index: 999;
  .actions {
    padding: 0 !important;
  }
  .product-info {
    line-height: 1.4;
  }
  .block-title {
    background: $theme-color-default;
    border: none;
    line-height: 34px;
    padding: 5px 10px 5px 18px;
    @include rtl-padding(5px, 18px, 5px, 10px);
    position: relative;
    display: block;
    @include clearfix();
    span {
      font-size: $font-size-base + 3;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white;
      float: left;
      @include rtl-float-left();
      &.shapes {
        float: right;
        @include rtl-float-right();
      }
    }
  }
  .navbar {
    border: 2px solid $theme-color-default;
    position: static;
    border-top: none;
    background: $white;
    margin-bottom: 0px;
    .navbar-collapse {
      @include rtl-padding(0px, 0px, 0px, 0px);
    }
    .navbar {
      border: none;
    }
  }
  .ves-widget {
    margin-bottom: 15px;
  }
  .verticalmenu.navbar-nav {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      border: 0;
      padding: 20px;
      min-width: 225px;
      min-height: 100%;
      right: auto;
      @include rtl-left(100%);
      div.menu-title, .title {
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .title {
        margin: 0;
        padding: 0;
      }
      li > a, .widget-inner {
        color: $base-color;
        font-weight: 400;
        line-height: 30px;
        padding: 0;
        font-size: 13px;
      }
      li {
        line-height: 1.4;
      }

    }
    > li {
      float: none;
      > a {
        color: $base-color;
        border-bottom: 1px solid $border-color;
        font-size: 13px;
      }
      &:last-child {
        a {
          border: none;
        }
      }
      &.dropdown {
        position: static;
        a {
          .caret {
            margin-left: 5px;
            float: right;
            margin-left: 5px;
            margin-top: 8px;
            @include rtl-float-right();
          }

        }
        &:hover {
          .dropdown-menu {
            visibility: visible;
            opacity: 1;
            left: 100%;
            top: 0;
            @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.35));

          }
          > a {
            position: relative;
            &:after {
              width: 5px;
              height: 100%;
              background: #fff;
              content: "";
              position: absolute;
              top: 0;
              right: -2px;
              @include rtl-right(-2px);
              z-index: 9999;

            }
            .caret {
              border-bottom-color: #999 !important;
              border-top-color: #999 !important;

            }
          }
        }

      }
      &:hover {
        > a {
          color: $theme-color-default;
        }
      }

    }

    > li > a > span span {
      margin-left: 35px;
      @include rtl-margin-left(35px);
    }

  }
  .navbar-nav {
    width: 100%;
    .menu-icon {
      background-position: left center;
      @include rtl-background-position-left(0);
    }

    li {
      padding: 0px;
    }
  }

}

.shapes.round {
  background-color: $button-background;
  border: medium none $theme-color-default;
  border-radius: 100%;
  display: block;
  float: right;
  height: 20px;
  margin-top: 8px;
  width: 20px;
  position: relative;
}

.shapes.bottom {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 7px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -5px;
}

/* Layer Slider */
.lush-slider {
  background: none;
  border: none;
  padding: 0;
  @include border-radius(0);
  .lush-nav {
    width: 100%;
    z-index: 99;
    top: 50%;
    .lush-page {
      display: none;
    }
    a {
      background-color: rgba(255, 255, 255, 0.5);
      background-image: none;
      color: #74818B;
      font-size: 22px;
      height: 64px;
      line-height: 64px;
      margin-top: -32px;
      text-align: center;
      top: 0%;
      transition: opacity 300ms ease-out 0s;
      width: 28px;
      position: absolute;
      text-indent: -9999em;
      overflow: hidden;
      &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-family: FontAwesome;
        text-indent: initial;
      }
      &.lush-prev {
        left: 0;
        &:before {
          content: "\f104";
        }
      }
      &.lush-next {
        right: 0;
        &:before {
          content: "\f105";
        }
      }
      &:hover {
        &:before {
          color: #fff;
          background: $theme-color-primary;
        }
      }
    }
  }
}

/* image-gallery-zoom */
#image-gallery-zoom {
  @include clearfix();
  .item {
    a {
      float: left;
      margin: 0 5px;
    }
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

}

/* settings */
.settings {
  .dropdown {
    > a {
      border: 1px solid #cdcdcd;
      line-height: 26px;
      display: block;
      padding: 0 10px;
      position: relative;
      top: 5px;
      z-index: 99999;
      margin: 0 0 0 8px;
      @include rtl-margin(0, 0, 0, 8px);
      span {
        padding: 0 6px;
      }
    }
    &.open {
      > a {
        background: #fff;
        border-width: 1px 1px 0;
      }
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    @include rtl-right(0);
    top: 29px;
    z-index: 9999;
    border: 1px solid #cdcdcd;
    padding: 15px 20px 20px;
    width: 194px;
    line-height: 2;
    @include box-shadow(none);
    .form-language {
      li a {
        background-repeat: no-repeat;
      }
    }
    span {
      color: #828282;
      font-size: 13px;
      text-transform: uppercase;
    }
    .currency {
      margin-top: 5px;
      li {
        float: left;
        @include rtl-float-left();
        border: 1px solid $border-color;
        margin: 8px 8px 0 0;
        @include rtl-margin-right(8px);
        padding: 0 7px;
        line-height: 20px;
        font-size: 12px;
        color: #8c8c8c;

      }
    }

  }
}

/* ves-brandcarousel */
.ves-brandcarousel {
  background: $white;
  margin-bottom: 20px;
  .block-title {
    span {
      border: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $theme-color-default;
    }
    padding: 15px;
    border-top: 1px solid #e4e5e7;
  }
  .item-inner {
    border: 1px solid #e5e5e5;
    @include transition(all 0.3s ease 0s);
    &:hover {
      border-color: $theme-color-default;
    }
  }
  .carousel-control {
    top: -36px !important;
  }
  .carousel-control.left {
    right: 30px !important;
    left: auto;
  }
}

/* ves-blog */
.venus-latest-block {
  margin-bottom: 20px;
  .block-title {
    span {
      border: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $theme-color-default;
    }
    padding: 15px;
    border-top: 1px solid #e4e5e7;
  }
  .post-block {
    text-align: center;
    .blog-meta, .blog-readmore {
      margin: 5px 0;
    }
  }
}

.leading-posts {
  .ves-description, .blog-botm {
    @include rtl-float-left();
    width: 100%;
  }
}

span.created-date, span.author, span.blog-category {
  color: #333333 !important;
  font-size: 100% !important;
  text-transform: none !important;
  @include rtl-float-left();
  margin-bottom: 8px;
  @include rtl-padding-right(15px);
}

.blog-meta {
  margin-bottom: 5px;
  span {
    text-transform: none !important;
  }
}

/* Quickview */
.tempcp-quickview-view {
  .tabs-group {
    display: none;
  }
}

/* AutoSearch */
#header-main #search {
  .category_filter {
    span {
      color: $theme-color-primary;
      @include rtl-right(0);
    }
    option {
      padding: 3px 10px;
    }
  }
  .button-search {
    height: 36px;
    width: 26px;
    text-align: center;
    line-height: 36px;
    right: 0;
    top: 0;
    color: $theme-color-primary !important;
    @include rtl-right(0);
    z-index: 9;
    cursor: pointer;
  }
  .input-search {
    padding-right: 34px;
    @include rtl-padding(0, 34px, 0, 10px);
    @include rtl-border-left(1px solid #DCDCDC);

  }

}

/* Fix columns */
.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

.rtl .copyright img.f-right {
  float: left !important;
}
