/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/*Navigation default*/
#ves-mainnav {
  margin-bottom: 18px;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
}

.nav-container {
  padding: 0 20px;
  border-radius: 10px;
  background: $nav-bg;
}

.navbar-default {
  border: 0;
  background: transparent;
  .navbar-brand {
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    .fa {
      font-size: 18px;
    }
    @media (max-width: $screen-sm) {
      font-size: 22px;
      padding: 15px 10px;
      border-right: 0 !important;
      .fa {
        font-size: 22px;
      }
    }
    &:hover {
      color: $nav-lv1-color-hover;
    }
  }
  .navbar-toggle {
    border-color: #fff;
    background-color: $theme-color-primary;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background: $button-background;
      color: $theme-color-primary;
    }
  }
}

.navbar-header .parent, li.parent {
  border-right: 1px solid $theme-color-primary;
}

#nav {
  @include clearfix();
  li {
    &:last-child {
      &.parent {
        border: 0;
      }
    }
    position: relative;
    &.over {
      z-index: 998;
      > a {
        color: $nav-lv1-color-hover;
      }
    }
    &.active {
      > a {
        color: $nav-lv1-color-hover;
      }
    }
    ul {
      span {
        white-space: normal;
      }
    }
    ul,
    div {
      &.shown-sub {
        left: 0;
        z-index: 999;
      }
    }
    .shown-sub {
      ul.shown-sub,
      li div.shown-sub {
        left: 90%;
      }
    }
  }
  > li {
    display: inline-block;
    vertical-align: middle;
  }
  > li.parent > a {
    background: url(#{$image-theme-path-base}caret.png) 93% center no-repeat;
  }
  ul {
    li {
      text-align: left;
    }
    a {
      color: $menu-lvnd-color;
      text-transform: uppercase;
    }
    ul {
      left: 90%;
      top: -25px !important;
    }
    .over ul {
      top: 0 !important
    }
  }
  a {

    font-size: $menu-lvtop-font-size;
    display: block;
    line-height: $menu-lvtop-line-height;
    text-decoration: none;
    float: left;
    padding: 14px 20px;
    color: $nav-lv1-color;
    text-transform: uppercase;
    //&:hover{
    //	color: $nav-lv1-color-hover;
    //}
  }
  span {
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }
  ul {
    z-index: 0;
    float: left;
    padding: 5px 10px;
    @include transition(all 200ms ease-in-out);
    li {
      float: none;
      margin: 0;
      background: $menu-lvnd-bg;
      &.parent {
        a {

        }
        li {
          a {
            background-image: none;
          }
        }
      }
      &.active {
        float: none;
        margin: 0;
        padding-bottom: 1px;
        background: $menu-lvnd-bg;
        > a {
          color: $menu-lvnd-color-hover;
        }
      }
      &.last {
        padding-bottom: 0;
        li {
          span {
            padding: 3px 15px 4px 15px;
          }
        }
      }
      a {
        font-size: 13px;
        line-height: 30px;
        font-weight: normal !important;
        background: $menu-lvnd-bg;

        //color:$menu-lvnd-color !important;
        //&:hover { background:$menu-lvnd-bg-hover;color:$menu-lvnd-color-hover !important; }
      }
      &:hover {
        > a {
          background: $menu-lvnd-bg-hover;
          color: $menu-lvnd-color-hover;
        }
      }
    }
    a {
      &,
      &:hover {
        float: none;
        padding: 0;
        background: none;
      }
    }
    ul,
    div {
      top: 5px;
    }
    span {
      padding: $menu-lvnd-padding;
    }
  }
  .over {
    > ul, div {
      visibility: visible;
      opacity: 1;
      top: 100%;
    }
  }
  //  div {
  //    position: absolute;
  //    width: 15em;
  //    top: $menu-height;
  //    left: -10000px;
  //    ul {
  //      position: static;
  //      width: auto;
  //      border: none;
  //    }
  //  }
  div.dropdown-menu {
    > ul {
      float: left;
    }
  }
}

