/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <$emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

// Global values
// --------------------------------------------------

// Variables
// --------------------------------------------------
$image-theme-path-base: '../images/';
$image-theme-path: '../images/';

/*------------------ User ------------------*/
$theme-color-default: #008ab5;
$body-background: #fff;
$base-color: #2e3a47;
$base-link-color: $theme-color-default;
$border-color: #e4e5e7;
$theme-color-secondary: #ffdd39;

/* Toplinks */
$topbar-bg: #f5f5f5;
$toplinks-color: #444444;
$toplinks-color-hover: $theme-color-default;

/* Header */
$header-main-bg: transparent;
$nav-background: transparent;

/* NAV */
$nav-lv1-color: #fff;
$nav-lv1-color-hover: #003c64;
$nav-bg: $theme-color-default;

/* Heading */
$h_color: #999;
$h_active-color: #fff;

/* Product */
$p_name-color: $base-color;
$p_name-color-hv: $base-color;
$p_price-color: $theme-color-default;
$p_special-price-color: #ff0000;
$p_old-price-color: #999;
$p_bottom-border-color: #003c64;

/* Setting */
$topbar-border-color: $theme-color-default transparent $border-color;
$navbar-border-color: #27313c;
$navbar-inverse-bg: $base-color;

/* Sidebar */
$block-title-bg: $base-color;

/* Font Design */
$font-base-web: HelveticaNeueMedium;
/*------------------ End User ------------------*/