<?php
/**
 * MageRevolution_PackageProductType extension
 * @category   MageRevolution
 * @package    MageRevolution_PackageProductType
 * @copyright  copyright novusweb llc
 * @author     Christopher Silvey <webmaster@beckindesigns.com> http://www.beckindesigns.com/
 * @co author  Bret Williams <bret.williams@novusweb.com> http://www.novusweb.com/
 */
?>
<?php $_item = $this->getItem() ?>
<?php $childPackage = $this->getChildPackageQtys(); ?>
<tr class="border">
    <td><?php echo $this->getColumnHtml($_item, 'name') ?></td>
    <td><?php echo $this->getColumnHtml($_item, 'qty') ?></td>

    <td class="<?php if ($this->isShipmentRegular()): ?>last<?php endif; ?> a-center">
        <?php if ($this->canShipPartiallyItem()): ?>
            <?php if($this->getIsPackage($_item)){ ?>
                <input type="text" class="input-text qty-item" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" value="<?php echo $this->getChildPackageQtys($_item) * 1 ?>" />
            <?php } else{ ?>
                <?php if($_item->getOrderItem()->getProductType() == MageRevolution_PackageProductType_Model_Product_Type_Package::TYPE_CODE){ ?>
                    <input type="hidden" class="input-text qty-item" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" value="<?php if($this->getChildPackageQtys($_item) <= 0): echo 1; else: echo $this->getChildPackageQtys($_item) * 1; endif; ?>" />
                <?php } else { ?>
                    <input type="text" class="input-text qty-item" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" value="<?php echo $_item->getQty()*1 ?>" />
                <?php } ?>
            <?php } ?>
        <?php else: ?>
                <?php echo $_item->getQty()*1 ?>
        <?php endif; ?>
    </td>
    <?php if (!$this->canShipPartiallyItem()): ?>
    <td class="a-center last">
        <input type="hidden" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" value="0" />
        <input type="checkbox" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" value="<?php echo $_item->getQty()*1 ?>" checked />
    </td>
    <?php endif; ?>
</tr>
