* { margin:0; padding:0; }

body   {
		line-height: 18px;
		color: $base-color;
		font-size: $font-size-base;
		background: $body-background;
		@include rtl-text-align-left();

	}

a {
    img {
        border: none;
    }
     &:hover {
        text-decoration: none;
        color: $theme-color-hover;
    }
    &:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
        color: $theme-color-hover;
    }
    cursor: hand;cursor: pointer;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

body, td, th, input, textarea, select, a {
    outline: 0 none;
}
input.input-text{ padding: 5px; width: 100%;}
/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:normal; }
address       { font-style:normal; line-height:1.35; display:  inline; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/
.table img{ max-width: none;}


/* Lists */

ul,ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul li , ol li {
}

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left       { float:left !important; }
.f-right      { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }

/* ======================================================================================= */

.htabs {
    a {
		line-height: 24px;
        border-bottom: 1px solid $border-color;		
        border-right: 1px solid $border-color;		
        display: block !important;
		text-transform: uppercase;
        padding: 15px 20px;
		color: $base-color;
		position: relative;
        &.selected {
            color: $theme-color-primary;
			&:before{ background: $theme-color-primary;}
        }
		&:before{
			position: absolute;
			right: -1px;
			top: 0;
			height: 100%;
			width: 2px;
			content: "";		
			@include rtl-right(-1px);
		}
    }
} 
.tabs-group{
	.std{		
		font-size: 13px; 
		line-height: 26px; 
	}
}

.tab-content {
	padding: 10px 15px 10px 10px;
}
.carousel-controls {
	position: static; width: auto;
	float: right;
	.carousel-control{ 
		position: static;
		cursor: pointer;
		border-color: $border-color;
		border-width: 1px;
		@include border-radius(0);
		width: 18px;
		height: 30px;
		display: block;
		text-align: center;
		line-height: 24px;
		float: right;
		opacity: 1;
		font-size: 16px;
		margin-left: 4px;
		@include rtl-margin-left(4px);
		&:hover,&:active,&:focus{
			border-color: $theme-color-primary !important;
			span{ color: $theme-color-primary !important;}
		}
		span{
			color: #b5b3b1;
			opacity: 1;				
		}
	}
    
    
} 
.carousel-control {
    background-color: #F4F4F4;
    color: #B0B0B0;
    cursor: pointer;
    font-size: 22px;
    height: 26px;
    line-height: 22px;
    text-shadow: none;
    transition: all 0.3s ease 0s;
    width: 26px;
    &:hover {
        color: #FFFFFF;
        transition: all 0.3s ease 0s;
    }
    &.left {
        background-image: none;
    }
    &.right {
        background-image: none;
    }
}
#colorbox, #cboxOverlay, #cboxWrapper{
    box-sizing: content-box;
    -moz-box-sizing: content-box; /* Firefox */
}
.add-to-cart button.button {  
	padding: 0;
	border: none;
	span span{
		color: $h_active-color; 
		display: block;
		font-size: 12px;
		
		text-transform: uppercase;
		line-height: 28px;
		padding: 0 16px;
		background: $theme-color-primary;
		border: 1px solid $p_bottom-border-color;
		@include border-radius(3px);
	}
}

button.button,
#my-tags-table .add-to-links li a{
	color: $h_active-color; 			
	background: $base-color;
	border: 1px solid #28313c;
	font-size: 12px;				
	text-transform: uppercase;
	line-height: 28px;				
	text-align: center;
	padding: 0 16px;
	display: block;
	float: right;
	margin-bottom: 5px;
	@include border-radius(3px);
	&:hover{ background: $theme-color-primary; border-color: $p_bottom-border-color;}
}
.clearer{ @include clearfix();}