
/* Category Page ========================================================================= */
.category-title { border:0; margin:0 0 7px; }
.category-image {
	width:100%; overflow:hidden; text-align:center; 
	img {}
}
.category-description { margin:0 0 10px; }
.category-products {}

/*product-block*/
.product-block{
	margin: 15px 0 20px;
	position: relative;
	.product-info{ margin: 0 18px;}
	.product-name{
		margin:0 0 5px; color:#203548;
		font-size: $product-name-font-size;
		line-height: $product-name-font-size * 1.5;
		a { 			
			display: block;
			line-height: 1.25;					
			font-size: $font-size-base;
		} 
	}
	.actions{ 			
	    @include transition(all 300ms ease-in-out);
	    @include clearfix();
		.add-to-links{
			visibility: hidden;
			opacity: 0;
			@include scale(0);
		}
		button.btn-cart{	
			margin-right: 3px;
			background: $base-color;
			border-color: #28313c;
			float: left;	
			@include rtl-float-left();
			@include border-radius(3px);
		    span{
		    	font-size: $font-size-base - 2;
			    font-style: normal;
			    padding: 0;
			    text-transform: uppercase;
				color: #fff;
			    .fa{ font-size: $font-size-base - 1; padding-right: 3px}
		    }
		    &:hover{
		    	background-color: $theme-color-primary;
				border-color: $button-background;
		    }
		}
		.add-to-links{			
			float: left;
			@include rtl-float-left();
			@include rtl-margin(0, 0, 0, 2px);
			margin: 0;
			li{
				width: 30px;
				height: 30px;
				line-height: 30px;
				margin-right: 3px;
				background: $base-color;
				border-color: #28313c;
				@include border-radius(3px);
				color: #fff;
			    cursor: pointer;
			    display: block;
			    float:left;
			    font-size: $font-size-base - 2;			   
			    text-align: center;
			    text-decoration: none;		   
			    .fa{ color: #fff;}		
				&:hover{
					background-color: $theme-color-primary;
					border-color: $p_bottom-border-color;
				}
			}
		}	
	}
	&:hover{
		.add-to-links{ 
			visibility: visible;
	    	opacity: 1;
			@include scale(1);
			@include transition(all 300ms ease-in-out);
		}
	}
	.a-quickview{
		border-bottom: 1px solid $h_active-color;
	    border-top: 1px solid $border-color;
	    color: $h_active-color;
	    display: block;
	    font-size: $font-size-base - 3;
	    padding: 6px 0;
	    text-transform: uppercase;
	    width: 100%;
	    text-align: center;
	    visibility: hidden;
	    opacity: 0;		
		@include transition(all 300ms ease-in-out);		
	}
	.ratings{
		.amount{ display: none;}
		.rating-box{ float: none; margin: 0; display: inline-block;}

	}
	.price{ padding-bottom: 15px; }
	
	.product-colorbox {		
		padding: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		line-height: 33px;
		overflow: auto;
		display: block !important;
		z-index: 10;
		width: 100px;
		height: 33px;		
		position: absolute;
		text-align: center;		
		a{
			width: 30px;
			height: 30px;
			line-height: 30px;		
			background: $base-color;
			border-color: #28313c;
			@include border-radius(3px);
			color: #fff;
			cursor: pointer;
			display: inline-block;
			
			font-size: $font-size-base - 2;			   
			text-align: center;
			text-decoration: none;		   
			.fa{ color: #fff;}		
			&:hover{
				background-color: $theme-color-primary;
				border-color: $p_bottom-border-color;
			}
		}
	}
	
	.ves-quickview{
		right: 17px;
	}
	.ves-zoom{
		left: 17px;
	}
	.ves-quickview, .ves-zoom{
		position: relative;
		@include transition(all 300ms ease-in-out);
		opacity: 0;
		visibility: hidden;
	}
	&:hover{	
		.ves-quickview, .ves-zoom{
			opacity: 1;
			visibility: visible;
		}
		.ves-quickview{ right:0;}
		.ves-zoom{ left:0;}
	}
}


/* View Type: Grid */
#products-grid{
	//border-bottom: 1px solid $border-color;
}
.products-grid{
	border:1px solid $border-color;
	border-bottom: none;
	overflow: hidden;
	margin: 0;
	.product-col{ 
		@include rtl-border-right(1px solid $border-color);
		overflow: hidden;
		&.last,&:last-child{ 
			border-right: none;			
		}	
	}
	> .row{
		border-bottom:1px solid $border-color;
	}
	.product-block {
		min-height: 340px;
	}
} 

.products-grid{ 
	position:relative; 
	&.last { border-bottom:0; }
	li.item { 
		float:left; width:138px; padding:12px 10px 80px; 
	}
	.product-image { 
		display:block;  margin:0; 
	}
	.product-name {
		margin:0 0 8px;
	}

	.availability { 
		line-height:21px; 
	}
}


/* View Type: List */
.products-list {
	.product-block{ margin: 15px 0 0;}
	li{
		&.item { 
			border-bottom:1px solid #d9ddd3; padding:12px 10px; 
		}
		&.item.last { 
			border-bottom:0; 
		}
	}
	.product-image {   margin:0 0 10px; }
	.product-shop { }
	.product-name { 
		margin:0 0 10px; font-size:$list-product-name-font-size;
		a { 
			color:$list-product-name-color;
			text-align: left; 
			&:hover{
				color:$list-product-name-color-hover;
			} 
		} 
	}
	.product-block {
		.image{ border: 1px solid $border-color; padding: 6px;}
		.ratings{ 
			text-align: left;
			.rating-box{ float: left;@include rtl-margin-right(6px); margin-top: 8px;}
		}
		.actions{ }
	}
	.price-box { 
		float:left; margin:3px 13px 5px 0; 
		color: $p_price-color; 
	}
	.availability { float:left; margin:3px 0 0; }
	.desc { 
		clear:both; padding:6px 0 0; margin:15px 0 15px; line-height:1.35;
		color: $base-color;
		.link-learn { font-size:11px; } 
	}
	.add-to-links { 
		li { display:inline; }
		a{}
		.separator { display:inline; margin:0 2px; }
	}
}

.ves-deals .products-list .product-block .ratings .rating-box { margin-top: 4px;}

#products-list.products-list {
	.row.products-row {
		margin: 0!important;
	}
}
/* ======================================================================================= */


/* Product View ========================================================================== */
/* Rating */
.no-rating { margin:0; }
.rtl .ratings .rating-links{ clear: both;}
.ratings { 
	font-size:13px; line-height:1; margin:0 0 5px; 
	strong { float:left; margin:1px 3px 0 0; }
	.rating-links { 
		margin:0; 
		
		.separator { 
			margin:0 6px; 
			color: #cbcbcb;
		}
	}
	dt {}
	dd {}
	.amount {}
	.rating-box { 
		float:left; margin-right:3px; 
		@include rtl-float-left(); 
	}
}
.rating-box {
	 width:65px; height: 11px; font-size:0; line-height:0; background:url(#{$image-theme-path-base}rating.png) 0 0 repeat-x; text-indent:-999em; overflow:hidden; 
	.rating { 
		float:left; height: 11px; background:url(#{$image-theme-path-base}rating.png) 0 100% repeat-x; 
	}
}
.ratings-table {
	border: none;
	th,td { font-size:11px; line-height:1.15; padding:3px 0; border: none }
	th { font-weight:bold; padding-right:8px; }
}

/* Availability */
.availability { 
	margin:0; 
	span { font-weight:bold; }
	&.in-stock span {}
	&.out-of-stock span { color:#d83820; }

}
.availability-only {
	margin:10px 0 7px; line-height:16px; background:url(#{$image-theme-path-base}i_availability_only.gif) 0 50% no-repeat; padding-left:15px;
	span, a { 
		border-bottom:1px dashed #751d02; color:#000; 
	}
	a { 
		background:url(#{$image-theme-path-base}i_availability_only_arrow.gif) 100% 0 no-repeat; cursor:pointer; padding-right:15px; text-decoration:none;
	}
	.expanded { 
		background-position:100% -15px; 
	}
	strong { 
		color:#be2c00; 
	}
 
}
.availability-only-details { 
	margin:0 0 7px; 
	th { 
		background:#d2d6d9; font-size:10px; padding:0 8px; 
	}
	td { 
		background:#ebf0f3; border-bottom:1px solid #fff; font-size:11px; padding:2px 8px 1px; 
	}
	tr.odd td.last { 
		color:#d95e00; font-weight:bold; 
	}

}
.product-view .product-shop .availability ,
.email-friend{ 
	font-size:13px; 
	color: #8c8c8c;
	span { 
		font-weight:normal; 
	}
}
.p-icons{
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	float: left;
	@include rtl-float-left();  
	@include rtl-margin-right(7px);
	background: $theme-color-primary;
	vertical-align: middle;
	margin-right: 7px;
	@include border-radius(50%);
}
.out-of-stock .p-icons{ background: red;}
/* Email to a Friend */
.email-friend { margin:0 0 5px; }

/* Alerts */
.alert-price { margin:0; font-size:11px; }
.alert-stock { margin:0; font-size:11px; }

/********** < Product Prices */
.price { white-space:nowrap !important; }

.price-box { 
	margin:5px 0; 
	.price { 
		color: $p_price-color; 
		font-weight: 600;
	}
}

/* Regular price */
.regular-price { 
	color: $p_price-color; 
	display: inline-block;
	.price { 
		font-size: $product-price-font-size; 
		color: $p_price-color; 
		
	}
}
.block .regular-price,
.block .regular-price .price { color: $p_price-color; }

/* Old price */
.old-price {	
	display: inline-block; padding: 0 3px 0 0;
	 margin:0; 
	 font-size: $product-price-old-size;
	.price-label { 
		white-space:nowrap; color: $p_old-price-color; 
		display: none;
	}
	.price { 
		color: $p_old-price-color; 
		text-decoration:line-through; 
		font-size: $product-price-old-size;
	}

}
/* Special price */
.special-price { 
	display: inline-block;
	margin:0; padding:0 3px; 
	.price-label { 
		font-size:$product-price-old-size; 
		white-space:nowrap; 
		color:#cd5033; 
		display: none;
	}
	.price { 
		font-size: $product-price-old-size; color: $p_special-price-color; 
	}

}
/* Minimal price (as low as) */
.minimal-price { 
	margin:0; 
	.price-label { 
		font-weight:bold; white-space:nowrap; 
	}
}

.minimal-price-link { 
	display:inline-block;
	.label {color:#1e7ec8; display: none;}
	.price { font-size: $product-price-old-size; color:$p_special-price-color; padding: 0 3px;} 
}

/* Excluding tax */
.price-excluding-tax { 
	display:block; 
	color:$product-price-tax ; 
	.label { 
		white-space:nowrap; color:#999; 
	}
	.price { 
		font-size:13px; font-weight:normal; color: $p_price-color; 
	}

}
/* Including tax */
.price-including-tax { 
	display:block; color:$product-price-tax ; 
	.label { 
		white-space:nowrap; color:$product-price-tax ; 
	}
	.price { 
		font-size:$product-price-font-size; font-weight:bold; color:$product-price-color;
		 }

}
/* Configured price */
.configured-price { 
	margin:0; 
.price-label { font-weight:bold; white-space:nowrap; }
.price { font-weight:bold; }

}
/* FPT */
.weee { 
	display:block; font-size:11px; color:#444;
	.price { 
		font-size:11px; font-weight:normal; 
	}
}

/* Excl tax (for order tables) */
.price-excl-tax  { 
	display:block; 
	.label { 
		display:block; white-space:nowrap; 
	}
	.price { display:block; 
	}
}

/* Incl tax (for order tables) */
.price-incl-tax { 
	display:block; 
	.label { 
		display:block; white-space:nowrap; 
	}
	.price { 
		display:block; font-weight:bold; 
	}

}
/* Price range */
.price-from { 
	margin:0; 
	.price-label { 
		font-weight:bold; white-space:nowrap; 
	}

}
.price-to { 
	margin:0; 
	.price-label { 
		font-weight:bold; white-space:nowrap; 
	}

}
/* Price notice next to the options */
.price-notice { 
	padding-left:10px; color:#999;
	.price { 
		font-weight:bold; color:#2f2f2f; 
	}
 
}
/* Price as configured */
.price-as-configured {
 	margin:0; 
	.price-label { 
		font-weight:bold; white-space:nowrap; 
	}

}
.price-box-bundle { 
	padding:0 0 10px 0;
	.price-box { 
		margin:0 !important; padding:0 !important; 
	}
	.price { 
		color:#555; 
	} 
}
/********** Product Prices > */

/* Tier Prices */
.product-pricing,
.tier-prices { margin:10px 0; color:#424242; }
.tier-prices {
	li { 
		padding:2px 0 2px 10px; 		
	}
	.benefit { 
		font-style:italic; font-weight:bold; color:#2f2f2f; 
	}
	.price { 
		 font-size: inherit !important;
	}

}
.tier-prices-grouped li { 
	padding:2px 0; color:#e26703; 
	.price { font-weight:bold; }
}

/* Add to Links */
.add-to-links { 
	font-size:11px; margin:5px 0 0; 
	.separator { display:none; }

}
/* Add to Cart */
.add-to-cart{ 
	label { 

	}
	.qty { 

	}
	button.button { 
	}
	.paypal-logo { 
		clear:left; margin:0; text-align:right; 
		.paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }
	}
	.quantity-wrapper{
		height: 30px; 
		width: 24px;
		margin-right: 11px;
		border: 1px solid $border-color;
		border-width: 1px 1px 1px 0px;
		.add-action{ 
			display: block; font-size: 8px; height: 15px; line-height: 15px; color: #8c8c8c;
			&:hover{ color: $theme-color-primary; cursor: pointer;}
		}
		.add-up{ border-bottom: 1px solid $border-color;}
	}
}
.product-view .add-to-cart .paypal-logo { margin:0; }

/* Add to Links + Add to Cart */
.add-to-box { 
	margin:10px 0; 
	.add-to-cart {}
	.or { float:left; font-weight:bold; margin:0 7px; color: $base-color; }
	.add-to-links { 
		margin:0; font-size:12px !important; line-height:1.25 !important; text-align:left !important; 
		li { 
			display:block !important; 
			.separator { 
				display:none !important; 
			}
		}
	}
}

.product-essential { 
	border: 1px solid $border-color;
	padding: 17px;
	h2 { 
		font-size: $font-size-base + 4;
		margin: 0 0 5px;
		position: relative;
		text-transform: uppercase;
		clear: both;
	}
	margin-bottom: 20px;

}
.product-collateral { 
	border: 1px solid $border-color;
	h2 { 
		border-bottom: 1px solid $border-color;
		color: $base-color;
		font-size: 18px;
		margin: 0 0 12px;
		position: relative;
	}
	.box-collateral {
	 	margin:0 0 25px; 
	}
	margin-bottom: 20px;
}
/* Product Images */
.product-image-popup { 
	margin:0 auto; 
	.buttons-set { float:right; clear:none; border:0; margin:0; padding:0; }
	.nav { font-weight:bold; margin:0 100px; text-align:center; }
	.image { display:block; margin:10px 0;  }
	.image-label { font-size:13px; font-weight:bold; margin:0 0 10px; color:#2f2f2f; }

}

/* Product Options */
.product-options { 
	position:relative;
	dt { 
		padding:10px 0 0; font-weight:normal; 
		label { 
			font-weight:bold; color:#2f2f2f; 
			&.required em { 
				color:#eb340a; margin-left:0; 
			}
		}
		.qty-disabled {
			background:none; border:0; padding:3px; color:#2f2f2f; 
		}
	}
	dd {
		padding:10px 0 20px; margin:0 0 5px; border-bottom:1px solid #e4e4e4;
		.qty-holder { 
			display:block; padding:10px 0 0;
			label {
				vertical-align:middle; 
			}
	 
		}
		.time-picker { 
			display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle; 
		}
		textarea {
			height:8em; 
		}
		select { 
			width: 100%;
		}
		.multiselect option { 
			border-bottom:1px dotted #d9e5ee; padding:2px 4px; 
		}
	}
	dl.last dd.last { border-bottom:0; padding-bottom:5px; margin-bottom:0; }
	
	ul{
		&.options-list { 
			margin-right:5px; 
			 li { 
			 	line-height:1.5; padding:2px 0; 
			 }
			input{
				&.radio { float:left; margin-top:3px; }
				&.checkbox { float:left; margin-top:3px; }
			}
			label { 
				font-weight:normal; 
			}
		}
		&.validation-failed { 
			padding:0 7px; 
		}
	}
	p{
		&.note { margin:0; font-size:11px; }
		&.required { 
			font-size: 12px;
		    position: absolute;
		    right: 0;
		    top: 11px;
			@include rtl-right(0);
		}
	}
}
.product-options-bottom { 
	
	.product-pricing,.tier-prices { 
		margin:0; padding:0 0 10px; border:0; background:0; color:#e26703; 
	}
	.tier-prices li { background:0; padding:2px 0; }
	.tier-prices {
		.price,.benefit { 
			color:#e26703; 
		}
	}
	.price-box { margin:0; padding:0; }
	.add-to-links { padding:0; text-align:right; } 
	.price-label { padding-right:5px; }
	.price-tax {}
	.add-to-cart {}
}
.product-view {
	.product-options-bottom { 
		margin:0 0 10px; 
		.price-box { float:none; margin:15px 0 30px; }
		.price-label { float:none; padding-right:0; }
		.price-tax { float:none; }
		.add-to-cart-box { clear:both; float:left; padding-top:12px; }
	
	}
	.rating-box{ margin-top: 2px;}
	.add-to-box,
	.add-to-cart{ 
		text-align: center;
		float: left;
		@include rtl-float-left();  

		div.qty{ padding: 8px 0;}
		.add-cart{ 
			background: #000; 
			line-height: 38px;
			&:hover{ background: #666;}
			button.btn-cart{ 
				background: none; 
				border: medium none;
				font-size: 11px;
				text-transform: uppercase;
				vertical-align: middle;
				display: block;
				width: 100%;
				padding: 0;
				.fa{ 
					font-size: 18px;
    				vertical-align: middle;
    				padding-right: 6px;
    				margin-top: -2px;
				}
			}
		}
	}

	.add-to-links{
		display: block;
		float: left;
		@include rtl-float-left();
		li{
			float: left;	
			margin-left: 9px;
			@include rtl-margin-left(9px);
			a{ 
				color: $h_active-color; 
				display: block;
				background: $base-color;
				border: 1px solid #28313c;
				font-size: 12px;				
				text-transform: uppercase;
				line-height: 28px;				
				text-align: center;
				padding: 0 16px;
				@include border-radius(3px);
				&:hover{ background: $theme-color-primary; border-color: $p_bottom-border-color;}
				
			}			
		}
	}

}

.product-view .box-up-sell .add-to-links li a{ padding: 0;}

.col3-layout .product-options-bottom .price-box { float:none; padding:0 0 5px; }


.product-view { 
	.product-img-box {
		.product-image { margin:0 0 13px; }
		.product-image-zoom { 
			
		}
		.zoom-notice { font-size:11px; margin:0 0 5px; text-align:center; }
		.zoom { 
			position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(#{$image-theme-path-base}slider_bg.gif) 50% 50% no-repeat; cursor:pointer;
			&.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
			#track { position:relative; height:18px; }
			#handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(#{$image-theme-path-base}magnifier_handle.gif) 0 0 no-repeat;  }
			.btn-zoom-out { position:absolute; left:2px; top:0; }
			.btn-zoom-in { position:absolute; right:2px; top:0; } 
		}
		.more-views {
			margin: 20px 11px 12px;
			h2 { 
				font-size:11px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; 
			}
			ul { margin-left:-9px }
			li { 
				float:left; margin:0 0 8px 9px; 
				a { 
					float:left; width:56px; height:56px; border:2px solid #ddd; overflow:hidden; 
				}
			}
			.carousel-control{
				z-index: 99;
				top: 50%; 
				line-height: 24px;
				background: #fff;
				@include border-radius(0);
				border-width: 1px;
				width: 18px;
				height: 30px;
				margin-top: -15px;
				&.left{	left: -22px;}
				&.right{ right: -22px;}
			}
			
		}
		#image-gallery-zoom{
			.product-image-zoom{
				border: 1px solid $border-color;
			}
		}
	}
	/* Product Shop */
	.product-shop { 
		.product-name { 		
			h1 { 
				margin:0; 
				color: $p_name-color;
				font-size: 18px;
				margin-bottom: 12px;
				margin-top: 0;
				position: relative;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
		.availability { margin:0 0 15px; }
		.short-description { 
			padding:10px 0 0;
			.std{ line-height: 24px; color: $base-color;}
		}
		.price-box { margin: 0px 0 22px; line-height: 1.2;} 
		.add-to-links { 
			font-size:12px; text-align:right;  margin:0; 					
		}
		.price{ font-size: 18px;}

	}
/* Grouped Product */
	.product-view .grouped-items-table .price-box { margin:0; padding:0; }


/* Block: Description */
	.box-description {}

/* Block: Additional */
	.box-additional .data-table {
		th,td { 
			line-height:1.25; 
		}
	}

/* Block: Upsell */
	.box-up-sell {
		.carousel-inner{ 
			border: 1px solid $border-color;
			.products-grid{ border: none;}
		}
		h2 { border-bottom:0; padding:0; margin:0 0 8px; }
		.block-title{ 	
			@include clearfix();			
			strong{ 
				float: left;
				background: #f4f4f4;		
				border-top: 1px solid $theme-color-primary;
				color: $theme-color-primary;
				text-transform: uppercase;
				font-weight: 600;
				line-height: 44px;
				padding: 0 21px;
				position: relative;
				bottom: -1px;
				z-index: 9;
				border-left: 1px solid $border-color;
				border-right: 1px solid $border-color;
				
			}
		}
		.products-grid { 
			width:100%;
			td { 
				width:25%; background:#f6f2e7; border-right:1px solid #e5dcc3; border-bottom:1px solid #e5dcc3; padding:15px 10px 12px; line-height:1.6em;
				&.last { 
					border-right:0; 
				}
				img { 
					border:1px solid #e5dcc3; 
				} 
				&.empty { 
					border-right:0; 
					background:#f1ecdb; 
				}
			}
			tr.last td { 
				border-bottom:0; 
			}
			.product-image { 
				text-align:center; 
			}
			.ratings .rating-box { 
				float:none; display:block; margin:0 0 3px; 
			}
		}
	}
}

/* Block: Tags */
.product-view {
	.box-tags { 
		margin:0; 
		h3 { font-size:13px; }
		.product-tags { 
			display:block; margin:0 0 15px; 
			li { 
				display:inline; background:url(#{$image-theme-path-base}bkg_pipe3.gif) 100% 4px no-repeat; padding:0 7px 0 4px; 
			&.first { padding-left:0; }
			&.last { background:none; padding-right:0; }
			}
		}
		.form-add {
			@include clearfix();
			label { display:block; font-size:13px; font-weight:bold; margin:0 0 5px; }
			.input-box { 
				float:left; margin:0 5px 5px 0;
				@include rtl-float-left();
				@include rtl-margin(0, 5px, 5px, 0);
			}
			input.input-text { width:299px; height: 30px; }
			button.button{ 
				padding: 0 12px; float: left;
				@include rtl-float-left();
			} 
		}
		.note { margin:3px 0 0; font-size:11px; }
	}
}

/* Block: Reviews */
.product-view .product-shop {
	.box-reviews {
		dl { 
			margin:15px 0; 
			a,span { 
				font-weight:bold; 
			}
		}

		dd { 
			margin:0 0 15px; 
			small { 
				font-style:italic; 
			}
		}
		.form-add { 
			margin:15px 0 0; 
			h3 { 
				font-size:13px; font-weight:normal; 
				span { 
					font-weight:bold; 
				}
			}
			h4 { 
				font-size:12px; 
			}
			.data-table td { 
				text-align:center; 
			}
			.form-list { 
				margin:15px 0 0;
				.input-box {
					width:360px; 
				}
				input.input-text,textarea { 
					width:354px; 
					padding: 5px;
				} 
			}
		}
	}
	.ratings{ margin: 0 0 20px;}
}
#customer-reviews{
	dl dd{ padding: 5px 0 15px;}
	.pages{
		strong{ display: none;}
		float: none;
		display: inline-block;
		margin: 0 auto;
	}
}
/* Send a Friend */
.send-friend {
	.form-list {
	 	width:615px; overflow:hidden;
		li { 
			margin-right:-15px;
			position: relative;
			p { 
				margin:0 15px 0 0; 
				position: absolute;
				right: 0;
				top: 10px;
			}
			&.wide {
				.input-box { 
					width:612px; 
				} 
				textarea { 
					
				}
			}
		}
		.field { 
			width:315px; 
		}
		.input-box { 
			width:300px; 
		}
		input.input-text,textarea { 
			width:294px; 
		}
	}
	.buttons-set .limit { float:right; margin:0 7px 0 0; font-size:11px; line-height:21px; }
 }
/* ======================================================================================= */

.related-checkbox{float: left;}

.crosssell{
	.product-name{
		margin:0 0 5px; 
		font-size: $product-name-font-size;
		line-height: $product-name-font-size * 1.5;		
	}
}

iframe .addthis-smartlayers{ display: none !important;}
.zoomContainer{ z-index: 99;} 

.productdeals {
	.item-detail { display: none;}
	.item-countdown ul li div.countdown_num {
		border: 1px solid #ebebeb;
		padding: 4px 6px;
		span {
			font-size: 12px !important;
			padding: 0px !important;
			border:0 !important;
			background: #fff!important;
		}
	}
}