/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
@media screen and (max-width: $screen-sm-max) {
	#page{ margin-bottom: 42px;}
	.topLinks{
		.quick-access {
			.quickaccess-toggle {
				border: 1px solid #CDCDCD;
				width: 28px;
				line-height: 26px;
				height: 28px;
			}
		}
	}
	.quick-access {
	    position: relative;
	    float: right;
	    padding: 5px 0;	
		.quickaccess-toggle {		    
		     font-size: 16px; 
		     color: #a8a8a8;		    
		     @include transition (all 0.2s ease-in-out 0s);
		     text-align: center;
		     margin: 0 3px;
		     &:hover{
			    background-color: $theme-color-default;
				border-color: $theme-color-default;
			    color: $white;
		      	//@include transition(all 0.2s ease-in-out 0s);
			}	
		}
		.inner-toggle {
			background: #fff;   
			min-width: 180px;
			position: absolute;
			right: 0;
			top: 100%;
			z-index: 9999 !important;
			@include opacity (0);
			display: block;    
			transform: translateX(-25%);
			visibility: hidden;
			@include box-shadow(0 1px 3px #D3D3D3);
			padding: 5px;
			@include border-top-radius (0);
			@include border-bottom-radius (3px);
		}
		&:hover {
			.content .inner-toggle,
			.inner-toggle {
				//@include transition( all 500ms cubic-bezier(0.09, 0.68, 0, 0.99) 0s );
				@include opacity (1) ;   
				transform: translateX(0px);
				visibility: visible;
				z-index: 10;
			}
		}
	}

	#topbar{
		.topLinks{ float: right !important;}
		.links{ 
			float: none !important;
			li{ float: none !important; line-height: 24px;}
			li.first{ padding-left: 6px !important;}
			li.last a{ border: none;}
		}
		.language{ padding: 6px 5px;}
	}
	.cart-top #cart .content{
		position: static;
		opacity: 1;
		visibility: visible;
		top: 0;
		border: none;
		min-width: 270px;
		visibility: inherit;
	}

	#checkout-step-login{
		.buttons-set{ margin-bottom: 10px;}
	}

}

@media screen and (max-width: $screen-md) {
	#search {				
		.input-search{ min-width: 0 !important;}
	}
	#header-main #search .input-search{
		width: 183px;
		
	}
	iframe{ display: none !important;}
	.ves-caption{ display: none !important;}
	#topbar .links li.first{ padding-left: 0 !important;}
	#topbar .links li{ display: block;}
	.module_content,.box.producttabs{ margin-bottom: 0;}
	.custom-subscribe{ padding-bottom: 60px;}
	.top-search .form-search input.input-text{ width: 249px;}
	.top-search,.cart-inner{ margin-top: 30px;}
	
	.tab-content .carousel-controls{ display: none;}
	.new-letter .custom-subscribe .title{
		display: inline-block;
	    float: none;
	    margin-bottom: 15px;
	    margin-right: 0;
	}
	.new-letter{
		.subscribe-box{ width: 100%}
		.social-link{ 
			text-align: left;
			.social{ float: left;}
		}
	} 
	.breadcrumbs{ clear: both; padding: 15px 0; margin: 0;}
}

@media screen and (max-width: $screen-xs-max) {
	.top-search,.cart-inner{ margin-top: 10px;}
	#header-main .header-wrap{
		text-align: center;
		.logo{
			float: none; display: inline-block;
			
		}

	}
	.rtl #header-main .header-wrap .logo{ float: none !important;}
	.producttabs .nav-tabs li{ 
		float: none; 
		text-align: left;
		a{ border-width: 1px !important; border-color: $border-color;}
	}
	.rtl .producttabs .nav-tabs li{ float: none !important;}
	.zoomContainer,
	#cboxOverlay,
	#colorbox{ display: none !important;}
	#search .category_filter select{ width: 123px !important;}
	#search{ margin-top: 5px !important;}
	.megamenu .caret{ border-color: #FFFFFF transparent transparent; margin-left: 5px;}
	.equal, .equal > div[class*="col-"]{ display: block;}
	.checkout-progress{padding: 0px }

	/*New style Table responsive $screen-xs-max */
	table#wishlist-table, 
	table#shopping-cart-table, 
	table#checkout-review-table, 
	table#my-orders-table,
	table#multiship-addresses-table,
	#review-order-form table {
		border:0;
		border-top:1px solid #ddd;
		outline: none;
		th, td { display: block; text-align: center;}
		colgroup { display:none;}
		.a-right { text-align: center !important;}		
		.button {margin-bottom: 15px;}
		.btn-remove { float:none; margin: 0 auto;}
	}

	.box-reviews .data-table {
		th, td { font-size: 10px; padding:3px !important;}
	}	
	.multiple-checkout select { width: 270px;}
	.data-table tr.even td.last, .data-table tr.odd td.last { border-right: 1px solid #ddd;}

	/*new style shopping cart  mobile responsive */
	.cart {
		table {
			th { display:none !important}
			tbody td { border:0 !important; padding: 5px 0;}
			.bgcolol-td { background: $border-color;}
			tbody td span {
				@include rtl-float-left();
				@include rtl-text-align-left();
				width: 50%;
				&.lable-price { @include rtl-text-align-right(); padding-right:10px; line-height:33px; }
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
	#image-gallery-zoom .item a{
		width: 21%;
	}	
	.product-view .product-shop .add-to-links{
		margin-top: 5px;
		li{
			margin-left: 0;
			margin-right: 6px;
		}

	}
	.product-block .product-colorbox{ display: none !important;}
	#search .input-group{ margin: 0 auto;}
	
	.producttabs .nav-tabs > li:hover a{
		border-color: $border-color;		
	}
	.product-block .actions .add-to-links{
		visibility: visible;
    	opacity: 1;
		@include scale(1);

	}
	
	#header-main #search .input-search{
		width: 175px;

	}
}


/*$media (max-width: 480px) */
@media (max-width: $screen-phone) {
	.checkout-progress li { width: 100%; padding: 0px}
}