.slider span{
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
}

.ready span {
    color: #3d6611;
    font-weight: bold;
}

.failed span {
    color: #df280a;
    font-weight: bold;
}
