<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
?>
<?php 
if ($this->getImage()) {
?><img class="ampromo-label" alt="<?php echo $this->getAlt();?>" src="<?php echo $this->getImage();?>">
<?php }?>
<div style="clear: both;"></div>