.itoris_options{
	border: none !important;
}

.itoris_options td{
	border: none !important;
}

.itoris_options .input-text{
	width: 100% !important;
}

.roll_over{
	width: 300px;
	height: 200px;
	text-align: center;
	border: 1px solid #AEAEAE;
}

.roll_over span{
	display: block;
	margin-top: 80px;
}

.itoris_grid{
	clear: left;
}

.itoris_grid td{
	padding-right: 20px;
}

.itoris_grid select{
	width: 200px;
}

.website_label{
	font-weight: bold;
	clear: left;
}

.store_label{
	margin-left: 40px;
	font-weight: normal;
	width: 400px;
	clear: left;
}

.category_label{
	margin-left: 80px;
	width: 400px;
	clear: left;
}

.category_label .text{
	width: 200px;
}

.category_label div{
	float: left;
}

.category_delete{
	width: 50px;
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

.category_show{
	width: 30px;
}

.category_show a{
	color: green;
}

.dropdown{
	width: 125px !important;
}

.cell-image{
	text-align: center;
}

.sort_arrow_down, .sort_arrow_up{
	height: 15px;
	width: 15px;
	cursor: pointer;
	margin: 0 auto;
}

.sort_arrow_down{
	background-image: url('../images/sort-arrow-down.png');
}

.sort_arrow_up{
	background-image: url('../images/sort-arrow-up.png');
}

.cell-position, .cell-disable, .cell-remove, .cell-label{
	vertical-align: middle;
}

.validation-failed{
	border: 1px solid #D6340E !important;
	background-color: #FEF0ED !important;
}

.delete_link{
	color: #FFA500;
	text-decoration: underline;
	cursor: pointer;
}

img{
	cursor: pointer;
}

.popup_background{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000;
}

.popup_box{
	position: fixed;
	top: 48%;
	left: 50%;
	z-index: 1001;
}

.thumb_banner{
	margin: 1px;
}

.close_button{
	background-image: url('../images/button.png');
	width: 14px;
	height: 13px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	z-index: 1005;
}