.amabtesting-grid {
    border-spacing: 0;
}

.amabtesting-grid td,
.amabtesting-grid th {
    padding: 7px;
}

.amabtesting-grid td,
.amabtesting-grid th {
    border-left: 1px solid #ccc;
}

.amabtesting-grid td:first-child,
.amabtesting-grid th:first-child {
    border-left: none;
    min-width: 20px;
}

.amabtesting-grid tr:first-child td {
    background-color: #E6E6E6;
}

.amabtesting-grid .significant.good td {
    background-color: #eeffee;
}

.amabtesting-grid .significant.bad td {
    background-color: #ffeeee;
}

.amabtesting-grid .good td:nth-child(6):before {
    color: green;
    content: '▲';
}

.amabtesting-grid .bad td:nth-child(6):before {
    color: red;
    content: '▼';
}

.amabtesting-grid .significant td:nth-child(1):before {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
}

.amabtesting-grid .significant.good td:nth-child(1):before {
    background: url(images/good.png);
}

.amabtesting-grid .significant.bad td:nth-child(1):before {
    background: url(images/bad.png);
}

.amabtesting-grid .significant td:nth-child(1):before {
    font-size: 21px;
}

.amabtesting-estimate {
    width: 450px;
    margin-bottom: 20px;
}

#visit_url {
    width: 166px;
}

.value.visit_url:before {
    content: 'http://example.com/';
}

button#add_attribute {
    margin-top: 7px;
}
