/* line 5, ../../sass/rtl/styles.scss */
.rtl .carousel-controls .carousel-control.left {
  left: auto;
  right: 0;
}
/* line 6, ../../sass/rtl/styles.scss */
.rtl .carousel-controls .carousel-control.right {
  left: 0;
  right: auto;
}
/* line 12, ../../sass/rtl/styles.scss */
.rtl #columns .container > .row > section,
.rtl #columns .container > .row > aside {
  float: left;
}
/* line 16, ../../sass/rtl/styles.scss */
.rtl #ves-dropdown li.over > ul,
.rtl #ves-dropdown li.over > ul li.over > ul {
  right: 120px;
  left: auto;
}
/* line 18, ../../sass/rtl/styles.scss */
.rtl .offcanvas-sidebars-buttons .pull-left {
  float: left !important;
}
/* line 19, ../../sass/rtl/styles.scss */
.rtl .offcanvas-sidebars-buttons .pull-right {
  float: right !important;
}
/* line 21, ../../sass/rtl/styles.scss */
.rtl .zoomWindow {
  left: auto;
  right: 460px !important;
}
