.awis-c-center button {
    margin-left: 0px;
    padding: 0px;
}

.awis-block .awis-slides-controls .awis-c-center {
    height: 22px;
}

.awis-block .awis-slides-controls .awis-c-right {
    margin-right: 20px;
}