<!--@subject {{var order.getStoreGroupName()}}: Serialnumber for Product purchased with Order # {{var order.increment_id}} @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Dear {{htmlescape var=$order.getCustomerName()}}</strong>,<br/>
                    This is the Serialnumber for the Product purchased with your order # {{var order.increment_id}}.
                </p>
                <p>
                	Serialnumber for <i>{{var orderitem.name}} - {{var linkpurchaseditem.link_title}}</i>
                </p>
                <p><strong>
                	{{var serialnumber.serial_number}}
                </strong></p>
                <p>
                    If you have any questions, please feel free to contact us at
                    <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a>
                    or by phone at (555) 555-0123.
                </p>
                <p>Thank you again,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>