<form name="promo-form" id="promo-form" action="https://forms.hubspot.com/uploads/form/v2/349249/198f2b5c-7e76-4133-955e-49f6b7406325" method="post">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <input type="text" name="firstname" class="required-entry" placeholder="First Name" />
        </div>
        <div class="col-lg-6 col-xs-12">
            <input type="email" name="email" class="required-entry validate-email" placeholder="Email" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <button type="submit" title="<?php echo $this->__( 'SUBSCRIBE NOW' ) ?>" class="button">
                <?php echo $this->__( 'SUBSCRIBE NOW' ) ?>
            </button>
        </div>
        <div class="col-lg-8 col-xs-12 privacy">
            You may unsubscribe at anytime.
            Read our <a href="<?php echo Mage::getBaseUrl();?>privacy-and-security">privacy policy</a>.
        </div>
    </div>
</form>
<script type="text/javascript">
    //< ![CDATA[
    var promoForm = new VarienForm('promo-form', false);
    //]]>
</script>