<!--@subject Test "{{var test.name}}" A/B Test Completed @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align: center">
                    <tr>
                        <td valign="top">
                            The "{{var test.name}}" experiment has completed.
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="padding-top: 12px;">
                            <a href="{{store url="adminhtml/amabtesting/edit" _query_id=$test.id}}">
                                <img src="{{skin url="images/amasty/amabtesting/button-result.png" _area='frontend'}}" alt="View Results"  style="margin-bottom:10px;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
