<?php
/**
 * @category   Apptrian
 * @package    Apptrian_ProductSlider
 * @author     Apptrian
 * @copyright  Copyright (c) 2015 Apptrian (http://www.apptrian.com)
 * @license    http://www.apptrian.com/license    Proprietary Software License (EULA)
 */

$helper       = Mage::helper('apptrian_productslider');
$data         = $helper->getData();
$pageType     = $data['type'];
$products     = $data['products'];
$elements     = $data['elements'];
$customRating = $data['customRating'];
$scrollBar    = $data['scrollBar'];

if(count($products) > 0): ?>
<div class="apptrian-productslider-wrapper apptrian-productslider-<?php echo $pageType ?>-page">
    <div class="apptrian-productslider">
        <div class="apptrian-productslider-products">
        <?php foreach ($products as $p): ?>
            <div class="apptrian-productslider-product">
            <?php 
            	
            	$info = '';	
            	
            	foreach ($elements as $el) {
            	
	            	switch ($el) {
					    case 'image':
					    	$info .= '<div class="apptrian-productslider-product-image"><a href="' . $p['url'] . '"><img src="' . $p['image'] . '" alt="' . $p['name'] . '"/></a></div>';
					        break;
					    case 'name':
					    	$info .= '<div class="apptrian-productslider-product-name"><a href="' . $p['url'] . '"><span>' . $p['name'] . '</span></a></div>';
					        break;
					    case 'price':
					    	if ($p['type_id'] != 'bundle') {
						    	$info .= '<div class="apptrian-productslider-product-price">';
						    	if ($p['type_id'] == 'configurable' || $p['type_id'] == 'grouped') {
						    		$info .= '<span class="apptrian-productslider-product-price-from">' . $this->__('From:') . '</span>';
						    	}
						    	if ($p['price'] != $p['final_price']) {
						    		$info .= '<span class="apptrian-productslider-product-price-old">' . $p['price'] . '</span>';
						    	}
						    	$info .= '<span>' . $p['final_price'] . '</span></div>';
					    	}
					        break;
					    case 'sku':
					    	$info .= '<div class="apptrian-productslider-product-sku"><span>' . $p['sku'] . '</span></div>';
					        break;
					    case 'description':
					    	$info .= '<div class="apptrian-productslider-product-description"><span>' . $p['description'] . '</span></div>';
					        break;
					    case 'rating':
					    	$rating = $p['rating_summary'];
					    	if ($rating) {
								if ($customRating) {
									$info .= '<div class="apptrian-productslider-product-ratings"><div class="apptrian-productslider-product-rating-box"><div class="apptrian-productslider-product-rating" style="width: ' . $rating . '%"></div></div></div>';
								} else {
									$info .= '<div class="apptrian-productslider-product-rating-default"><div class="ratings"><div class="rating-box"><div class="rating" style="width: ' . $rating . '%"></div></div></div></div>';
								}
					    	}
					        break;
				        case 'cart':
				        	if ($p['is_saleable']) {
				        		if ($p['cart_url'] != '') {
				        			$info .= '<div class="apptrian-productslider-product-add-to-cart"><a href="' . $p['cart_url'] . '"><span>' . $this->__('Add to Cart') . '</span></a></div>';
				        		} else {
				        			$info .= '<div class="apptrian-productslider-product-view-details"><a href="' . $p['url'] . '"><span>' . $this->__('View Details') . '</span></a></div>';
				        		}
				        	} else {
				        		$info .= '<div class="apptrian-productslider-product-out-of-stock"><a href="' . $p['url'] . '"><span>' . $this->__('Out of Stock') . '</span></a></div>';
				        	}
				        	break;
			        	case 'compare':
			        		$info .= '<div class="apptrian-productslider-product-compare"><a href="' . $p['compare_url'] . '"><span>' . $this->__('Add to Compare') . '</span></a></div>';
			        		break;
		        		case 'wishlist':
		        			$info .= '<div class="apptrian-productslider-product-wishlist"><a href="' . $p['wishlist_url'] . '"><span>' . $this->__('Add to Wishlist') . '</span></a></div>';
		        			break;
					    default:
						    break;
					}
					
            	}
            	
            	echo $info;
            	
            ?>
            </div>
        <?php endforeach; ?>
        </div>
        <div class="apptrian-productslider-previous-wrapper"><a class="apptrian-productslider-previous" href="#"><span><?php echo $this->__('Previous'); ?></span></a></div>
        <div class="apptrian-productslider-next-wrapper"><a class="apptrian-productslider-next" href="#"><span><?php echo $this->__('Next'); ?></span></a></div>
        <?php if ($scrollBar): ?>
        	<div class="apptrian-productslider-scroll-bar-wrapper"><div class="apptrian-productslider-scroll-bar"></div></div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
