<?php
/**
 * Pulsar Plugins
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.pulsarplugins.com/pulsarplugins-license.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * Pulsar Plugins does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * Pulsar Plugins does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   PP
 * @package    PP_EmailByShipping
 * @version    1.1
 * @copyright  Copyright (c) 2010-2014 Pulsar Plugins (http://www.pulsarplugins.com/)
 * @license    http://www.pulsarplugins.com/pulsarplugins-license.txt
 *
*/
?>

<style>
	.form-list td.value select { width: 200px; }
</style>

<?php
$_htmlId = $this->getHtmlId() ? $this->getHtmlId() : '_' . uniqid();

$_colspan = 2;
if (!$this->_addAfter) {
    $_colspan -= 1;
}
$_colspan = $_colspan > 1 ? 'colspan="' . $_colspan . '"' : '';

//$helper	= Mage::helper('ordermailtable'); echo $helper->getTemplateIdFromShippingCode('freeshipping_freeshipping');

?>

<script language="javascript">
	
	var alerted	= false; 
	var saveBtn	= $$('button.save');
	saveBtn		= saveBtn[0];
	var btnId		= saveBtn.getAttribute('id');

	
	
	$(btnId).observe('mouseover', function(event) {
		return cloneValidation();
		return false;
	});
		
	document.observe("dom:loaded", function() {
		initObservers();
	});
	
	function initObservers () {
		var headEle	= $$('button.save');
		//alert (headEle.length);
		for (i=0; i<headEle.length; i++) {		
			headEle[i].observe('mouseover', function(event) {
				return cloneValidation();
			});
		}
		
		var rows	= $$('.dyndata');
		for (i=0; i <rows.length; i++) {
			rows[i].observe('click', function(event) {
				alerted	= false;
				document.getElementById(btnId).disabled	= '';
			});
			
		}
		
		if (configForm) {
			/*
			configForm.observe('submit', function(event) {
				alert ('here'); return false;
			});
			*/
		}

	}
	
	function cloneValidation () {
		var allFields	= new Array();
		trs	= $$('tr.dyndata');
		for (i=0; i<trs.length; i++) {
			tr		= document.getElementById(trs[i].getAttribute('id'));
			sels	= tr.getElementsByTagName("SELECT");
			vals	= new Array();
			for (j=0; j <sels.length; j++) {
				vals[j]	= sels[j].options[sels[j].selectedIndex].value;
			}
			if (vals.length == 3) { // we have only 3 fields ie. customer type, shipping method and template id
				tmp	= vals.join('|x|');
				for (k = 0; k < allFields.length; k++) {
					if (allFields[k] == tmp) {
						if (!alerted) {
							//alert (e.target);
							alert ('<?php echo __('Duplicate combination exists in order confirmation mails settings'); ?>'); 
							document.getElementById(btnId).disabled	= 'disabled';
							alerted	= true;
						}
						return false;
					}
				}
				allFields.push(tmp);
			} 
		}
		initObservers();
		//alert ('no combimation');
		return true;
	}
</script>

<div class="grid" id="grid<?php echo $_htmlId ?>">
    <table cellpadding="0" cellspacing="0" class="border">
        <tbody>

            <tr class="headings" id="headings<?php echo $_htmlId ?>">
<?php foreach ($this->_columns as $columnName => $column):?>
                <th><?php echo $column['label'] ?></th>
<?php endforeach;?>
                <th <?php echo $_colspan?>></th>
            </tr>

            <tr id="addRow<?php echo $_htmlId ?>">
                <td colspan="<?php echo count($this->_columns) ?>"></td>
                <td <?php echo $_colspan?>>
                    <button style="" onclick="" class="scalable add" type="button" id="addToEndBtn<?php echo $_htmlId ?>">
                        <span><span><span><?php echo $this->_addButtonLabel ?></span></span></span>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
    <input type="hidden" name="<?php echo $this->getElement()->getName() ?>[__empty]" value="" />
</div>
<div id="empty<?php echo $_htmlId ?>">
    <button style="" onclick="" class="scalable add" type="button" id="emptyAddBtn<?php echo $_htmlId ?>">
        <span><span><span><?php echo $this->_addButtonLabel ?></span></span></span>
    </button>
</div>

<script type="text/javascript">
//<![CDATA[
// create row creator
var arrayRow<?php echo $_htmlId ?> = {
    // define row prototypeJS template
    template : new Template(
        '<tr id="#{_id}" class="dyndata">'
<?php foreach ($this->_columns as $columnName => $column):?>
            +'<td class="#{_id}-<?php echo $columnName?>">'
                +'<?php echo $this->_renderCellTemplate($columnName)?>'
            +'<\/td>'
<?php endforeach;?>
<?php if ($this->_addAfter):?>
            +'<td><button onclick="" class="scalable add" type="button" id="addAfterBtn#{_id}"><span><span><span><?php echo Mage::helper('adminhtml')->__('Add after') ?><\/span><\/span><\/span><\/button><\/td>'
<?php endif;?>
            +'<td><button onclick="arrayRow<?php echo $_htmlId ?>.del(\'#{_id}\')" class="scalable delete" type="button"><span><span><span><?php echo Mage::helper('adminhtml')->__('Delete') ?><\/span><\/span><\/span><\/button><\/td>'
        +'<\/tr>'
    ),

    rowsCount : 0,

    add : function(templateData, insertAfterId)
    {
        // generate default template data
        if ('' == templateData) {
            var d = new Date();
            var templateData = {
<?php foreach ($this->_columns as $columnName => $column):?>
                <?php echo $columnName ?> : '',
<?php endforeach;?>
                _id : '_' + d.getTime() + '_' + d.getMilliseconds()
            };
        }

        // insert before last row
        if ('' == insertAfterId) {
            Element.insert($('addRow<?php echo $_htmlId ?>'), {before: this.template.evaluate(templateData)});
        }
        // insert after specified row
        else {
            Element.insert($(insertAfterId), {after: this.template.evaluate(templateData)});
        }
		
		// NEW CODE
 
        // set the selected drop-down list item
<?php foreach ($this->_columns as $columnName => $column):?>
        var options = $$('td.' + templateData._id + '-' + '<?php echo $columnName?>' + ' option')
        for(var index = 0; index < options.length; ++index)
        {
            var option = options[index]
            if(option.getAttribute('value') == templateData.<?php echo $columnName?>)
            {
                option.selected = true
            }
        }
<?php endforeach;?>

<?php if ($this->_addAfter):?>
        Event.observe('addAfterBtn' + templateData._id, 'click', this.add.bind(this, '', templateData._id));
<?php endif;?>

        this.rowsCount += 1;
    },

    del : function(rowId)
    {
        $(rowId).remove();
        this.rowsCount -= 1;
        if (0 == this.rowsCount) {
            this.showButtonOnly();
        }
    },

    showButtonOnly : function()
    {
        $('grid<?php echo $_htmlId ?>').hide();
        $('empty<?php echo $_htmlId ?>').show();
    }
}

// bind add action to "Add" button in last row
Event.observe('addToEndBtn<?php echo $_htmlId ?>', 'click', arrayRow<?php echo $_htmlId ?>.add.bind(arrayRow<?php echo $_htmlId ?>, '', ''));

// add existing rows
<?php
$_addAfterId = "headings{$_htmlId}";
foreach ($this->getArrayRows() as $_rowId => $_row) {
    echo "arrayRow{$_htmlId}.add(" . $_row->toJson() . ", '{$_addAfterId}');\n";
    $_addAfterId = $_rowId;
}
?>

// initialize standalone button
$('empty<?php echo $_htmlId ?>').hide();
Event.observe('emptyAddBtn<?php echo $_htmlId ?>', 'click', function () {
    $('grid<?php echo $_htmlId ?>').show();
    $('empty<?php echo $_htmlId ?>').hide();
    arrayRow<?php echo $_htmlId ?>.add('', '');
});

// if no rows, hide grid and show button only
<?php if (!$this->getArrayRows()):?>
arrayRow<?php echo $_htmlId ?>.showButtonOnly();
<?php endif;?>

// toggle the grid, if element is disabled (depending on scope)
<?php if ($this->getElement()->getDisabled()):?>
toggleValueElements({checked:true}, $('grid<?php echo $_htmlId ?>').parentNode);
<?php endif;?>
//]]>
</script>
