<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Sorting
 */

$products = $this->getCollection();
if ($products && $products->count() > 0) { ?>
<div class="box-collateral box-up-sell">
    <h2><?php echo $this->__($this->getHeader()) ?></h2>
    <table class="amsorting-table" style="border:1px solid black">
        <tr>
        <?php foreach ($products as $p){ ?>
            <td style="padding:15px">
                <a href="<?php echo $p->getProductUrl() ?>" title="<?php echo $this->htmlEscape($p->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($p, 'small_image')->resize(125) ?>" width="125" height="125" alt="<?php echo $this->htmlEscape($p->getName()) ?>" /></a>
                <h3 class="product-name"><a href="<?php echo $p->getProductUrl() ?>" title="<?php echo $this->htmlEscape($p->getName()) ?>"><?php echo $this->htmlEscape($p->getName()) ?></a></h3>
                <?php echo $this->getPriceHtml($p, true) ?>
            </td>
        <?php } ?>
        </tr>
    </table>
</div>
<?php } ?>