<?php
/**
 * WMD_Html5audio Design File
 *
 * WMD Web-Manufaktur/Digiswiss 
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that you find at http://wmdextensions.com/WMD-License-Community.txt
 *
 * @category  WMD
 * @package   WMD_Html5audio
 * @author    Dominik Wyss <info@wmdextensions.ch>
 * @copyright 2013 Dominik Wyss | WMD Extensions (http://wmdextensions.com)
 * @link      http://wmdextensions.com
 * @license   http://wmdextensions.com/WMD-License-Community.txt
 */ 
 
    $playlistId = $this->getPlaylistId();
    $prepend = $this->getPrepend(); 
    $audiohelper = Mage::helper('html5audio');
    $mode = $this->getMode();
?>  
<?php if ($audiohelper->addPlayerInstance($playlistId, $prepend)): ?>
<div id="jquery_jplayer_<?php echo $prepend.$playlistId;; ?>" class="jp-jplayer"></div>
		
<div id="jp_container_<?php echo $prepend.$playlistId;; ?>" class="jp-audio">
	<div class="jp-type-<?php echo $mode ?>">
		<div id="jp_interface_<?php echo $prepend.$playlistId;; ?>" class="jp-interface">
			<ul class="jp-controls">
				<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
				<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li> 
				<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
				<?php if ('playlist' == $mode): ?>
				<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li> 
				<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
				<?php endif; ?>
			</ul>
			<div class="jp-progress-container">
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<li></li>
			</ul>
		</div> 
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>
    <?php if ($this->getAddJs()): ?>   
    <script type="text/javascript">
    //<![CDATA[
      jQuery(document).ready(function(){ 
          <?php echo $audiohelper->returnAllPlayersJs($prepend); ?> 
      });          
    //]]>
    </script> 
    <?php endif; ?> 
<?php endif; ?> 