<div id="toogas_pop_up" onclick="closePopUp();"></div>
<script>
	function initialParams(win, opacit, innercont)
	{
	  $('toogas_pop_up').style.width = '100%';
	  $('toogas_pop_up').style.height = '100%'; 
	  $('toogas_pop_up').setOpacity(opacit);
	  $('toogas_pop_up').style.position = 'fixed';
	  $('toogas_pop_up').style.top = '0px';
	  $('toogas_pop_up').style.zIndex = '5000';
	  $('toogas_pop_up').style.backgroundColor = '#000000';
	  win.getContent().innerHTML = innercont;	  
	  win.showCenter();
	}
	function closePopUp()
	{
	  $('toogas_pop_up').style.width = '';
	  $('toogas_pop_up').style.height = '';
	  $('toogas_pop_up').setOpacity(1);
	  $('toogas_pop_up').style.position = '';
	  $('toogas_pop_up').style.top = '';
	  $('toogas_pop_up').style.zIndex = '';
	  $('toogas_pop_up').style.backgroundColor = '';
	  win.close();
	}
	function newWindow(wid, hei, showEff, hideEff) {
	  win = new Window({className: "mac_os_x",  width: wid, height: hei, zIndex: 10000, resizable: true, title: "", showEffect: showEff, hideEffect: hideEff,draggable:false, wiredDrag:true, destroyOnClose:true});
	  return win;
	}	
</script>