.itoris_pagecontentslider_box ul,.itoris_pagecontentslider_box li{list-style: none;}
.itoris_pagecontentslider_box {
	clear: both;
	position: relative;
}
.itoris_pagecontentslider_titles_box, .itoris_pagecontentslider_slides_box {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.itoris_pagecontentslider_titles_box {
	background-color: gray;
}
.itoris_pagecontentslider_slides_box {
	background-color: #ffb600;
}
.itoris_pagecontentslider_titles, .itoris_pagecontentslider_slides {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.itoris_pagecontentslider_title {
	width: 185px;
	height: 75px;
	float: left;
	cursor: pointer;
	overflow: hidden;
	background-repeat: no-repeat;
}
.itoris_pagecontentslider_slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -1000px;
	overflow: hidden;
}
.itoris_pagecontentslider_link {
	text-decoration: none;
	color: inherit;
}
div.itoris_pagecontentslider_title_content, div.itoris_pagecontentslider_slide_content {
	margin: 5px;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_t div.itoris_pagecontentslider_title_content{
	margin-bottom: 8px;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_r div.itoris_pagecontentslider_title_content {
	margin-left: 8px;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_b div.itoris_pagecontentslider_title_content {
	margin-top: 8px;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_l div.itoris_pagecontentslider_title_content {
	margin-right: 8px;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_t {
	background-position: bottom center;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_r {
	background-position: left center;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_b {
	background-position: top center;
}
.itoris_pagecontentslider_title.itoris_pagecontentslider_title_l {
	background-position: right center;
}