<?php
if(Mage::getStoreConfig('applycoupon_section/applycoupon_group/active'))
{
	$spopup =Mage::getSingleton('core/session')->getMyPopup();
	$cpopup =Mage::getSingleton('core/session')->getMyCPopup();
	$storeId = Mage::app()->getStore()->getStoreId();
	if ($spopup != NULL || $cpopup != NULL ) { ?>
		<script>
			jQuery.noConflict();
			jQuery(function(){

				var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

				jQuery( document ).ready(function(e) {
			    jQuery("body").append(appendthis);
			    jQuery(".modal-overlay").fadeTo(500, 0.7);
					var modalBox = 'popup1';
					jQuery('#'+modalBox).fadeIn(jQuery(this).data());
				});  
				jQuery(".js-modal-close, .modal-overlay").click(function() {
			    	jQuery(".modal-box, .modal-overlay").fadeOut(500, function() {
			        	jQuery(".modal-overlay").remove();
			    	});
			 	});
				jQuery(window).resize(function() {
				    jQuery(".modal-box").css({
				        top: (jQuery(window).height() - jQuery(".modal-box").outerHeight()) / 2,
				        left: (jQuery(window).width() - jQuery(".modal-box").outerWidth()) / 2
				    });
				});
				jQuery(window).resize();
		 	});
		</script><?php 
	}
	if($spopup == 'popup')
	{ 
		$successmsg = Mage::getStoreConfig('applycoupon_section/applycoupon_group/success_message', $storeId); 
		$img_path = Mage::getStoreConfig('applycoupon_section/applycoupon_group/success_image', $storeId); 
		$img_path = ($img_path) ? $img_path : "coupon-successfully.png"; ?>
		<div id="popup1" class="modal-box">
			<a href="#" class="js-modal-close close">×</a>
			<div class="modal-body">
				<div class="coupon-successfully-img">
			  		<img src="<?php echo $this->getSkinUrl('images/applycoupon/'.$img_path) ?>">
			  	</div>
			  	<div class="coupon-successfully-text">
			  		<?php echo $successmsg; ?>
			  	</div>
			</div>
		</div><?php
	}elseif ($cpopup == 'cpopup') {
		$coupon_code =Mage::getSingleton('core/session')->getMyCouponcode();
		$errormsg = Mage::getStoreConfig('applycoupon_section/applycoupon_group/error_message', $storeId);
		$img_path = Mage::getStoreConfig('applycoupon_section/applycoupon_group/error_image', $storeId); 
		$img_path = ($img_path) ? $img_path : "coupon-expired.png"; ?>
		<div id="popup1" class="modal-box">
			<a href="#" class="js-modal-close close">×</a>
			<div class="modal-body">
				<div class="coupon-successfully-img">
			  		<img src="<?php echo $this->getSkinUrl('images/applycoupon/'.$img_path) ?>">
			  	</div>
			  	<div class="coupon-successfully-text">
			  		<?php echo $errormsg; ?>
			  	</div>
			</div>
			  
		</div><?php
	}
	Mage::getSingleton('core/session')->unsMyPopup();
	Mage::getSingleton('core/session')->unsMyCPopup();
	Mage::getSingleton('core/session')->unsMyCouponcode();
} ?>

