<?php 
$getScript =Mage::getSingleton('core/session')->getMiscellaneous_Scripts();
if ($getScript == 'script') {
	$script = Mage::getStoreConfig('applycoupon_section/applycoupon_group/miscellaneous_script');
	echo "<script type='text/javascript'>$script</script>";	
}
Mage::getSingleton('core/session')->unsMiscellaneous_Scripts();?>
<div style="font-size: 25px;left: 50%;position: absolute;top: 50%;transform: translate(-50%,-50%);">
	<?php echo $this->__("Loading… Please Wait") ?>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		var url =  ("<?php echo Mage::getBaseUrl().'/applycoupon/index/redirect?code='.$coupon_code = $this->getRequest()->getParam('code').'&return_url='.$this->getRequest()->getParam('return_url'); ?>");
		jQuery.ajax({type: "POST",url: url, success: function(result){
           	 jQuery(location).attr("href",result);
		}});
	});
</script>