/* NCCUSTOM CSS File */
span#nccustom_original_price{text-decoration: line-through;color:#a4a4a4;font-size:14px;} span#nccustom_unit_price{color:#ff0000;font-size:14px;} div#nccustom_coupon_label{margin-top: 10px;} span#nccustom_coupon_label{font-weight: bold;} p#nccustom_author_name{ font-weight: normal; } p#nccustom_contents{font-style: normal;font-size: small; font-weight: normal;}