<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Islider
 * @version    2.0.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="awis_imageformcontainer">
    <iframe name="awis_loader" id="awis_loader" style="display: none;"></iframe>
    <form enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('adminhtml/awislider_image/saveimage', array('id' => $this->getImageId())) ?>" id="awis_imageform" target="awis_loader">
        <?php echo $this->getBlockHtml('formkey')?>
        <div class="content-header" style="margin-top: 6px;">
            <table cellspacing="0">
                <tr>
                    <td style="width:50%;"><h3 class="icon-head head-products"><?php echo $this->getHeaderText() ?></h3></td>
                    <td class="a-right">
                        <?php echo $this->getButtonsHtml() ?>
                    </td>
                </tr>
            </table>
        </div>
        <div id="awis_image_error"></div>
        <?php echo $this->getChildHtml('form') ?>
    </form>
</div>