<head>
    <meta charset="utf-8">
    <title>Demo</title>
</head>
<body>
    <script src="https://www.nightingale.com/soap/ncinternal/jquery-1.11.2.min.js"></script>
    <script>
	var ServiceName = 'ValidateMagentoCredentials';
	var Version = '';
	var ApplicationArea = 'ncinternal';
	var UserName = 'mediafly';
	var Password = 'mediaflypass2015';

	var EmailAddress = 'wmikrut72@gmail.com'; 
	var UserPassword = escape('niles$$7616');

	var jsonRequest = '{"ServiceName":"' + ServiceName + '","Version":"' + Version + '","ApplicationArea":"' + ApplicationArea;
	jsonRequest += '","UserName":"' + UserName + '","Password":"' + Password + '","EmailAddress":"' + EmailAddress;
	jsonRequest += '","UserPassword":"' + UserPassword + '"}';

	var url = 'https://www.nightingale.com/soap/ncinternal/wrapper.php?callback=&jsonrequest='+jsonRequest;               

	$.ajax({
	    url : url,
	    type: "GET",
	    async: false,
	    jsonpCallback: 'jsonCallback',
	    contentType: "application/json",
	    dataType: 'jsonp',
	    success: function(data, textStatus, jqXHR){
	    console.log(data);
	},

	    error: function (jqXHR, textStatus, errorThrown){
	    console.log(jqXHR);
	} 
});
                                                                                                                                                                            
</script>
</body>
                                                                                                                                                                            