<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>
<?php
//****************************************************************************
//* 2015-06-24 12:22 WWM Begin
//* Do not show this payment type when recurring billing is activated
//* for any item.
//****************************************************************************
$nccustom_recurring = 0;
$nccustom_pp = 0;
$nccustom_downloadable = 0;

$_nccustom_cart = Mage::getSingleton('checkout/cart');
$_nccustom_items = $_nccustom_cart->getItems();

foreach ($_nccustom_items as $nccustom_item)
{
    if($nccustom_item->getProduct()->getIsRecurring())
    {
	$nccustom_recurring = 1;
        break;
    }
    if ( $nccustom_item->getProductType() == 'downloadable' )
    {
	if(!Mage::getSingleton('customer/session')->isLoggedIn())
	{
	    $nccustom_downloadable = 1;
	}
    }

    $nccustom_pp_atr = $nccustom_item->getData('partialpayment_option_selected') + 0;
    if ( $nccustom_pp_atr > 0 )
    {
	$nccustom_pp = 1;
        break;
    }
}
$nccustom_state = ( $nccustom_recurring + $nccustom_pp + $nccustom_downloadable ) + 0;
//****************************************************************************
//* 2015-06-24 12:22 WWM End
//****************************************************************************
?>
<?php if ($this->isAmazonPayButtonEnabled()): ?>

<?php
//****************************************************************************
//* 2015-06-24 12:22 WWM Begin
//* Do not show this payment type when recurring billing is activated
//* for any item.
//****************************************************************************
if ( $nccustom_state == 0 )
{
//****************************************************************************
//* 2015-06-24 12:22 WWM End
//****************************************************************************
?>
    
  <div id="<?php echo $this->getAmazonPayButtonId(); ?>" class="amazon-pay-button" style="float:right;margin-bottom:10px;"></div>

  <script type="text/javascript">
    var authRequest;

    var AmazonButtonOptions = {
        type: "<?php echo $this->getButtonType(); ?>",
        color: "<?php echo $this->getButtonColor(); ?>",
        size: "<?php echo $this->getButtonSize(); ?>",
        authorization: function() {
            loginOptions = {
                scope: "profile payments:widget payments:shipping_address<?php print $this->getAdditionalScope(); ?>",
                response_type: 'token',
                popup: <?php print $this->isPopup(); ?>
            };

            authRequest = amazon.Login.authorize (loginOptions, "<?php echo (!$this->isPopup()) ? $this->getLoginAuthUrl() : $this->getCheckoutUrl(); ?>");
        },
        onError: function(error) {
            console.log(error);
        }
    };

    OffAmazonPayments.Button("<?php echo $this->getAmazonPayButtonId(); ?>", "<?php echo $this->getSellerId(); ?>", AmazonButtonOptions);

  </script>
<?php 
//****************************************************************************
//* 2015-06-24 12:22 WWM Begin
//* Do not show this payment type when recurring billing is activated
//* for any item.
//****************************************************************************
} 
//****************************************************************************
//* 2015-06-24 12:22 WWM End
//****************************************************************************
?>
<?php endif; ?>