<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>

<?php if ($this->isButtonBadgeEnabled()): ?>

<!--<div class="amazon-payments-logo" style="text-align:center;">
    <a href="https://payments.amazon.com/customer" target="_blank" style="max-width: 100%; display: inline-block;">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/Iris3_US/en_US/inca/images/60x38-whitegrad-x2.png" border="0" alt="Amazon Payments" />
    </a>
</div>-->

<?php endif; ?>
