.products-grid .product-info form {
  /*position: relative;
  bottom: -40px;*/
}
.products-grid .actions {
  min-height: 0px !important;
}

.attr-dropdown select {
    width: 160px !important;
}

 @media ( max-width:480px) {
.category-products .button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    background: none repeat scroll 0 0 #3399cc;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 19px;
    padding: 5px 6px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
}

.category-products .link-learn {
    display: block;
}