<?php
$guid     = $this->getGuid();
$title    = $this->getTitle();
$lastname = $this->getLastname();
?>
<div class="content-form pull-right col-sm-4 col-xs-12">
    <form name="content-form" action="https://forms.hubspot.com/uploads/form/v2/349249/<?php echo $guid ?>" method="post">
        <?php if ( ! empty( $title ) ): ?>
            <div class="row">
                <div class="form-title col-xs-12">
                    <?php echo $title ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="row">
            <div class="col-xs-12">
                <input type="text" name="firstname" class="required-entry" placeholder="First Name" />
            </div>
        </div>
        <?php if ( empty( $lastname ) ): ?>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" name="lastname" placeholder="Last Name" />
                </div>
            </div>
        <?php endif; ?>
        <div class="row">
            <div class="col-xs-12">
                <input type="email" name="email" class="required-entry validate-email" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" title="<?php echo $this->__( 'SUBSCRIBE NOW' ) ?>" class="button">
                    <?php echo $this->__( 'SUBSCRIBE NOW' ) ?>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 privacy">
                You may unsubscribe at anytime.
                Read our <a href="<?php echo Mage::getBaseUrl(); ?>privacy-and-security">privacy policy</a>.
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //< ![CDATA[
        var promoForm = new VarienForm('promo-form', false);
        //]]>
    </script>
</div>