<form name="newsletter-form" id="newsletter-form" action="https://forms.hubspot.com/uploads/form/v2/349249/de2fc75e-72d7-4eb7-a277-959781bb6095" method="post">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12 signup-text ">
            <div class="col-xs-2">
                <span class="fa fa-envelope-o"></span>
            </div>
            <div class="col-xs-10">
                <div class="signup-title">
                    <?php echo $this->__('FREE Motivational Quote of the Day') ?>
                </div>
<!--                <div class="signup-subtitle">-->
<!--                    --><?php //echo $this->__('Sed ut perspiciatis unde omnis') ?>
<!--                </div>-->
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-xs-12">
            <input type="text" name="firstname" class="required-entry" placeholder="First Name" />
        </div>
        <div class="col-lg-2 col-sm-6 col-xs-12">
            <input type="email" name="email" class="required-entry validate-email" placeholder="Email" />
        </div>
        <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-push-0 col-sm-push-6">
            <button type="submit" title="<?php echo $this->__( 'SUBSCRIBE NOW' ) ?>" class="button">
                <?php echo $this->__( 'SUBSCRIBE NOW' ) ?>
            </button>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 col-lg-pull-0 col-sm-pull-6 social-media">
            <div class="col-xs-6 follow-text">
                FOLLOW US ON
            </div>
            <div class="col-xs-6">
                <a href="https://www.facebook.com/NightingaleConantCorp" class="fa fa-facebook-square"></a>
                <a href="https://twitter.com/NCDanno" class="fa fa-twitter-square"></a>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //< ![CDATA[
    var promoForm = new VarienForm('newsletter-form', false);
    //]]>
</script>