<?php
$id = $this->getData('id');
$title = $this->getData('title');
/** THUMBNAIL **/
$imagesize = $this->getData('image_size');
$image_file = $this->getData('file');
$width = (int)$this->getData('width');
$height = (int)$this->getData('height');
if(isset($width) && isset($height) && isset($image_file)){
	$thumbnailurl = Mage::helper("ves_base")->resizeImage($image_file, (int)$width, (int)$height);
}
$modid = rand().time();
$enable_collapse = $this->getConfig("enable_collapse", 0);
$aspect_ratio = $this->getConfig("aspect_ratio", "16by9");
?>
<div class="block block-list block-youtube-widget">
	<?php if(isset($title) && trim($title)!=''): ?>
		<div class="block-title">
			<?php if($enable_collapse): ?><span class="opener hidden-lg hidden-md" data-toggle="collapse" data-target="#widget-youtube<?php echo $modid; ?>"><i class="fa fa-angle-down"></i></span><?php endif; ?>
			<strong><span><?php echo $title; ?></span></strong>
		</div>
	<?php endif; ?>
	<div id="widget-youtube<?php echo $modid; ?>" class="widget-inner block-content <?php if($enable_collapse): ?> widget-enanle-collapse collapse in <?php endif; ?> embed-responsive embed-responsive-<?php echo $aspect_ratio; ?>">
		<?php if(!$image_file){ ?>
		<iframe class="embed-responsive-item" width="<?php echo $width ?>" height="<?php echo $height ?>" src="//www.youtube.com/embed/<?php echo $id; ?>" style="border:0px solid" allowfullscreen="allowfullscreen"></iframe>
		<?php }else{ ?>

		<div id="vidwrap<?php echo $modid; ?>" class="video-widget-bg" onclick="playVideo<?php echo $modid; ?>()" style="height: <?php echo $height.'px' ?>; width: <?php echo $width.'px' ?>; background: black url('<?php echo $thumbnailurl ?>') no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden; cursor: pointer;"></div>
<script type="text/javascript">// <![CDATA[
	function playVideo<?php echo $modid; ?>(){
	document.getElementById('vidwrap<?php echo $modid; ?>').innerHTML = '<iframe class="embed-responsive-item" width="<?php echo $width ?>" height="<?php echo $height ?>" src="http://www.youtube.com/embed/<?php echo $this->getData("id"); ?>?autoplay=1&#038;showinfo=0" frameborder="0"></iframe>';}
	document.getElementById("vidwrap<?php echo $modid; ?>").addEventListener("click", playVideo<?php echo $modid; ?>);
	// ]]> </script>

	<?php } ?>

</div>
</div>

