<?php
    $list = $this->getListOfSliders();
    $listCount = count($list);
?>
<div class="content-header">
    <?php echo $this->getHeaderHtml(); ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml(); ?></p>
</div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('List of Sliders')?></h4>
    </div>
    <div class="fieldset">
        <?php if ($listCount) : ?>
        <ul id="list">
            <?php foreach ($list as $slider) : ?>
            <li class="slider <?php echo $slider['statusName']; ?>"><span><?php echo $slider['statusMessage']?></span><?php echo $slider['sliderName']; ?></li>
            <?php endforeach; ?>
        </ul>
        <?php else : ?>
        <p><?php echo $this->__('No sliders to export.'); ?></p>
        <?php endif; ?>
    </div>
</div>
