<div class="content-header">
    <?php echo $this->getHeaderHtml(); ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml(); ?></p>
</div>
<div id="messages">
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><?php echo $this->__('Your server PHP settings allow you to upload files not more than %s at a time. Please modify post_max_size (currently is %s) and upload_max_filesize (currently is %s) values in php.ini if you want to upload larger files.', $this->getDataMaxSize(), $this->getPostMaxSize(), $this->getUploadMaxSize())?></li>
            </ul>
        </li>
    </ul>
</div>
<div class="entry-edit">
<form id="upload_form" action="<?php echo $this->getFormAction(); ?>" method="post" enctype="multipart/form-data">
    <div><input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>"></div>
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload File'); ?></h4>
    </div>
    <fieldset>
        <table cellspacing="0" class="form-list">
            <tbody>
                <tr>
                    <td class="label"><label for="file1"><?php echo $this->__('File'); ?> <span class="required">*</span></label></td>
                    <td class="value"><input id="file1" name="file1" value="" title="Select File to Import" type="file" class="required-entry"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</div>
<script type="text/javascript">//< ![CDATA[
var uploadForm = new varienForm('upload_form');
//]]></script>
