<script type="text/javascript">
var webServiceURL = 'https://www.nightingale.com/soap/ncinternal/server.php?wsdl';
var result;

var xmlRequest = '<?xml version="1.0" encoding="utf-8"?>';
xmlRequest +="<XMLRequest>";
xmlRequest +="<XMLData>";
xmlRequest +="<ServiceName>TestService</ServiceName>";
xmlRequest +="<Version></Version>";
xmlRequest +="<ApplicationArea>ncinternal</ApplicationArea>";
xmlRequest +="<UserName>mediafly</UserName>";
xmlRequest +="<Password>mediaflypass2015</Password>";
xmlRequest +="<EmailAddress>wmikrut@nightingale.com</EmailAddress>";
xmlRequest +="<FirstName>william</FirstName>";
xmlRequest +="<LastName>mikrut</LastName>";
xmlRequest +="</XMLData>";
xmlRequest +="</XMLRequest>";

function CallService()
{
$.ajax({
url: webServiceURL,
type: "POST",
dataType: "xml",
data: xmlRequest,
contentType: "text/xml; charset=\"utf-8\"",
success: OnSuccess,
error: OnError
});

return false;
}

function OnSuccess(data, status)
{
result = data;
}

function OnError(request, status, error)
{
result = error;
}

$(document).ready(function() {
jQuery.support.cors = true;
});

</script>



