<?php
/**
 * @category  WMD
 * @package   WMD_Html5audio
 * @author    Dominik Wyss <info@wmdextensions.com>
 * @copyright 2014 Dominik Wyss | WMD Extensions (http://wmdextensions.com)
 * @link      http://wmdextensions.com
 * @license   http://wmdextensions.com/WMD-License-Community.txt
*/   
 
/** @var $playlist Html5audio_Model_Playlist */
$playlist = Mage::registry('playlist');
$stream = Mage::getStoreConfig('html5audio/sample/stream');
?>           
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Quick Add Playlist Samples') ?></h4>
        <div class="form-buttons"></div>
    </div>
    <div id="edit_task_files" class="fieldset ">
        <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
            <tbody>  
                <tr>
                    <td class="label">
                        <label for="file_name"><?php echo $this->__('Title') ?><span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="file_name" class=" input-text" type="text" title="Title" value="" name="file_name" />
                    </td>
                </tr>
                <?php if ($stream): ?> 
                <tr>
                    <td class="label">
                        <label for="mp3_file"><?php echo $this->__('mp3') ?><span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="mp3_file" class=" input-file" type="file" title="mp3" name="mp3_file" />
                    </td>
                </tr> 
                <tr>
                    <td class="label">
                        <label for="ogg_file"><?php echo $this->__('oga') ?><span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="ogg_file" class=" input-file" type="file" title="oga" name="ogg_file" />
                    </td>
                </tr>   
                <tr>
                    <td class="label">
                    </td>
                    <td class="value">
                        <button id="quickadd" class="scalable " type="button" title="Submit">
                            <span><span><span><?php echo $this->__('Quick Add') ?></span></span></span>
                        </button>  
                        <?php if (!$playlist->getId()): ?>
                        <p class="note"><?php echo $this->__('Click the Save and Continue Edit button before selecting files to have them directly associated to the playlist.') ?></p>
                        <?php endif; ?>
                    </td>
                </tr> 
                <?php else: ?> 
                <tr>
                    <td class="label">
                        <label for="mp3_path"><?php echo $this->__('mp3 URL') ?><span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="mp3_path" class=" input-text" type="text" title="mp3" name="mp3_path" />
                    </td>
                </tr> 
                <tr>
                    <td class="label">
                        <label for="ogg_path"><?php echo $this->__('ogg URL') ?><span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="ogg_path" class=" input-text" type="text" title="oga" name="ogg_path" />
                    </td>
                </tr>             
                <tr>
                    <td class="label">
                    </td>
                    <td class="value">
                        <button id="quickadd" class="scalable " type="button" title="Submit">
                            <span><span><span><?php echo $this->__('Quick Add') ?></span></span></span>
                        </button>  
                        <?php if (!$playlist->getId()): ?>
                        <p class="note"><?php echo $this->__('Click the Save and Continue Edit button before entering file paths to have them directly associated to the playlist.') ?></p>
                        <?php endif; ?>
                    </td>
                </tr> 
                <?php endif; ?> 
            </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
       
jQuery('document').ready(function(){

    var submit = jQuery('#quickadd');
    var formdata = false;
    if (window.FormData) {
        formdata = new FormData();
    }
    submit.click(function() {

        if (formdata) {     
            formdata.append("form_key", FORM_KEY);
            formdata.append("playlist_id", jQuery('#playlist_id').val());
            formdata.append("title", jQuery('#file_name').val());
            <?php if ($stream): ?>
            formdata.append("mp3_file", jQuery('#mp3_file')[0].files[0]);
            formdata.append("ogg_file", jQuery('#ogg_file')[0].files[0]);
            <?php else: ?>
            formdata.append("mp3_path", jQuery('#mp3_path')[0].value);
            formdata.append("ogg_path", jQuery('#ogg_path')[0].value);
            <?php endif; ?>
            formdata.append("extra",'extra-data');
        }

        if (formdata) {

            jQuery.ajax({
                url: "<?php echo Mage::helper('adminhtml')->getUrl('*/adminhtml_playlist_main/upload') ?>",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res) {
                    playlist_samplesJsObject.doFilter();
                }
            });
        }

    });

});

//]]>
</script>

<?php echo $this->getChildHtml('files') ?>


