<?php
/**
 * MageRevolution_PackageProductType extension
 * @category   MageRevolution
 * @package    MageRevolution_PackageProductType
 * @copyright  copyright novusweb llc
 * @author     Christopher Silvey <webmaster@beckindesigns.com> http://www.beckindesigns.com/
 * @co author  Bret Williams <bret.williams@novusweb.com> http://www.novusweb.com/
 */
?>
<?php if ($_item = $this->getItem()): ?>
<table cellspacing="0" class="qty-table">
    <tr>
        <td><?php echo Mage::helper('package')->__('Ordered') ?></td>
        <td><strong><?php echo $_item->getQtyOrdered()*1 ?></strong></td>
    </tr>
    <?php if ((float) $_item->getQtyInvoiced()): ?>
    <tr>
        <td><?php echo Mage::helper('package')->__('Invoiced') ?></td>
        <td><strong><?php echo $_item->getQtyInvoiced()*1 ?></strong></td>
    </tr>
    <?php endif; ?>
    <?php if ((float) $_item->getQtyShipped()): ?>
    <tr>
        <?php if($this->getPackageShipped($_item)): ?>
        <?php else: ?>
            <td><?php echo Mage::helper('package')->__('Shipped') ?></td>
            <td><strong><?php echo $_item->getQtyShipped()*1 ?></strong></td>
        <?php endif; ?>
    </tr>
    <?php endif; ?>
    <?php if ((float) $_item->getQtyRefunded()): ?>
    <tr>
        <td><?php echo Mage::helper('package')->__('Refunded') ?></td>
        <td><strong><?php echo $_item->getQtyRefunded()*1 ?></strong></td>
    </tr>
    <?php endif; ?>
    <?php if ((float) $_item->getQtyCanceled()): ?>
    <tr>
        <td><?php echo Mage::helper('package')->__('Canceled') ?></td>
        <td><strong><?php echo $_item->getQtyCanceled()*1 ?></strong></td>
    </tr>
    <?php endif; ?>
</table>
<?php endif; ?>
