/*!
 * @category   Apptrian
 * @package    Apptrian_ProductSlider
 * @author     Apptrian
 * @copyright  Copyright (c) 2015 Apptrian (http://www.apptrian.com)
 * @license    http://www.apptrian.com/license    Proprietary Software License (EULA)
 */

/* bof Important styles needed for slider to function */
.apptrian-productslider-wrapper {
    clear: both;
}
.apptrian-productslider {
	position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}
.apptrian-productslider-products {
    margin: 0;
    padding: 0;
}
.apptrian-productslider-product {
    float: left;
    margin: 10px;
    /* Check media queries section for width */
}
/* eof Important styles needed for slider to function */

/* bof Controls */
.apptrian-productslider-next-wrapper, .apptrian-productslider-previous-wrapper {
	position: absolute;
	top: 0;
	width: 10%;
	min-width: 52px; /* width should not be less than control links */
	height: 100%;
	text-align: center;
	
	/* This is for vertical centring of controls */
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
	
}
.apptrian-productslider-next-wrapper {
	right: 0;
	background-color: rgba(255,255,255,0.85);
	border-left: 1px solid #ccc;
}
.apptrian-productslider-previous-wrapper {
    left: 0;
    background-color: rgba(255,255,255,0.85);
    border-right: 1px solid #ccc;
}
.apptrian-productslider-next, .apptrian-productslider-previous, 
.apptrian-productslider-show-more {
	
	/* This is for vertical centring of controls */
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url("../images/apptrian/productslider/controls.png") no-repeat;
}
.apptrian-productslider-ajax-loader {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 48px;
    height: 48px;
}
.apptrian-productslider-ajax-loader img {
	width: 100%;
	height: 100%;
	border: none;
}
.apptrian-productslider-next {
	background-position: -48px 0;
}
.apptrian-productslider-previous {
	
}
.apptrian-productslider-next:hover {
    background-position: -48px -48px;
}
.apptrian-productslider-previous:hover {
    background-position: 0 -48px;
}
/* Show More */
.apptrian-productslider-show-more {
	background-position: -96px 0;
}
.apptrian-productslider-show-more:hover {
    background-position: -96px -48px;
}
.apptrian-productslider-next-wrapper a span, .apptrian-productslider-previous-wrapper a span {
	display: none;
}
/* eof Controls */

/* bof Image info element styles */
.apptrian-productslider-product-image a {
	display: block;
	border: 1px solid #ededed;
}
.apptrian-productslider-product-image a:hover {
    border: 1px solid #636363;
}
.apptrian-productslider-product-image a img {
    display: block;
    width: 100%; /* Do Not Change this unless you know what you are doing */
    /* Width of an image is determined by the width of div.apptrian-productslider-product */
}
/* eof Image info element styles */

/* bof Name info element styles */
.apptrian-productslider-product-name {
	text-align: center;
	text-transform: uppercase;
}
/* eof Name info element styles */

/* bof SKU element styles */
.apptrian-productslider-product-sku {
    text-align: center;
}
/* eof SKU element styles */

/* bof Price info element styles */
.apptrian-productslider-product-price {
    text-align: center;
}
.apptrian-productslider-product-price-from {
    margin-right: .4em;
}
.apptrian-productslider-product-price-old {
	color: #a0a0a0;
    text-decoration: line-through;
    margin-right: .4em;
}
/* eof Price info element styles */

/* bof Custom product rating styles */
.apptrian-productslider-product-ratings {
    text-align: center;
}
.apptrian-productslider-product-rating-box {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: url("../images/apptrian/productslider/rating.png") no-repeat;
    background-position: 0 -21px;
    width: 102px;
    height: 21px;
    overflow: hidden;
    
}
.apptrian-productslider-product-rating {
    display: block;
    margin: 0;
    padding: 0;
    background: url("../images/apptrian/productslider/rating.png") no-repeat;
    height: 21px;
}
/* eof Custom product rating styles */

/* bof Default product rating styles */
.apptrian-productslider-product-rating-default {
    text-align: center;
}
.apptrian-productslider-product-rating-default .ratings {
    display: inline-block;
    margin: 0;
}
/* eof Default product rating styles */

/* bof Add to Cart */
.apptrian-productslider-product-add-to-cart, .apptrian-productslider-product-view-details,
.apptrian-productslider-product-out-of-stock {
	text-align: center;
}
/* eof Add to Cart */

/* bof Add to Compare */
.apptrian-productslider-product-compare {
	text-align: center;
}
/* eof Add to Compare */

/* bof Add to Wishlist */
.apptrian-productslider-product-wishlist {
    text-align: center;
}
/* eof Add to Wishlist */

/* bof Custom CSS for scroll bar */
.apptrian-productslider-scroll-bar-wrapper {
	clear: both;
	margin: 0 auto 10px auto;
	padding: 0 .6em; /* This has to be a half of .ui-slider-handle width */
	
	border: 1px solid #ededed;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.85);
	
}
.apptrian-productslider-scroll-bar .ui-slider-handle {
	top: 0;
	width: 1.2em; /* this value is related to .apptrian-productslider-scroll-bar-wrapper padding */
	height: .8em;
	background-color: #999999;
    border-radius: 4px;
}
.apptrian-productslider-scroll-bar .ui-state-focus {
    background-color: #999999;
}
.apptrian-productslider-scroll-bar .ui-state-active {
	background-color: #636363;
}
/* eof Custom CSS for scroll bar */


/* bof Media Queries */

/* FYI 
    - Setting width of products container will automatically resize product image.
    - These depend on your site design and you can change them if you like.
    - media queries are not mandatory.
 */

@media only screen and (min-width: 320px) {
    
    .apptrian-productslider-product {
        width: 164px;
    }
    
}

@media only screen and (min-width: 360px) {
    
    .apptrian-productslider-product {
        width: 204px;
    }
    
}

@media only screen and (min-width: 400px) {
    
    .apptrian-productslider-product {
        width: 96px;
    }
    
}

@media only screen and (min-width: 480px) {
    
    .apptrian-productslider-product {
        width: 136px;
    }
    
}

@media only screen and (min-width: 540px) {
    
    .apptrian-productslider-product {
        width: 164px;
    }
    
}

@media only screen and (min-width: 600px) {
    
    .apptrian-productslider-product {
        width: 194px;
    }
    
}

@media only screen and (min-width: 640px) {
    
    .apptrian-productslider-product {
        width: 210px;
    }
    
}

@media only screen and (min-width: 720px) {
    
    .apptrian-productslider-product {
        width: 154px;
    }
    
}

@media only screen and (min-width: 768px) {
    
    .apptrian-productslider-product {
        width: 168px;
    }
    
}

@media only screen and (min-width: 800px) {
    
    .apptrian-productslider-product {
        width: 176px;
    }
    
}

@media only screen and (min-width: 960px) {
    
    .apptrian-productslider-product {
        width: 218px;
    }
    
}

@media only screen and (min-width: 1024px) {
    
    .apptrian-productslider-product {
        width: 172px;
    }
    
}

@media only screen and (min-width: 1280px) {
    
    .apptrian-productslider-product {
        width: 218px;
    }
    
}

/* eof Media Queries */

