#search .input-search {
font-size: 16px;
height: 50px;
background-color: #FFFFFF;
font-style: italic;
font-family: 'Open Sans', Arial, sans-serif;
width: 475px;
border: 1px solid #000 !important;
}
#header-main #search .button-search {
    height: 50px;
    width: 25px;
    text-align: center;
    line-height: 50px;
    right: 0;
    top: 0;
    color: #000 !important;
    right: 0;
    z-index: 9;
    cursor: pointer;
}
il.parent.dropdown.70redmenu {background-color: rgb(208, 26, 26);}