#search .input-search {
    font-size: 16px;
    height: 50px;
    background-color: #FFFFFF;
    font-style: italic;
    font-family: 'Open Sans', Arial, sans-serif;
    width: 475px;
    border: 1px solid #000 !important;
}

#search .input-group {width: 0;}

#header-main #search .button-search {
    height: 50px;
    width: 25px;
    text-align: center;
    line-height: 50px;
    right: 0;
    top: 0;
    color: #000 !important;
    right: 0;
    z-index: 9;
    cursor: pointer;
}

#ves-mainnav .navbar-nav > li .dropdown-menu {
    background: url( "/media/ves_tempcp/upload/pattern-cj.png") repeat scroll left top !important;
    text-align: left;
    min-width: 16em;
    padding: 10%;
    line-height: 1.45;
    color: #222;
    z-index: 0;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 900;
}

#ves-mainnav .navbar-nav > li .dropdown-menu a {
    font-size: 16px;
    line-height: 30px;
    color: #222 !important;
    font-weight: 600;
}

#ves-mainnav .navbar-nav > li > a {
    font-size: 14px;
    display: block;
    line-height: 14px;
    text-decoration: none;
    float: left;
    padding: 10px 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "proxima_nova_rgbold",sans-serif;
}


div.itoris_pagecontentslider_slide_content {margin: 0px !important;}

#ves-mainnav .navbar-nav > li.dropdown > a > .caret {background: none !important;}

.\37 0redmenu {background-color: #d01a1a;}

.navbar-toggle {margin-top: 0px; float: left;}

.offcanvas-menu {background: url( "/media/ves_tempcp/upload/pattern-cj.png") repeat scroll left top !important;}

#menu-offcanvas .close-mobile-nav.close-block {font-size: 0; line-height: 0;}

#menu-offcanvas .close-mobile-nav.close-block .button-close-menu {color: #A00000; right: 2px; width: 25px}

#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li {border-bottom: none;}

.offcanvas-menu ul.megamenu > li > a {
    line-height: 18px;
    text-decoration: none;
    padding: 10px 15px;
    color: #222;
    background: url( "/media/ves_tempcp/upload/pattern-cj.png") repeat scroll left top;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 0;
    display: block;
    font-size: 14px;
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
    border-right: none;
    border-left: none;
}

span.open-child::after {
    content: ">";
    font-size: 25px;
    font-weight: 900;
}

.over > span.open-child::after {
    content: "<";
    font-size: 25px;
    font-weight: 900;
}

span.open-child {
    margin-top: 0;
    color: #A00000;
}

.cart-inner .fa {
    background: #A00000;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    font-size: 25px;
    float: left;
}

.offcanvas-menu .menu-title {text-transform: uppercase; font-weight: 700;}

.tab-content {padding: 10px 0;}

#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li a {color: #222;}

.navbar {height: 34px; min-height: 34px; border-radius: 2px;}

.cart .totals .checkout-types a:hover {background: none; border: none;}

.cart .totals .checkout-types a {background: none; border: none;}

.add-to-cart button.button:hover span span{
    background: #2F96D6 linear-gradient(to bottom, #2F96D6, #1E6D9E) repeat scroll 0% 0%;
    text-decoration: none;
}

.add-to-cart button.button span span{
background: #F05252 linear-gradient(to bottom, #F05252, #911634) repeat scroll 0% 0%;
border-radius: 12px;
text-shadow: 2px 2px 3px #000;
box-shadow: 0px 1px 3px #666;
font-family: Arial;
color: #E6DC50;
font-size: 20px;
padding: 10px 12px;
text-decoration: none;
display: inherit;
line-height: 0;
border: none;
}  

button.button:hover {background: #008AB5; border-color: #000;}

button.button.btn-cart {border: none; background: none;}

.product-view .product-shop .product-name h1 {font-size: 30px;}

.product-view .product-shop .short-description .std {color: #222; font-size: 16px;}

.product-view .product-shop .short-description {font-size: 20px;}

.discount {background: #fff;}

#shopping-cart-table {background: #fff;}

.shipping {background: #fff;}

.label.configurable-price-from {color: #222;}

.sorter .sort-by select {width: 150px;}

.sorter .view-mode strong {background-color: #1285DD !important; border-color: #1285DD !important;}

.category-description.std img {float: right; margin: 0 0 10px 10px;}

.category-info.clearfix {
    padding: 25px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 3px #666;
}

.page-title h1, .category-title h1 {color: #222; font-size: 35px;}

@media (max-width:1170px) {.navbar {height: 72px; min-height: 72px; border-radius: 2px;}}
@media (max-width:650px) {.navbar {height: 34px; min-height: 34px; border-radius: 2px;}}
@media (max-width:980px) {#header-main #search .input-search {width: 300px;}}
@media (max-width:650px) {#header-main #search .input-search {width: 600px;}}
@media (max-width:400px) {#header-main #search .input-search {width: 300px;}}