<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Acart
 */
?>
<?php
if ($this->getQuote()) {
    $quoteItems = $this->getQuote()->getAllVisibleItems();
?>

<?php $l = count($quoteItems); ?>
<div style="border:1px solid #E0E0E0; padding:15px; background:#F9F9F9;">
<table cellspacing="0" cellpadding="0" border="0" width="550">
    <tr>
    <?php $i = 0; foreach ($quoteItems as $_item): $i++ ?>
        <?php
        
            $_product = $_item->getProduct();
            $price = $this->showPriceIncTax() ? $_item->getPriceInclTax() : $_item->getPrice();
            $price = $_item->getQuote()->getBaseToQuoteRate() * $price;
            $discountPrice = $this->getDiscountPrice($price);
            $showDiscount = $price != $discountPrice && $this->showDiscount();
            
        ?>
        
        <td width="32%">
            <?php if ($this->showImage()) {?>
            <p align="center" style="font-size:12px;"><a href="<?php echo $this->getProductUrl($_product) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" style="border:1px solid #ccc;" width="135" height="135" alt="" /></a></p>
            <?php }?>
            <p align="center" style="font-size:12px;"><a href="<?php echo $this->getProductUrl($_product) ?>" style="color:#203548;"><strong><?php echo $this->escapeHtml($_product->getName()) ?></strong></a></p>
            <?php if ($this->showOptionList() && $_options = $this->getOptionList($_item)) {?>
            
                <div align="center">
                    <?php foreach ($_options as $_option) { ?>
                    <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                    <div><?php echo $this->escapeHtml($_option['label']) ?></div>
                    <div<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?> style="margin-left: 0px;"><?php echo $_formatedOptionValue['value'] ?>
                        <?php if (isset($_formatedOptionValue['full_view'])) { ?>
                        <div>
                            <div>
                                <div><?php echo $this->escapeHtml($_option['label']) ?></div>
                                <div><?php echo $_formatedOptionValue['full_view'] ?></div>
                            </div>
                        </div>
                        <?php } ?>
                    </div>
                    <?php } ?>
                </div>
            
            <?php }?>
            <?php if ($this->showPrice()) {?>
            <p align="center" style="font-size:12px; <?php print $showDiscount ? "text-decoration: line-through;" : "";?>"><?php 
                print $this->__('Price:') ;
                print "&nbsp;";
                print Mage::app()->getLocale()->currency($_item->getQuote()->getQuoteCurrencyCode())
                    ->toCurrency($price);
                if ($_item->getQty() > 1){
                    print '&nbsp;x&nbsp;'.$_item->getQty();
                }
            ?></p>
            <?php }?>
            <?php if ($showDiscount) {?>
            <p align="center" style="font-size:12px;">
                
                <p align="center" style="font-size:12px;"><?php 
                    print $this->__('Discount Price').":" ;
                    print "&nbsp;";
                    print Mage::app()->getLocale()->currency($_item->getQuote()->getQuoteCurrencyCode())
                        ->toCurrency($discountPrice);
                    if ($_item->getQty() > 1){
                        print '&nbsp;x&nbsp;'.$_item->getQty();
                    }
                ?></p>
            </p>
            
            <?php }?>
        </td>
        <?php if ($i%3!=0): ?>
            <td width="2%"></td>
        <?php else: ?>
           </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <?php if ($i<$l): ?>
               <tr>
            <?php endif ?>
        <?php endif ?>
    <?php endforeach ?>
</table>
</div>
<?php }?>
