<?php echo $this->getButtonHtml() ?>
<div id="download-result"></div>
<script type="text/javascript">
    //<![CDATA[
    function downloadReport() {
        window.open("<?php echo $this->getDownloadUrl() ?>", '_blank');
    }
    //]]>
</script>