.itoris_pagetabs_box .itoris_pagetabs_title {
	zoom: 1;
	*display: inline;
	margin: 0 7px -1px 7px;
}
.itoris_pagetabs_box .itoris_pagetabs_title_first {
	margin-left: 0;
}
.itoris_pagetabs_box .itoris_pagetabs_title_last {
	margin-right: 0;
}