.itoris_pagetabs_box ul,.itoris_pagetabs_box li{list-style: none;}
.itoris_pagetabs_box {
	clear: both;
	position: relative;
	overflow: hidden;
}
.itoris_pagetabs_titles_box {
	position: relative;
	border-bottom: 1px solid #cccccc;
}
.itoris_pagetabs_box .itoris_pagetabs_tabs_box {
	position: relative;
	background-color: #ffffff;
}
.itoris_pagetabs_box .itoris_pagetabs_titles_wrapper {
	margin: 0 9px -1px 9px;
	overflow: hidden;
}
.itoris_pagetabs_box .itoris_pagetabs_titles_wrapper.itoris_pagetabs_with_scroll {
	margin-left: 20px;
	margin-right: 20px;
}
.itoris_pagetabs_box .itoris_pagetabs_titles {
	border-bottom: 1px solid #cccccc;
	margin: 0 5px;
	padding:0;
	display: block;
}
.itoris_pagetabs_tabs {
	position: relative;
	border: 1px solid #cccccc;
	border-top: none;
	overflow: hidden;
}
.itoris_pagetabs_box .itoris_pagetabs_title {
	width: auto;
	height: 31px;
	display: inline-block;
	cursor: pointer;
	padding: 0;
	margin: 0 5px -1px 5px;
	background: url(images/title_bg.png) repeat-x;
}
.itoris_pagetabs_box .itoris_pagetabs_title_first {
	margin-left: 0;
}
.itoris_pagetabs_box .itoris_pagetabs_title_last {
	margin-right: 0;
}
.itoris_pagetabs_box .itoris_pagetabs_title_content {
	margin: 7px 15px 0 15px;
}
.itoris_pagetabs_box .itoris_pagetabs_tab {
	position: absolute;
	left: -3000px;
	background-color: #ffffff;
	width: 100%;
}
.itoris_pagetabs_box div.itoris_pagetabs_tab_content {
	margin: 5px;
	width: auto;
}
.itoris_pagetabs_box .itoris_pagetabs_title_bg_left, .itoris_pagetabs_box .itoris_pagetabs_title_bg_right {
	width: 5px;
	height: 31px;
	float: left;
	margin-left: -5px;
	background-image: url(images/title_bg_left.png);
}
.itoris_pagetabs_box .itoris_pagetabs_title_bg_right {
	float: right;
	margin: 0 -5px 0 0;
	background-image: url(images/title_bg_right.png);
}
.itoris_pagetabs_box .itoris_pagetabs_title_active .itoris_pagetabs_title_bg_left {
	background-image: url(images/title_bg_left_active.png);
}
.itoris_pagetabs_box .itoris_pagetabs_title_active .itoris_pagetabs_title_bg_right {
	background-image: url(images/title_bg_right_active.png);
}
.itoris_pagetabs_box .itoris_pagetabs_title_active {
	background: url(images/title_bg_active.png) repeat-x;
}
.itoris_pagetabs_box .itoris_pagetabs_arrow_left, .itoris_pagetabs_box .itoris_pagetabs_arrow_right {
	position: absolute;
	width: 13px;
	height: 19px;
	margin-top: 6px;
	top: 0;
	background: url(images/arrows.png) 0 0 no-repeat;
	cursor: pointer;
}
.itoris_pagetabs_box .itoris_pagetabs_arrow_left {
	left: 0;
}
.itoris_pagetabs_box .itoris_pagetabs_arrow_right {
	right: 0;
	background-position: -13px 0;
}
.itoris_pagetabs_box .itoris_pagetabs_arrow_left_disabled {
	background-position: 0 -19px;
}
.itoris_pagetabs_box .itoris_pagetabs_arrow_right_disabled {
	background-position: -13px -19px;
}
.itoris_pagetabs_loading {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background: url(images/loader.gif) center center no-repeat #ffffff;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_title {display: block;margin:0;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_title_bg_right, .itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_title_bg_left {
	display: none;
}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_titles {border-right: 1px solid #ccc; border-left: 1px solid #ccc;margin:0;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_titles_wrapper {margin:0 !important;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_title_content {margin:0;padding: 4px 10px;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_title_tab_content {height: auto; margin: 0px; display: block;overflow: hidden;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_tab {position: static;left:0;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_tabs {border:none;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_loading {height: 43px; position: static;}
.itoris_pagetabs_box.ipagetabs-responsive .itoris_pagetabs_titles {width: 100% !important;margin-left:0 !important;}