<?php
/**
 * MageRevolution_PackageProductType extension
 * @category   MageRevolution
 * @package    MageRevolution_PackageProductType
 * @copyright  copyright novusweb llc
 * @author     Christopher Silvey <webmaster@beckindesigns.com> http://www.beckindesigns.com/
 * @co author  Bret Williams <bret.williams@novusweb.com> http://www.novusweb.com/
 */
?>
<?php $_item = $this->getItem() ?>
<tr class="border">
    <td><?php echo $this->getColumnHtml($_item, 'name') ?></td>
    <?php if($_item->getOrderItem()->getProductType() == MageRevolution_PackageProductType_Model_Product_Type_Package::TYPE_CODE): ?>
        <td class="a-center last"></td>
    <?php else: ?>
        <td class="a-center last"><?php echo $_item->getQty()*1 ?></td>
    <?php endif; ?>
</tr>
