.itoris_productslider_slider {
	position: relative;
	width: 100%;
}

.std .itoris_productslider_slider ul li {
    margin-left: 0;
}
.itoris_productslider_product {
	position: relative;
	float: left;
	border-right: 1px #d6d6d4 solid;
    margin-left: 10px;
}
.itoris_productslider_main_box {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
    width: 95%;
}
.itoris_productslider_box {
	position: relative;
	left: 0;
}
.itoris_productslider_button_next, .itoris_productslider_button_prev,
.itoris_productslider_button_next_transparent, .itoris_productslider_button_prev_transparent {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	cursor: pointer;
	width: 13px;
	height: 26px;
}
.itoris_productslider_button_next {
	right: 0;
	background: url(../images/button_prev_next.png) -13px 0;
}
.itoris_productslider_button_prev {
	left: 0;
	background: url(../images/button_prev_next.png) 0 0;
}
.itoris_productslider_button_next_transparent {
	right: 0;
	background: url(../images/button_prev_next.png) -13px 26px;
	cursor: default;
}
.itoris_productslider_button_prev_transparent {
	left: 0;
	background: url(../images/button_prev_next.png) 0 26px;
	cursor: default;
}
.item, .std ul, .itoris_productslider_product li{
	list-style: none;
	padding-left: 0;
}
li.itoris_productslider_product {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.itoris_productslider_slider .std ul {
	padding-left: 0;
}
.itoris_productslider_slider .products-grid {
	background: none;
	float:left;
}
.itoris_productslider_slider ul.itoris_productslider_grid {
	border-bottom: 1px #d6d6d4 solid;
	margin: 0;
}
.itoris_productslider_slider .products-grid li.item {
	padding: 12px 10px 5px;
	margin-right: 0;
}
.itoris_productslider_slider .products-grid {
	border-bottom: none;
}
.itoris_productslider_slider .cms-home .col1-layout .products-grid, .cms-index-index .col1-layout .products-grid {
	padding: 0;
	border: none;
}
.itoris_productslider_slider .product-name a {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	text-decoration:none;
	display:block;
}
.itoris_productslider_slider .product-name a:hover {
	text-decoration:underline;
}
.itoris_productslider_slider .ratings .amount a {
	line-height:10px;
	font-size:10px;
}
.itoris_productslider_slider .price-box span,
.itoris_productslider_slider .price-box p {
	font-size:11px;
	line-height:13px;
}
.itoris_productslider_slider .price-box .regular-price .price {
	font-size:13px;
	line-height:15px;
}
.itoris_productslider_slider .price-box p {
	margin:0;
}
.itoris_productslider_slider .actions {
	position:absolute;
	bottom: -5px;
}

.itoris_productslider_slider .price-box{
	margin-bottom:55px;
}
.itoris_productslider_slider ul {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.itoris_productslider_slider .products-grid .product-image img.loading-image {
    width: auto;
}
.itoris_productslider_slider .products-grid .product-image img, .itoris_productslider_slider .products-grid .product-image {
    margin: 0 auto 5px;
    max-width: 135px;
}
.itoris_productslider_slider .products-grid > li:nth-child(3n+1), .itoris_productslider_slider .products-grid > li:nth-child(2n+1) {
    clear: none;
}
.itoris_productslider_slider ul li {
    margin-right: 10px;
}
