
.ui-widget-content{
    background:#FFFFFF!important;
}

.ui-menu li {
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #E9E9E9;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px;
}

ul.ui-autocomplete  > li{
    color: #2F2F2F;
    cursor: pointer;
    margin: 4px 0;
    min-height: 15px;
}
ul.ui-autocomplete  > li {
    text-align: left;
    padding:5px;
}
ul.ui-autocomplete > li p {
    text-align: justify;
}

ul.ui-autocomplete li.ui-menu-item{
    border-width: 1px 0 0;
    margin: 0;
    min-height: 0;
    padding: 0;
}
ul.ui-autocomplete ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.ui-autocomplete ol .price {
    color: #333333;
    float: right;
    font-size: 12px;
    min-height: 10px;
    margin-left: 8px;
    text-align: right;
}
ul.ui-autocomplete ol .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
ul.ui-autocomplete ol .price-new {
    font-weight: bold;
}
ul.ui-autocomplete ol .price-tax {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: normal;
}

#search .category_filter {
    position: relative;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
#search {
  margin-top: 35px;
}
#search .button-search {
  color: #7bbd42;
  background-color: transparent;
  border: none;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#search .input-search {
  font-size: 12px;
  border-left: 1px solid #dcdcdc;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 36px;
  background-color: #FFFFFF;
  font-style: italic;
  font-family: 'Open Sans', Arial, sans-serif;
}
#search .input-search:hover,
#search .input-search:focus {
  outline: none;
}
#search .input-group {
  overflow: visible;
  border: 1px solid #e9e9e9;
  width: 100%;
}
#search .input-group .box{
	margin: 0;
  overflow: visible;
}
#search .category_filter {
  position: relative;
}
#search .category_filter select {
  height: 36px;
  font-size: 13px;
  color: #8c8c8c;
  width: 165px;
  padding: 8px;
  background-color: #f9f9f9;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  border: none;
}
#search .category_filter span {
  background-color: #F9F9F9;
  width: 30px;

  position: absolute;
  right: 0;
  top: 0px;

  padding: 0 10px;
  height: 36px;
  line-height: 36px;
}
.ui-autocomplete{
	top: 35px !important;
	width: 408px;
	z-index: 9999 !important;
	border-radius: 0;
	-moz-border-radius: 0;
	
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{ background: none; border: none; font-weight: inherit; margin: 0 !important;}
.ui-autocomplete-loading
{
   background: #fff url(image/ajax-loader.gif) no-repeat 95%; 
}