/* Browser Resets
*********************************/
.awis-container a:active,
.awislider a:active,
.awis-container a:focus,
.awislider a:focus {
    outline: none;
}

.slides,
.awis-control-nav,
.awis-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.awislider .slides {
    margin-bottom: 0;
}

.awislider .slides li {
    margin-left: 0;
}

/* awislider Necessary Styles
*********************************/
.awislider {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.awislider .slides > li,
.awislider .slides > iframe {
    -webkit-backface-visibility: hidden;
    position: relative;
    float: left;
    margin-right: -100%;
    display: block;
    z-index: 1;
    top: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.awislider .slides img {
    max-width: 100%;
    display: block;
}

.awis-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* awislider Default Theme
*********************************/
.awislider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}

.awis-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .awis-viewport {
    max-height: 300px;
}

.awislider .slides {
    zoom: 1;
    max-width: 100%;
    max-height: 100%;
}

.carousel li {
    margin-right: 5px;
}

/* Direction Nav */
.awis-direction-nav {
    *height: 0;
    margin-bottom: 0 !important;
}

.awis-direction-nav li {
    list-style-type: none;
}

.awis-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.awis-direction-nav .awis-prev,
.awis-direction-nav .awis-next {
    background: url("../images/sprite.png") no-repeat;
    width: 31px;
    height: 31px;
    border: 0;
    cursor: pointer;
}

.awis-direction-nav .awis-prev {
    background-position: 0 0;
    left: 10px;
    opacity: 0.7;
}

.awis-direction-nav.auto-hide .awis-prev {
    left: -50px;
}

.awis-direction-nav .awis-next {
    text-align: right;
    background-position: -45px 0;
    right: 10px;
    opacity: 0.7;
}

.awis-direction-nav.auto-hide .awis-next {
    right: -50px;
}

.awislider:hover .awis-prev {
    opacity: 0.7;
    left: 10px;
}

.awislider:hover .awis-next {
    opacity: 0.7;
    right: 10px;
}

.awislider:hover .awis-next:hover, .awislider:hover .awis-prev:hover {
    opacity: 1;
}

.awis-direction-nav .awis-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

/* Pause/Play */
.awis-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.awis-pauseplay a:hover {
    opacity: 1;
}

/* Control Nav */
.awis-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.awislider .awis-control-nav.auto-hide {
    bottom: -40px;
}

.awislider:hover .awis-control-nav.auto-hide {
    bottom: 10px;
}

.awis-control-nav li {
    margin: 0 6px !important;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.awis-control-nav li a {
    position: relative;
    z-index: 5;
}

.awis-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    margin: 0 -2px;
    width: 19px;
    height: 19px;
    background: url("../images/sprite.png") -40px -40px no-repeat;
}

.awis-control-paging li a:hover {
    background-position: 0 -45px;
}

.awis-control-paging li a.awis-active {
    background-position: 0 -45px;
}

.awis-control-nav.auto-hide {
    opacity: 0;
}

.awislider:hover .awis-control-nav.auto-hide {
    opacity: 1;
}

.awislider .awis-control-nav.auto-hide:hover {
    opacity: 1;
}

.awis-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.awis-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.awis-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.awis-control-thumbs img:hover {
    opacity: 1;
}

.awis-control-thumbs .awis-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .awis-direction-nav .awis-prev {
        opacity: 1;
        left: 10px;
    }

    .awis-direction-nav .awis-next {
        opacity: 1;
        right: 10px;
    }
}

.awis-jalousie-slice {
    position: absolute;
    top: 0;
}

img.slide-left {
    left: 100%;
    position: absolute;
    top: 0;
}

img.slide-right {
    left: -100%;
    position: absolute;
    top: 0;
}

.awislider .slides li.blind {
    display: block;
    opacity: 1 !important;
    z-index: 2;
}